[2021-04-05 20:04] HEIGE-PCloud opened #9 "[FEATURE] Black Theme"
### Describe the feature you want

- Provide a complete black theme

The current dark mode is a grey theme, which does not look very well on OLED display. A complete black theme with black background will help saving power and makes it look better in some ways.

### Useful reference

The black theme of [Twitter](https://twitter.com/) is a good example.

[2021-04-05 20:08] HEIGE-PCloud opened #10 "[FEATURE] Switch Theme Drop-down menu"
### Describe the feature you want

- A drop down menu for user to choose between different color themes between “black", "dark", "light", "auto".

### Useful reference 有价值的参考

The change theme button of the Eureka theme is a good example.

https://www.wangchucheng.com/en/docs/hugo-eureka/

[2021-04-06 14:39] HEIGE-PCloud opened #11 "[BUG] The Instagram Shortcode has an API error"
https://khusika.com/instagram-shortcode-in-hugo/

[2021-04-13 18:26] HEIGE-PCloud opened #17 "[BUG] The mermaid graph has rendering error"
https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#5-mermaid

Cannot display correctly.

[2021-04-13 19:04] HEIGE-PCloud commented on #17
The issue happens to classDiagram and gitGraph.

[2021-04-15 11:28] HEIGE-PCloud opened #1 "[FEATURE] Black Theme"
### Describe the feature you want

- Provide a complete black theme

The current dark mode is a grey theme, which does not look very well on OLED display. A complete black theme with black background will help saving power and makes it look better in some ways.

### Useful reference

The black theme of [Twitter](https://twitter.com/) is a good example.

[2021-04-15 11:28] HEIGE-PCloud opened #2 "[FEATURE] Switch Theme Drop-down menu"
### Describe the feature you want

- A drop down menu for user to choose between different color themes between “black", "dark", "light", "auto".

### Useful reference

The change theme button of the Eureka theme is a good example.

https://www.wangchucheng.com/en/docs/hugo-eureka/

[2021-04-15 11:29] HEIGE-PCloud opened #3 "[BUG] The mermaid graph has rendering error"
https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#5-mermaid

Cannot display correctly.

The issue happens to classDiagram and gitGraph.

[2021-04-15 11:30] HEIGE-PCloud opened #4 "[BUG] The Instagram Shortcode has an API error"
https://khusika.com/instagram-shortcode-in-hugo/

[2021-04-16 11:55] HEIGE-PCloud opened #5 "[ENHANCEMENT] The horizontal rules need to be more conspicuous"
The current style of horizontal rules (triggered by `___`, ~---~, `***`) is horrible and makes it indistinguishable at all. It need to be thicker with a different color.

[2021-04-16 12:05] HEIGE-PCloud opened #6 "[BUG] Scrolling the headings behind the header"
Reference: [how to prevent anchor links from scrolling behind fixed or sticky headers](https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css/)

[2021-04-16 12:36] #6 closed, assigned to nobody

[2021-04-17 17:28] #1 closed, assigned to nobody

[2021-04-17 17:37] HEIGE-PCloud opened #8 "[ENHANCEMENT] Optimize SEO"
Use `<button>` instead of `<a>` tag and `javascript:void(0)` to make SEO happy.

[2021-04-17 17:41] HEIGE-PCloud commented on #4
https://github.com/gohugoio/hugo/issues/7879

[2021-04-18 12:01] HEIGE-PCloud commented on #3
Downgrade to version `mermaid@8.5.1` solve the problem. But at the latest version of mermaid will still have an error about `getThemeVariables`.

[2021-04-24 13:04] HEIGE-PCloud opened #16 "[CHORE] Update Theme Documentation"
Adapt theme documentation from LoveIt to DoIt

[2021-04-24 13:44] HEIGE-PCloud commented on #16
I can only provide English and Chinese translation; the French documentation will remain unchanged.

[2021-04-24 21:43] HEIGE-PCloud opened #20 "[FEATURE] Add support for waline comment system"
https://github.com/lizheming/waline

A better comment system than [Valine](https://github.com/xCss/Valine).

[2021-04-25 08:19] #16 closed, assigned to HEIGE-PCloud

[2021-04-25 15:31] HEIGE-PCloud opened #22 "[BUG] Image elements do not have explicit width and height"
Reference: https://web.dev/optimize-cls

Related file: `\layouts\partials\plugin\image.html`

The large CLS caused by the featured picture will let smooth scroll fail to go to the correct place.

[2021-04-25 17:02] HEIGE-PCloud opened #23 "[FEATURE] Different Style for TOC"
The `max-width: 800px` setting on the article element leaves a lot of blank space on a wide screen. The position and margin of TOC and article need some redesigns.

Different styles can be left as a setting which can be switched by the user manually for each post or entire site, or it can be adjusted by the reader with a button.

[2021-04-25 17:05] HEIGE-PCloud commented on #23
## Possible layout 1

![image](https://user-images.githubusercontent.com/52968553/116002210-88282b00-a5f0-11eb-8191-616dbde3a21f.png)

[code]

[2021-04-25 17:40] HEIGE-PCloud commented on #23
## Possible layout 2

![image](https://user-images.githubusercontent.com/52968553/116003323-60879180-a5f5-11eb-97bf-8c8500b5fed9.png)

[code]

[2021-04-25 17:53] HEIGE-PCloud commented on #23
## Possible layout 3

![image](https://user-images.githubusercontent.com/52968553/116003782-69796280-a5f7-11eb-9e50-1b2310196f1b.png)

![image](https://user-images.githubusercontent.com/52968553/116003812-9299f300-a5f7-11eb-8750-97cdcca0eb71.png)

Use a button to turn TOC on and off. The CSS needs to be further optimized.

[2021-04-25 17:59] HEIGE-PCloud commented on #23
I think change `max-width: 800px;` to `max-width: initial;` can be the first harmless step.

[2021-04-27 07:35] #5 closed, assigned to nobody

[2021-04-28 12:27] #2 closed, assigned to nobody

[2021-04-29 11:30] wu-yue-yu commented on #23
Wow, that's what I'm looking for, I like LoveIt theme, but it seems that the author has abandoned it.
I always thinks that the width is too small, so the reading experience is not good.
BTW, I prefer layouts 1 :)

[2021-04-29 12:20] wu-yue-yu opened #30 "A possible friend links layout"
I also copy from other guys, but I forget to save the author's link. If there's infringement, please tell me, since I can't contact with the author.
[My friend links webpage](https://www.summerfire.cn/friend/)

[2021-04-29 12:21] wu-yue-yu commented on #30
Oh, I guess I find it.
I copied the layout from [here](https://blog.233so.com/2020/04/friend-link-shortcodes-for-hugo-loveit/)

[2021-04-29 17:54] HEIGE-PCloud commented on #30
Check it out at this [page](https://776ed259.hugodoit.pages.dev/friend-link-tests/), try different color theme and mobile/desktop view, tell me what you think~😆

[2021-04-30 08:57] #30 closed, assigned to HEIGE-PCloud

[2021-04-30 12:26] #20 closed, assigned to nobody

[2021-04-30 13:23] HEIGE-PCloud commented on #23
Layout 1 has been implemented. This issue will be closed by #35 , if there are future needs for other possible layouts, it's more than welcome to reopen this issue.

[2021-04-30 15:08] HEIGE-PCloud commented on #23
## Possible layout 4

Add a button to switch toc between `auto-toc` and `static-toc`. Should be quite easy to implement.

[2021-04-30 22:08] HEIGE-PCloud commented on #22
Reference: https://gohugo.io/content-management/image-processing/#readout

[2021-05-01 09:55] HEIGE-PCloud commented on #22
The loading svg is causing a lot of problems. I am considering replace the lazysizes lazy load with some native method.

[2021-05-01 12:02] #3 closed, assigned to nobody

[2021-05-01 12:04] HEIGE-PCloud commented on #4
I will just delete related documentation. If anyone really want to embed some Facebook or Instagram, they can implement themself.

[2021-05-01 12:13] #4 closed, assigned to nobody

[2021-05-01 12:33] #23 closed, assigned to nobody

[2021-05-02 08:04] yanboyang713 opened #40 "[BUG] failed to render pages: render"
render 报错
hugo version
hugo v0.82.0+extended linux/amd64 BuildDate=unknown

Error: Error building site: failed to render pages: render of "page" failed: execute of template failed: template: posts/single.html:103:124: executing "content" at <partial "function/content.html">: error calling partial: "/home/yanboyang713/yanboyang713.github.io/themes/DoIt/layouts/partials/function/content.html:4:19":

[2021-05-02 08:10] HEIGE-PCloud commented on #40
Weird, the exampleSite can run normally.

[2021-05-02 08:14] sosiristseng commented on #40
This was the same issue as: https://github.com/sunt-programator/CodeIT/issues/68

For newer versions of Hugo, we need to check if the content is empty before inserting partials.

[2021-05-02 08:19] HEIGE-PCloud commented on #40
faster than me awwwwwww

[2021-05-02 08:22] #40 closed, assigned to nobody

[2021-05-02 09:28] #22 closed, assigned to nobody

[2021-05-03 03:08] yanboyang713 opened #44 "[BUG] 你们都是把你们的blog部署在那里？github pages？"
你们都是把你们的blog部署在那里？github pages？

我在本地
hugo server -D
显示都比较正常。
本地hugo version
hugo v0.82.0+extended linux/amd64 BuildDate=unknown

用github action build 时会报错， 用的是hugo v0.83.1：

Run hugo --minify
Start building sites …
WARN 2021/05/03 02:59:10 found no layout file for "HTML" for kind "home": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.
WARN 2021/05/0

[2021-05-03 05:18] sosiristseng commented on #44
我是部屬在 GitHub pages, 新版hugo運作正常

https://github.com/sosiristseng/template-hugo-doit

[2021-05-03 09:00] HEIGE-PCloud commented on #44
你是将主题作为submodule导入的，但是你的Github Actions的workflow file并没有check out submodules，所以主题事实上都没有被下载，因此报错`no layout file`。

[code]

将checkout部分添加以上配置。

阅读这份[文档](https://gohugo.io/hosting-and-deployment/hosting-on-github/)查看更多关于部署GitHub Pages的帮助。

[2021-05-03 11:37] HEIGE-PCloud opened #46 "Add DoIt theme to hugoThemes"
As `v0.2.11` release will be the first release from DoIt theme, I plan to add the DoIt theme to hugo official theme site so more people can discover this theme. There are still some work to do to optimize the theme to meet the requirements.

Here are the requirements: https://github.com/gohugoio/hugoThemes/blob/master/README.md

[2021-05-03 11:40] HEIGE-PCloud commented on #46
The original LoveIt theme's submission is a good negative example.

https://github.com/gohugoio/hugoThemes/issues/700

[2021-05-03 19:07] yanboyang713 commented on #44
@sosiristseng @HEIGE-PCloud
感谢，感谢。我琢磨一下。这刚想把自己的blog从hexo转到hugo上

[2021-05-03 19:39] HEIGE-PCloud commented on #44
Now I have the deep understanding of the true meaning of [Netorare](https://github.com/yanboyang713/yanboyang713.github.io/blob/e6d81d8275fc7c9c36bfd11dfbb8e420592202ee/config.toml#L9).  Sayonara.

[2021-05-03 19:39] #44 closed, assigned to nobody

[2021-05-04 05:45] sosiristseng opened #48 "[BUG] Search index is still on LoveIt"
### Describe the bug 描述你遇到的错误

The search index of https://hugodoit.pages.dev/ is still on LoveIt.

### Expected behavior 期待的行为

The Algolia search index should be updated to the contents of DoIt theme.

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/40054455/116963539-b0dcae80-acdb-11eb-921e-e968bec4e668.png)

### Build Environment 构建环境

https://github.com/HEIGE-PCloud/D

[2021-05-04 06:59] HEIGE-PCloud commented on #48
To make life easier, I just use the Lunr.js instead on the exampleSite.

More Reference: https://hugodoit.pages.dev/theme-documentation-basics/#52-search-configuration

[2021-05-04 07:09] sosiristseng commented on #48
Closed by https://github.com/HEIGE-PCloud/DoIt/commit/ade7d33c19b1e99f298973c6e735cc30e0fab4a0

[2021-05-04 07:18] HEIGE-PCloud commented on #48
The Algolia search is a significantly better option, it will be configured later.

[2021-05-04 07:55] sosiristseng commented on #48
Sorry for hastily closing the issue.

[2021-05-04 12:08] #48 closed, assigned to nobody

[2021-05-04 12:11] HEIGE-PCloud commented on #48
![image](https://user-images.githubusercontent.com/52968553/117001416-3bbca980-acda-11eb-9acb-f7e3d57feae3.png)

Fixed! Woohoo~😁

[2021-05-04 12:19] HEIGE-PCloud commented on #46
Task list:
- [x] Configure `theme.toml` (Need to update the `min_version`)
- [x] Configure `README.md`
- [x] Configure `README.zh-cn.md`
- [x] Update `/images/screenshot.png` and `/images/tn.png`
- [x] Configure `.gitignore` file for resources folder
- [x] Test with the [build script](https://github.com/gohugoio/hugoThemes/blob/master/_script/generateThemeSite.sh)

[2021-05-04 12:40] HEIGE-PCloud opened #52 "[CHORE] Update libs"
Attempt to upgrade some [libs](https://github.com/HEIGE-PCloud/DoIt/tree/main/assets/lib).

[2021-05-04 12:42] HEIGE-PCloud commented on #52
Currently, the libraries still need to be upgraded manually. Some custom update scripts may be introduced in the future.

[2021-05-04 20:02] HEIGE-PCloud opened #53 "Add documentation on configuring PWA"

[2021-05-04 20:05] HEIGE-PCloud opened #54 "Create Changelog for v0.2.11"
Currently, the commit message is a mess and does not follow any guidelines which makes auto generating tools unusable. For this release, the changelog needs to be written and checked by hand.

Need to pick a changelog generator and list the rules for commit message in `CONTRIBUTING.md`.

[2021-05-04 20:08] HEIGE-PCloud commented on #8
After some failed attempts, this change will be lowered priority and Release `v0.2.11` will not contain this optimization.

[2021-05-05 12:26] HEIGE-PCloud commented on #46
# Theme submission

**Please make sure that you have read the [theme submission guidelines](https://github.com/gohugoio/hugoThemes/blob/master/README.md#adding-a-theme-to-the-list) before submitting a theme**. The guidelines provide all relevant information and requirements that **have to be fulfilled** before the submission. We strongly suggest that you test your theme with the [Hugo Themes Build

[2021-05-05 12:32] HEIGE-PCloud commented on #46
The `series = ["Themes Guide"]` in the frontmatter of [hugoBasicExample](https://github.com/gohugoio/hugoBasicExample/blob/4a9e2433df3eeb7e78cc7f4ef2309e81af3e71dd/content/post/markdown-and-html-syntax.md) is causing problem.

[2021-05-05 20:53] HEIGE-PCloud commented on #46
The theme has been submitted https://github.com/gohugoio/hugoThemes/issues/1011

[2021-05-05 21:01] HEIGE-PCloud commented on #46
We probably should not expect the review to be done very quickly based on the recorded long average waiting time...🤔

[2021-05-06 12:09] HEIGE-PCloud commented on #53
1. Configure the `site.webmanifest`
2. Configure the offline page
3. Enable the `enablePWA` option

[2021-05-10 15:05] #52 closed, assigned to nobody

[2021-05-15 20:40] #54 closed, assigned to nobody

[2021-05-16 12:37] HEIGE-PCloud commented on #46
![image](https://user-images.githubusercontent.com/52968553/118397338-63513180-b64b-11eb-8f7b-6b0e53e975e7.png)

https://github.com/gohugoio/hugoThemes/pulse/monthly

Apparently, no theme is accepted in the past one month. The issue will be closed, and I will keep an eye on it. UwU

[2021-05-16 12:37] #46 closed, assigned to HEIGE-PCloud

[2021-05-17 10:10] #53 closed, assigned to HEIGE-PCloud

[2021-05-22 21:45] HEIGE-PCloud opened #67 "[FEATURE] Update the custom style for Waline and Valine comment system"
The current style for both comment system is just rubbish.

![image](https://user-images.githubusercontent.com/52968553/119241564-505cc680-bb4f-11eb-9533-98a46436533e.png)

Need some rewrite to `Waline.scss` and `valine.scss`.

[2021-05-22 21:49] HEIGE-PCloud commented on #67
I would like to drop the support for [Valine](https://valine.js.org). It is not safe, not powerful and not being updated frequently. But the only reason for keeping it is its decent support for [KaTeX](https://katex.org/), everything renders correctly and there is even preview for maths formulae. The [Waline](https://waline.js.org) supports that by the trash MathML, while no input preview is provi

[2021-05-23 22:01] HEIGE-PCloud opened #69 "[DOCUMENTATION] Optimize documentation site"
Several things need to be improved.
1. Need to add explicit height and width to all pictures.
2. Need to improve the punctuation of the Chinese site.
3. Need to update the French site.

[2021-05-23 22:04] HEIGE-PCloud opened #70 "[Accessibility] Need to improve the link color under dark mode"
Background and link colors do not have a sufficient contrast ratio in dark mode.

![image](https://user-images.githubusercontent.com/52968553/119278123-3dafc380-bc1b-11eb-9832-82ddbd35585b.png)

[2021-05-25 13:59] vicevolf opened #71 "[FEATURE] 加入 fusejs 进行搜索"
### Describe the feature you want 描述你的功能需求

在中文环境下，使用 fusejs 似乎比 lunrjs 更友好。
这个是例子 https://themes.gohugo.io/hugo-theme-zdoc/

### Useful reference 有价值的参考

https://fusejs.io/

[2021-05-26 12:18] wey-gu opened #74 "[FEATURE] Add Portfolio/Show case"
### Describe the feature you want 描述你的功能需求

- Add page of Projects or Portfolio
Like a page or a section on the home page showing some of the projects(could be a post) :-)

Thank you PCloud for taking over loveit!

*I really liked what's offered by loveit/doit and its design language, I am planning to mitigate the "projects" with some markdown tables in a post named `projects.md` for now, just wou

[2021-05-26 14:12] HEIGE-PCloud commented on #74
Definitely! I think this can be supported by a new shortcode which shares the similar idea with the [`friend` shortcode](https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#12-friend) but with a different design. I will look into it and hopefully this can be supported very soon 😊

[2021-05-26 14:27] HEIGE-PCloud opened #75 "[BUG] Issue with the `wide` style"
Issue with the `wide` style. When the TOC is turned off, the article body is not in the middle.

![image](https://user-images.githubusercontent.com/52968553/119677542-b76fc900-be36-11eb-82ce-a053cf824f3a.png)

[2021-05-26 20:35] HEIGE-PCloud commented on #74
A preview of what the `showcase` shortcode looks like.

![image](https://user-images.githubusercontent.com/52968553/119727238-f5d2ab80-be69-11eb-9fc2-321e0ae12e1e.png)

I have noticed that there is a lot of blank space on both sides. After #75 is fixed, a three-column configuration will be released.

[2021-05-27 01:30] wey-gu commented on #74
Dear Pcloud,
I dont know what to say, this is next level dope && making-me-cry!

You are amazing!!!

[2021-05-27 11:30] HEIGE-PCloud commented on #74
A preview of what three-column wide configuration may look like.
![image](https://user-images.githubusercontent.com/52968553/119818604-52c07700-bee7-11eb-992b-11871f7d659c.png)

[2021-05-27 11:32] HEIGE-PCloud commented on #74
The `showcase` shortcode has been merged into the main branch. Check it out!

[Test page](https://hugodoit.pages.dev/showcase-tests/)
[Documentation](https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#13-showcase)

[2021-05-27 13:05] #74 closed, assigned to nobody

[2021-05-27 13:05] #75 closed, assigned to nobody

[2021-05-27 16:15] wey-gu commented on #74
Dear @HEIGE-PCloud ,

不知道说什么了，你真的太给力了，谢谢你 :-)，我放了几个内容上去回来发现你又支持column了，👍🏻。

[2021-05-27 16:16] wey-gu commented on #74
and, it worked like a charm :)

https://siwei.io

[2021-05-28 02:01] GaHoWong opened #78 "[FEATURE] Some feature：支持pjax刷新"
### Describe the feature you want 描述你的功能需求
  你好，我最近遇到了一些棘手的问题，在我使用APlayer音乐播放器当作背景音乐时，当我点击主题的其他地方，音乐就会刷新并重新播放，这种体验很糟糕。也让我很苦恼，当我去寻找解决方法是发现使用PJAX可以完美解决我的问题，我还发现hexo最热门的那几个主题同样使用了PJAX，比如next、butterfly、sakura、material-x等等主题。

  使用pjax的体验很好，在点击其它地方时，比如footer、header这些可以不用重复加载，减少服务器压力，提高加载速度，提升用户体验。

pjax具有以下优点：
按需请求，每次只需加载页面的部分内容，而不用重复加载一些公共的资源文件和不变的页面结构，大大减小了数据请求量，以减轻对服务器的带宽和性能压力，还大大提升了页面的加载速度
常规页面跳转需要

[2021-05-28 12:05] HEIGE-PCloud commented on #78
pjax刷新确实是一个很有用的功能，但使用它需要修改大量代码。我会试着进行修改，但很难在短期内添加pjax的支持 UwU

[2021-05-28 13:16] #67 closed, assigned to HEIGE-PCloud

[2021-05-28 13:41] #70 closed, assigned to HEIGE-PCloud

[2021-05-28 14:18] GaHoWong commented on #78
好，这是个长期且困难的计划，短期内确实很难实现，有你这句话我就放心。**love it and just do It！** 加油

[2021-05-28 19:43] starsareintherose opened #81 "[BUG] code block 命令行溢出"
### Describe the bug 描述你遇到的错误
code block 命令行溢出

### Expected behavior 期待的行为

code block 可以滑动

### Screenshots 屏幕截图

![2021-05-29 03-40-09 的屏幕截图](https://user-images.githubusercontent.com/37733075/120034673-fe74de80-c02f-11eb-9d4c-4d12ceac6f67.png)

### Build Environment 构建环境

- OS: ArchLinux
- Theme version/commit [latest]
- Hugo version [latest]

Please try to use Hugo **extended** version before

[2021-05-28 19:45] starsareintherose opened #82 "[FEATURE] 友情链接卡片"
### Describe the feature you want 描述你的功能需求

- Feature  功能需求 友情链接卡片

### Useful reference 有价值的参考

https://9lewl.com/Friends.html

https://bore.vip/archives/hugo-theme-LoveIt/
（根据这个链接，本主题不显示图片）

[2021-05-28 20:51] HEIGE-PCloud commented on #82
友链已经支持了，这是相关[文档](https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#12-friend)，这是[测试页面](https://hugodoit.pages.dev/friend-link-tests/)。

[2021-05-28 20:51] #82 closed, assigned to nobody

[2021-05-28 21:05] HEIGE-PCloud commented on #81
![image](https://user-images.githubusercontent.com/52968553/120041694-a07cd280-c000-11eb-97d4-64b430d96994.png)

[修复完成](https://hugodoit.pages.dev/markdown-tests/#code)，请更新主题至最新的commit。

[2021-05-28 21:06] #81 closed, assigned to nobody

[2021-05-29 01:27] starsareintherose opened #84 "[FEATURE] 更换Researchgate图标"
### Describe the feature you want 描述你的功能需求

- Feature 更换Researchgate图标，别的社交媒体都是圆角，RG是直角
- ...

### Useful reference 有价值的参考

If available, provide useful links to fulfill the feature.
如果可以的话, 提供实现这个功能的相关参考链接.

[2021-05-29 01:52] starsareintherose opened #85 "[BUG] Contents被转移到头部而不是侧边栏"
### Describe the bug 描述你遇到的错误

Contents被转移到头部而不是侧边连

### Expected behavior 期待的行为

Contents转移到侧边栏

### Screenshots 屏幕截图

![2021-05-29 09-51-06 的屏幕截图](https://user-images.githubusercontent.com/37733075/120054595-67c21500-c063-11eb-805c-0ee99b6bf220.png)

### Build Environment 构建环境

- OS: [ArchLinux]
- Theme version/commit [latest]
- Hugo version [latest]

Please try to use Hugo **extended** version

[2021-05-29 02:59] starsareintherose opened #87 "[FEATURE] 文章置顶功能"
### Describe the feature you want 描述你的功能需求

- Feature 1 文章置顶功能

### Useful reference 有价值的参考

不知是否存在，但是没有搜索到

[2021-05-29 07:19] HEIGE-PCloud commented on #87
在 front matter 里用 `weight` 参数来设置置顶。

Ref: https://gohugo.io/content-management/front-matter/

[2021-05-29 07:20] HEIGE-PCloud commented on #85
你好好读一下文档吧，别啥都发issue

https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#site-configuration

[2021-05-29 07:21] #87 closed, assigned to nobody

[2021-05-29 07:22] #85 closed, assigned to nobody

[2021-05-29 07:32] HEIGE-PCloud commented on #84
图标均来自于 [Font Awesome](https://fontawesome.com/v5.15/icons/researchgate)

[2021-05-29 07:32] #84 closed, assigned to nobody

[2021-05-30 13:44] HEIGE-PCloud opened #90 "[FEATURE] Add support for twikoo comment system"
[Twikoo](https://twikoo.js.org/) seems to be a powerful comment system. But it does not have English language support and require Tecent Cloudbase. It seems that they are working on [Vercel deployment support](https://github.com/imaegoo/twikoo/pull/174). I will keep looking into it and add support for twikoo comment when it's ready.

[2021-06-04 05:02] techkoala opened #93 "[Bug] 竖屏显示标题栏网站标题位置需要调整一下"
### Expected behavior 期待的行为

竖屏的时候网站标题位置有点奇怪，希望可以更靠左一些

### Screenshots 屏幕截图

![屏幕截图 2021-06-04 125957](https://user-images.githubusercontent.com/67769327/120748099-cc361600-c534-11eb-9842-aceebdf66bd2.jpg)

[2021-06-04 08:58] techkoala commented on #93
补充一下，发现标题位置是根据浏览器窗口大小自适应的，上面截图的情况是最大化窗口时的情形（16：9屏幕竖向放置）

[2021-06-04 09:17] HEIGE-PCloud commented on #93
https://b0e69a56.hugodoit.pages.dev/

更改了相关的CSS样式，能否在这个网站上进行一下测试，查看是否生效？

[2021-06-04 13:46] techkoala commented on #93
辛苦了~

现在是固定了？
![屏幕截图 2021-06-04 214549](https://user-images.githubusercontent.com/67769327/120811232-56569c80-c57e-11eb-9105-d9bc694ea553.jpg)
是这样的效果，无论窗口大小

[2021-06-04 13:59] #93 closed, assigned to nobody

[2021-06-05 00:12] xqbumu opened #96 "[FEATURE] 添加多作者分类"
### Describe the feature you want 描述你的功能需求

- 文章的 meta 中通过 authors 数组传入多个作者名
  点击作者可以链接到对应作者参与的文章列表。

### Useful reference 有价值的参考

https://minimo.netlify.app/docs/katex-support/

我目前正常尝试迁移该功能

### 迁移功能点

- [x] 参考 minimo 的相关逻辑，点击作者名后进入作者及文章列表。
- [ ] 在作者列表页面修改作者名链接到自定义链接。
- [ ] 如果作者信息没有单独录入，则使用 config 配置，以保持兼容性。

### 需要的帮助

本人非前端开发人员，对于样式方面修改需要一定支持或协助。

望反馈！

[2021-06-08 06:43] #96 closed, assigned to nobody

[2021-06-08 13:51] #90 closed, assigned to nobody

[2021-06-11 08:53] #71 closed, assigned to nobody

[2021-06-15 08:41] #8 closed, assigned to HEIGE-PCloud

[2021-06-17 03:28] VanLiuZhi opened #107 "[BUG] 标题的打字效果有BUG"
### Describe the bug 描述你遇到的错误

BUG如图所示

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/22883555/122326448-e3c2c500-cf5e-11eb-8881-e1c518140da3.png)

### Build Environment 构建环境

- OS: [e.g. macOS]
- Theme version master最新
- Hugo Static Site Generator v0.80.0/extended darwin/amd64 BuildDate: unknown

[2021-06-17 09:35] HEIGE-PCloud commented on #107
![image](https://user-images.githubusercontent.com/52968553/122371234-9d1d9c80-cf57-11eb-8f9b-f04ce76ea03f.png)

没有能够复现，能否提供更详细的信息？也可以提供网站源文件以便调试。

[2021-06-18 02:07] VanLiuZhi commented on #107
没有复现吗？我好好看了文档，安装了最新版本的hugo，直接hugo new site 一个新项目，然后把我的content目录拷贝，
配置文件就使用 https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/ 给出的，然后把菜单加上

开启标题的打字机效果 typeit = true

[code]

此时标题打字机效果是有了的，点击菜单切换，比如点击 文章，标签切换菜单
标题的打字机效果就会打印到第二行，并且开始循环，如下图所示

![1](https://user-images.githubusercontent.com/22883555/122495599-e552c280-d01c-11eb-9d83-b8e9fd1b1c7a.gif)

[2021-06-18 08:23] HEIGE-PCloud commented on #107
我在文档主页也开启了 TypeIt，能否前往 https://hugodoit.pages.dev 查看该问题是否存在。
![Animation](https://user-images.githubusercontent.com/52968553/122530472-69557c00-d016-11eb-888c-f0188e00b11a.gif)
我在 Windows 10 + Chrome 下没有能复现相关问题，怀疑是否是由兼容性问题导致。请问控制台（F12）中是否有报错？

[2021-06-18 08:52] VanLiuZhi commented on #107
我是 mac ，你的demo打开没有问题，我自己的打开控制台有报错

![image](https://user-images.githubusercontent.com/22883555/122534860-89f0f680-d055-11eb-9be3-ea66fb7537a9.png)

讲道理我是一个新的站点，这么还会出现这种问题

[2021-06-18 09:37] HEIGE-PCloud commented on #107
可以将网站中的文章删除，然后将整个站点打包发给我吗？我重新创建了一个新的站点，但还是没有能复现这个问题。🤔

[2021-06-19 01:49] VanLiuZhi commented on #107
[my.zip](https://github.com/HEIGE-PCloud/DoIt/files/6679797/my.zip)
文件在这了

[2021-06-19 06:08] HEIGE-PCloud commented on #107
破案了，你使用了 `dev/pjax` 的分支上正在开发的版本。试着[切换回 `main` 分支](https://stackoverflow.com/questions/1777854/how-can-i-specify-a-branch-tag-when-adding-a-git-submodule)，或者使用 https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/ 上的指南重新创建你的站点。

[2021-06-19 06:12] HEIGE-PCloud commented on #107
无论是哪个命令
[code]
[code]
都会保证主题处于默认的 `main` 分支上，不知道你是否做过手动切换才导致这一问题。

[2021-06-19 09:13] VanLiuZhi commented on #107
我就是用这个命令下载的主题，你对比过代码发现我打包给你的不是master分支的，是这样吧

[2021-06-19 09:19] VanLiuZhi commented on #107
好吧，我是用的码云的仓库，GitHub很慢，就用码云导入了一下，没注意分支怎么就切到 dev/pjax。感谢作者这么费心👍

[2021-06-19 09:48] #107 closed, assigned to nobody

[2021-06-19 14:47] HonorKnight8 opened #110 "[BUG] 默认样式设置无效"
defaultTheme = "dark"

我想把默认样式设置成“暗色”，无效

[2021-06-19 15:13] HEIGE-PCloud commented on #110
修好了，请更新至最新的 commit。

[2021-06-19 15:13] #110 closed, assigned to HEIGE-PCloud

[2021-06-20 04:45] HonorKnight8 commented on #110
本地 hugo server 好了。
但执行 hugo 命令，把public文件夹发布到服务器后，`<select class="color-theme-select" id="theme-select-desktop" title="切换主题">`这个标签变成一直显示的；
而且切换不了

[2021-06-20 05:03] HEIGE-PCloud commented on #110
尝试 shift + F5 刷新一下？在 https://hugodoit.pages.dev/ 上也存在这个问题吗？

[2021-06-20 05:12] HonorKnight8 commented on #110
还真是 Shift + F5 就解决了，我去面壁

[2021-06-24 04:36] wey-gu opened #117 "[BUG] featured images path was not rendered properly on windows browsers"
### Describe the bug 描述你遇到的错误

It's found on windows (firefox, edge) that the featured images on the home page suffered from 404.
It worked well on macOS for all browsers, thus this issue seemed to exist for a long time.
Am I doing it wrong? or something wrong in lazy load part or?

### Expected behavior 期待的行为
Browser should display this picture from `alt` rather than `data-src`, while it seemed t

[2021-06-24 04:53] wey-gu commented on #117
update: tried manually changed lazysizes js to 5.3.1, issue still observed :-)

[2021-06-24 05:26] HEIGE-PCloud commented on #117
Try using this way to import featured image for now.
[code]
I will look into it.

[2021-06-24 06:04] wey-gu commented on #117
Thank you @HEIGE-PCloud !
I switched to the `resources` now, it should be fine now!

[code]

[2021-06-24 10:23] HEIGE-PCloud commented on #117
The issue is [fixed](https://hugodoit.pages.dev/). `featuredImage` and `featuredImagePreview` should work correctly.

Now all featured images on the documentation site are set by the newly fixed `featuredImage` parameters instead of the old `resources` parameters.

[2021-06-24 10:23] #117 closed, assigned to HEIGE-PCloud

[2021-06-25 02:33] wey-gu commented on #117
Thanks a ton, @HEIGE-PCloud !!! You are turely amazing.

[2021-06-25 10:59] HonorKnight8 opened #118 "[FEATURE] 点击图片能看大图"
- 点击图片能看大图
  大佬有空看看能不能加上这个功能，就是文章里的图片，点一下能看大图

[2021-06-25 12:09] HEIGE-PCloud commented on #118
已经支持了

https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#image

使用 `image` shortcode 插入图片即可。

[2021-06-25 12:10] #118 closed, assigned to nobody

[2021-06-25 12:32] HonorKnight8 commented on #118
原来如此

[2021-07-02 07:17] wey-gu opened #121 "[minor] consider promoted via themes.gohugo.io ?"
What I did to decide which framework/theme to use was to scan all themes from the official theme catalog, for Hugo it's https://themes.gohugo.io.

Thank God I came here from Loveit's issues. I don't think everyone is as lucky as me.

Would you consider put doit on https://themes.gohugo.io?

Thanks again for the awesome work!

[2021-07-02 08:09] HEIGE-PCloud commented on #121
I had submitted this theme to hugoThemes as part of the milestone `v0.2.11` #46 https://github.com/gohugoio/hugoThemes/issues/1011

But unfortunately, it seems that Hugo team does not have enough time and people to review or promote it. Hopefully they can review it soon……😥

[2021-07-02 08:16] wey-gu commented on #121
Aha, got it! Pat pat Finger-crossed!

[2021-07-03 14:07] wafer-li opened #122 "[FEATURE] 增加 Series 相关页面"
### Describe the feature you want 描述你的功能需求

增加 Taxonomy 为 Series 的相关页面。

需求逻辑：

Series 即系列，是博客中高质量文章的体系汇总，相比【分类】和【标签】，其文章质量更高。

自己的博客有系列文章的话也更容易提高博客的知名度和质量。

下面会稍微详细的描述这个需求

- Feature 1 功能需求 1
  增加一个 Series 分类，类似于 Category，但是可以通过读取 series 下的 `_index.md` 在 list 之前增加简介内容
- Feature 2 功能需求 2
  增加一个与 Categories 类似的 Series 汇总界面

### Useful reference 有价值的参考

暂时没有，但我感觉采用卡片式可能会比较好？

If available, provide u

[2021-07-03 14:51] HEIGE-PCloud commented on #122
添加了最基本的支持 (#123)，可以在这个[网址](https://3da15806.hugodoit.pages.dev/series/)预览效果，有以下几个问题想要请教：

1. 一篇文章能否同时属于多个系列？
2. 对于首页的简介应该如何处理？
![image](https://user-images.githubusercontent.com/52968553/124358033-04726680-dc51-11eb-89a7-3711b150c220.png)
3. 对于文章中的 meta 应该如何处理？
![image](https://user-images.githubusercontent.com/52968553/124358062-210e9e80-dc51-11eb-94ef-825c57e68fcd.png)

[2021-07-03 14:59] wafer-li commented on #122
@HEIGE-PCloud

待我稍微思考思考，或许我可以画一个简单的原型。

ETA: 25 min（一个番茄钟）

[2021-07-03 15:24] wafer-li commented on #122
Answers:

1. 理论上系列应该有树状的层级关系，所以如果允许同时属于多个 series 的话，这多个 series 应该满足一个关系，即他们两两之间都应该是父子或爷孙关系。但是这么一来的实现难度感觉过高了，从实践上来说也很少采用这种层级形式，因此限制其只能属于一个系列。

2 和 3 本质上是一个问题，即是否应该显示【此文章属于什么系列】

对于是否显示，答案是：Yes

而显示的文案我没有比较好的想法，目前的想法是在 category 后面增加系列的显示。

如图是 xxx included in 【Category】

可以在其后面增加 of 【Series】

Series 的 Icon 可以采用一个【Task List】这类的 Icon

其余部分不变即可。

[2021-07-03 15:25] HEIGE-PCloud commented on #122
https://49983e25.hugodoit.pages.dev/series/test-pages/

这样的简介可以么，直接复用了`<blockquote>`的样式。

我不打算为简介添加完整的 markdown 支持，一是很麻烦，二是简介本来也不应该写的太复杂，如果真的有需要应该在系列中创建第0篇文章，并在其中做详细介绍。

[2021-07-03 15:27] wafer-li commented on #122
可

Series 的简介应该尽量短小，过长的内容应该单独开一个 Overview 的 Post 进行描述

[2021-07-03 16:07] HEIGE-PCloud commented on #122
https://8a110aa8.hugodoit.pages.dev/

基本上算完成了，我明天写一下文档，补一下翻译就完事了。

[2021-07-03 16:10] wafer-li commented on #122
@HEIGE-PCloud

辛苦了！十分感谢！

感觉产品经理也不好当 😂

发版之后就关掉 issue 吧

[2021-07-03 16:20] zhaoyiluo opened #124 "[BUG] Error: Error building site: failed to render pages: render of "page" failed"
### Describe the bug

I was trying to build the example website. I created a new site, cloned the repo, and copied everything from `E:\IMZLUO\themes\DoIt\exampleSite` to `E:\IMZLUO\`.

### Expected behavior

The example site should have been built successfully.

### Screenshots

[code]

### Build Environment

- OS: Windows 10
- Theme version/commit: [ee866f9](https://github.com/HEIGE-PCloud/DoIt/c

[2021-07-04 01:11] HEIGE-PCloud commented on #124
If you want to build the exampleSite, you don't need to copy anything. Under `IMZLUO` folder, run `hugo server --source=themes\DoIt\exampleSite --disableFastRender`. (https://github.com/HEIGE-PCloud/DoIt#documentation)

You can also build the exampleSite with `npm run serve` under `DoIt` folder. For more information, check out [CONTRIBUTING.md](https://github.com/HEIGE-PCloud/DoIt/blob/main/CONTRI

[2021-07-04 03:42] #122 closed, assigned to HEIGE-PCloud

[2021-07-04 07:31] zhaoyiluo commented on #124
Hi @HEIGE-PCloud , the solution you suggested also triggered the same problem.

I would say that these two solutions of running the example site are almost the same but via two different approaches.

Would appreciate seeing if this issue could be reproduced on your side.  I reproduced it both on my personal laptop and company computer.

Thanks.

[code]

[2021-07-04 07:58] HEIGE-PCloud commented on #124
I'm very sorry for closing this issue too quickly. I manage to reproduce this issue at `hugo v0.84.4`, it might relate to #40. I will look into it right now. Thank you very much for proposing this issue!

[2021-07-04 08:03] zhaoyiluo commented on #124
So much appreciate it. Take your time!

[2021-07-04 08:20] HEIGE-PCloud commented on #124
Check out the latest commit, it should fix the issue.

[code]

[2021-07-04 08:26] wafer-li opened #126 "[BUG] Multiple Line Block Math Formula is not rendered"
### Describe the bug 描述你遇到的错误

I have a KaTex formula as follows:

[code]

It should be rendered as the screenshot shows, but it didn't, just stay the same.

### Expected behavior 期待的行为

It should be rendered as the screenshot shows.

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/12459199/124378453-f3bf0080-dce3-11eb-8b5c-f770080eab13.png)

### Build Environment 构建环境

-

[2021-07-04 08:34] HEIGE-PCloud commented on #126
There are some small adjustments need to be made to the KaTeX formulae for it to compatible with the Markdown parser.

1. All `\\` need to be entered as `\\\\` to escape the `\` symbol
2. There must be a space at the end of the line for which ends in `\\\\`

So, for your example, the formulae need to be changed into

[code]
for it to work correctly.

![image](https://user-images.githubusercontent.

[2021-07-04 08:36] wafer-li commented on #126
Thanks, I will make such adjustments.

Closing it.

[2021-07-04 08:36] #126 closed, assigned to nobody

[2021-07-04 08:47] HEIGE-PCloud commented on #126
https://discourse.gohugo.io/t/use-goldmark-mathjax-extension/25721/20

There has been quite a lot of discussion around this issue. I will keep an eye on it if there is any updates from Hugo (quite unlikely) :(.

[2021-07-04 08:51] zhaoyiluo commented on #124
Thanks for your fast fix but it still has some errors on my side.

Approach 1: run `hugo server --source=themes\DoIt\exampleSite --disableFastRender`, under `IMZLUO` folder
[code]

Approach 2: run `npm run serve`, under `IMZLUO\themes\DoIt` folder
[code]

[2021-07-04 08:57] HEIGE-PCloud commented on #124
The built-in shortcode `tweet` is causing problem again. The timeout is caused by failing in Twitter's API.

Remove the line `{{< tweet 877500564405444608 >}}` in the following 4 files and try build the site again.

1. `DoIt\exampleSite\content\posts\tests\builtin-shortcodes-tests\index.en.md` Line 48
2. `DoIt\exampleSite\content\posts\theme-documentation-built-in-shortcodes\index.en.md` Line 138

[2021-07-04 09:24] zhaoyiluo commented on #124
The twitter ghost is really annoying.

I tried one more time on my company computer and all the issues related to Twitter disappeared (even no need to include `ignoreErrors = ["error-remote-getjson"]`).

Maybe I should transfer all my work from my personal laptop to avoid these unnecessary issues.

BTW, thanks for your timely fix and everything is set now!

[2021-07-04 09:25] #124 closed, assigned to HEIGE-PCloud

[2021-07-04 18:12] wey-gu commented on #121
It seems that repo was replaced by https://github.com/gohugoio/hugoThemesSiteBuilder today.
@HEIGE-PCloud

[2021-07-04 18:16] wey-gu commented on #46
It seems that repo was replaced by https://github.com/gohugoio/hugoThemesSiteBuilder today.
@HEIGE-PCloud

[2021-07-05 01:30] HEIGE-PCloud commented on #121
Let's see what will happen... UwU https://github.com/gohugoio/hugoThemesSiteBuilder/pull/16

[2021-07-05 14:41] HEIGE-PCloud commented on #121
WoW! https://themes.gohugo.io/themes/doit/

[2021-07-05 14:41] #121 closed, assigned to nobody

[2021-07-06 10:50] #69 closed, assigned to HEIGE-PCloud

[2021-07-10 02:15] ghost opened #133 "[BUG] Some problem..."
### Describe the bug 描述你遇到的错误

Build failed

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/61532453/125148841-b1744400-e167-11eb-937c-845991ec52f8.png)

### Build Environment 构建环境

vercel

[2021-07-10 02:19] HEIGE-PCloud commented on #133
What version of Hugo are you using? Can you build the site correctly in local environment?

[2021-07-10 02:23] ghost commented on #133
你会说中文吗？

[2021-07-10 02:24] ghost commented on #133
我先是用vercel的hugo模板搭建，然后构建错误。之后我直接fork了你仓库里的plant-cloud进行构建，但都是同样的错误

[2021-07-10 02:29] HEIGE-PCloud commented on #133
请问你使用的是什么版本的 Hugo 进行构建？在本地能否构建成功？

[2021-07-10 02:36] ghost commented on #133
我没有在本地进行构建，我也不知道这是什么版本，我今天刚开始接触hugo。这是我的仓库你看https://github.com/fangaso/hugo

[2021-07-10 02:39] ghost commented on #133
10:12:59.436	初始化构建环境。这可能需要几分钟才能完成
10:15:30.588	成功：完成初始化构建环境
10:15:30.588	克隆存储库...
10:15:35.870	成功：完成克隆存储库文件
10:15:37.489	安装依赖
10:15:37.491	Python 版本设置为 2.7
10:15:38.401	v12.18.0 已经安装。
10:15:38.880	现在使用节点 v12.18.0 (npm v6.14.4)
10:15:38.919	开始恢复缓存的构建插件
10:15:38.924	完成恢复缓存的构建插件
10:15:39.039	尝试使用 ruby​​ 版本 2.7.1，从环境中读取
10:15:39.995	使用 ruby​​ 版本 2.7.1
10:15:40.235	使用 PHP 5.6 版
10:15:40.263	5.2 已经安装。
1

[2021-07-10 02:39] ghost commented on #133
10:12:59.436	Initializing build environment. This may take up to a few minutes to complete
10:15:30.588	Success: Finished initializing build environment
10:15:30.588	Cloning repository...
10:15:35.870	Success: Finished cloning repository files
10:15:37.489	Installing dependencies
10:15:37.491	Python version set to 2.7
10:15:38.401	v12.18.0 is already installed.
10:15:38.880	Now using node v12.18.0

[2021-07-10 02:40] HEIGE-PCloud commented on #133
Vercel 默认使用 `v0.58.2` 版本的 Hugo 进行构建，这个版本过于老旧，已经不再支持。

请按照 vercel 的[官方文档](https://vercel.com/guides/deploying-hugo-with-vercel)，使用 `v0.85.0` 版本的 Hugo 进行构建。

[2021-07-10 02:42] ghost commented on #133
谢谢大佬！你会中文和英文，好厉害

[2021-07-10 03:31] #133 closed, assigned to nobody

[2021-07-10 06:33] HEIGE-PCloud commented on #78
大部分的修改已经做完了，但是一直没有能够解决一个非常关键的问题。

类似于这个 issue https://github.com/MoOx/pjax/issues/230 DoIt 主题在不同页面上会有不同数量和内容的 `<script>` tag，所以所有可以开关的 script（如 KaTeX，lightgallery）都需要进行 pjax-reload。

我的实现方式是将所有 script （包括部分 CSS）拆分进两个不同的 `<div>` 中。

[code]
`assets` 中存放的是所有不需要刷新，也不会有变动的 script，而 `pjax-assets` 则会被整个刷新（`selectors: [".pjax-assets", ...]`）。但是在更新后，`<div>` 中所有的 `<script>` tag 都会被移除，而其他 tag （如 `<link>`）则不受

[2021-07-10 17:36] zhaoyiluo opened #137 "[BUG] Valine and Waline issues regarding visit statistics"
### Describe the bug

I tested the Valine and Waline plugins separately to see if the visit statistics worked well. On my side, it only showed the eye symbol and didn't have the number, not even with 0. Everything goes well when I tested on Twikoo.

### Expected behavior

Show the visit number.

### Screenshots

![valine](https://user-images.githubusercontent.com/54724820/125171642-d7d9c400-e1e7-1

[2021-07-11 03:09] HEIGE-PCloud commented on #137
Hi

You cannot just copy the `appId` and `appKey` from exampleSite. I have set up secure domains for these keys so Valine definitely will not work on your website with this configuration. Follow the instructions on [Valine Docs](https://valine.js.org/en/index.html) to setup your own App.

The visit statistics are recorded and provided by the comment plugin. So if you disable the comment, the stati

[2021-07-11 03:09] #137 closed, assigned to nobody

[2021-07-14 05:19] sugarlesss opened #139 "[疑问] 为什么自定义样式无效呢"
### Describe the bug 描述你遇到的错误
我修改了 themes\DoIt\assets\css\_custom.scss ，但是不生效

A clear and concise description of what the bug is.
一段简短的对于你遇到的错误的描述.
我将  themes\DoIt\assets\css\_custom.scss 内容修改为下面的代码，我想尝试调整一下行间距，但是发现无效。
[code]

是我哪里操作不对吗？在试错过程中，我也尝试在根目录下新建了一个 assets\css\_custom.scss 文件，写入了相同的样式，但是依然无效。文档我看过了，但是没有看明白是什么意思。

[2021-07-14 05:30] HEIGE-PCloud commented on #139
请在 `<your_site>/assets/css/` 文件夹下创建 `_custom.scss` 来应用自定义样式。

相关文档： https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#33-%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A0%B7%E5%BC%8F

[2021-07-14 06:04] sugarlesss commented on #139
是的，我应该是按照你说的新建了文件，但还是不行，我目前不太清楚问题在哪里。
[![WVXsUI.md.png](https://z3.ax1x.com/2021/07/14/WVXsUI.md.png)](https://imgtu.com/i/WVXsUI)

[2021-07-14 06:08] HEIGE-PCloud commented on #139
是否使用了 extended 版本的 Hugo？

使用 `hugo version` 命令来查询当前的 Hugo 版本。

[2021-07-14 06:23] sugarlesss commented on #139
非常感谢！我更换成 extend 版本 hugo 后就可以了！阿里嘎多

[2021-07-14 06:24] #139 closed, assigned to nobody

[2021-07-14 07:04] sugarlesss opened #140 "[FEATURE] DoIt 支持百度统计吗"
### Describe the feature you want 描述你的功能需求

DoIt 支持百度统计吗

[2021-07-14 07:14] HEIGE-PCloud commented on #140
DoIt 支持 Google Analytics 和 Fathom Analytics，不支持百度统计，也不打算对百度统计添加支持。

你可以自行修改 `DoIt\layouts\partials\plugin\analytics.html` 配置百度统计。

[2021-07-14 07:14] #140 closed, assigned to nobody

[2021-07-15 09:08] sugarlesss opened #141 "[FEATURE] Some feature：支持文章图片点击放大"
### Describe the feature you want 描述你的功能需求
当文章添加了一些分辨率比较高的图片时，因为无法点击放大图片，观看上会略有难受。如果能支持此功能，体验会好很多。

### Useful reference 有价值的参考

If available, provide useful links to fulfill the feature.
如果可以的话, 提供实现这个功能的相关参考链接.
1、一个点击图片放大显示的案例：https://blog.keyboardman.fun/share/1291.html

[2021-07-15 09:12] sugarlesss commented on #141
类似于这篇文章中，像屏幕截图这种分辨率较高的图片，若有此功能的话，体验会好很多。
https://blog.keyboardman.fun/php/1053.html

[2021-07-15 09:16] HEIGE-PCloud commented on #141
在 front matter 中开启 `lightgallery: true`，然后使用 image shortcode 引入图片来启用 lightgallery。(#118 )

相关文档：
1. https://hugodoit.pages.dev/zh-cn/theme-documentation-content/#front-matter
2. https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#image

相关讨论：
https://github.com/HEIGE-PCloud/DoIt/discussions/128

[2021-07-15 09:19] sugarlesss commented on #141
非常感谢！

[2021-07-15 09:19] #141 closed, assigned to nobody

[2021-07-16 06:29] PaperStrike commented on #78
这是因为动态执行脚本需要 JS 中构造全新脚本元素（可见 [执行 - Pjax 的 2021 重构](https://sliphua.work/pjax-in-2021/#%E6%89%A7%E8%A1%8C)），[MoOx/pjax](https://github.com/MoOx/pjax) 大多数时候选择将构造的新 `<script>` 放到 `<head>` 里（不清楚动机，而且的确会影响一些依赖自身 DOM 位置的脚本）。

具体到源码，

1. 各元素 switch 完成后（`afterAllSwitches`），对 `selectors` 选择的每个元素调用一次 `executeScript`：
https://github.com/MoOx/pjax/blob/480334b18253c721ba648675e90261f948e2bca0/index.js#L208-L2

[2021-07-18 07:09] HEIGE-PCloud commented on #126
I have added a `math` shortcode to solve this issue.

You no longer need to escape special characters inside a `math` shortcode.

https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#14-math

[2021-07-19 12:12] sugarlesss opened #145 "[BUG] 设置 Permalinks 规则后，<site>/categories 页面中的 URL 没有变化"
### Describe the bug 描述你遇到的错误

A clear and concise description of what the bug is.
一段简短的对于你遇到的错误的描述.
我将 Permalinks 设置为如下规则
[code]
并且开启了伪静态
[code]
但 <site>/categories 页面中的 URL 没有做出相应的改变，仍然保持原样。

但首页（ 网站根目录 ）的 URL 已经根据我的设置做出了相应改变。对此我感到很困惑，这是否是正常的行为？

我在 issue 中搜索了相关问题，但没有找到类似的回答。

[2021-07-19 12:20] sugarlesss opened #146 "[BUG] 设置 Permalinks 规则后，<site>/categories 页面中的 URL 没有变化"
### Describe the bug 描述你遇到的错误

A clear and concise description of what the bug is.
一段简短的对于你遇到的错误的描述.
我将 Permalinks 设置为如下规则
[code]
并且开启了伪静态
[code]
但 <site>/categories 页面中的 URL 没有做出相应的改变，仍然保持原样。

但首页（ <site> ）的 URL 已经根据我的设置做出了相应改变。对此我感到很困惑，这是否是正常的行为？

我在 issue 中搜索了相关问题，但没有找到类似的回答。

[2021-07-19 12:20] #146 closed, assigned to nobody

[2021-07-19 12:54] #145 closed, assigned to nobody

[2021-07-19 13:55] HEIGE-PCloud commented on #145
如果我没猜错的话，解决的方法是重启 `hugo server` ~

[2021-07-20 03:05] #78 closed, assigned to nobody

[2021-07-24 04:17] falsycat opened #151 "[BUG] Search box doesn't open after page transition."
### Describe the bug 描述你遇到的错误

After page transition, clicking a search icon doesn't open search box.

### Expected behavior 期待的行为

Search box should open when I click the icon even after page transition.

### Build Environment 构建环境

- OS: Arch Linux
- Theme commit: 8048c364688cbb6527322dc86f270f56520a363f
- hugo v0.85.0+extended linux/amd64 BuildDate=unknown

### Preview Environment 预览环境

- OS: W

[2021-07-24 10:51] Ahmed-E-86 opened #152 "[FEATURE] Add some features for social links and homepage"
Thanks for this amazing theme. I have searched hundreds of Hugo themes, and your theme is one of the best.

I am in no position to ask for anything from you, you have already done a lot, but I would love if you could add these features:

Feature 1:
An alternative links to **Paypal**, and **Patreon** like: **Librepay**, and **Ko-fi**.

Feature 2:
Add **featured posts**, and **latest posts** on the

[2021-07-24 13:03] HEIGE-PCloud commented on #152
Hello

For Feature 1, links for Libreapay, and Ko-fi will be added soon!

For Feature 3. The post on the home page is sorted by time by default. To "Pin" a post, you can set the [`weight` front matter](https://gohugo.io/content-management/front-matter/#predefined) for the post. The [exampleSite](https://hugodoit.pages.dev) is using this method to pin this [post](https://github.com/HEIGE-PCloud/DoI

[2021-07-24 13:28] HEIGE-PCloud commented on #151
The issued should be fixed with the latest commit, check it out! 😀

[2021-07-24 14:01] Ahmed-E-86 commented on #152
I tested it, and it works fine. Thanks!

[2021-07-24 14:14] #152 closed, assigned to HEIGE-PCloud

[2021-07-24 14:50] Ahmed-E-86 opened #155 "[FEATURE] Add support for Vssue or Intensedebate"
Intensedebate is a comment system made by the same company who made wordpress.com, and it is free to use, but it is proprietary. You have already added support for many comment systems, but the only one that I found similar to Intensedebate and opensource at the same time is Vssue, and it is not supported either by your theme.

### Intensedebate use a script like this:

**Top script:**

[code]

**

[2021-07-24 14:57] Ahmed-E-86 opened #156 "[BUG] A minor bug"
When using the light mode, the colors of the **unselected numbers** of the pages are barely noticeable, and the color of the circle of **back to top** is barely noticeable as well.

### A screenshot to describe the issue:

![Screenshot from 2021-07-24 16-02-42](https://user-images.githubusercontent.com/29783425/126872336-7a8ce231-597b-42c3-bfdb-51eed5b831fe.png)

[2021-07-24 15:33] falsycat commented on #151
It worked! Thank you. I appreciate it.

[2021-07-24 15:33] #151 closed, assigned to HEIGE-PCloud

[2021-07-25 04:28] HEIGE-PCloud commented on #155
Please test the Vssue comment system support at #157 and tell me whether it is working correctly since I have no way testing it myself.

[2021-07-25 04:44] HEIGE-PCloud commented on #155
![image](https://user-images.githubusercontent.com/52968553/126888004-53e5929d-66f7-4993-ad94-5f179abe8943.png)

IntenseDebate does not look very well out of the box, and I don't want to rewrite its CSS. I will still add the support for it, but it is not recommended.

[2021-07-25 04:51] HEIGE-PCloud commented on #156
Well, to me, the design of the color for unselected numbers and the circle looks fine. It should remain unnoticeable when it is not selected. What do you want it to look like?

[2021-07-25 08:54] zming opened #159 "[BUG] Some problem..."
### parse failed: template: partials/head/seo.html:148: unclosed action

添加主题和配置后运行不起来

### Expected behavior 期待的行为

添加主题和拷贝配置后，运行报错

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/20045153/126893383-90de91c4-9870-404d-b645-e09295cc2887.png)

### Build Environment 构建环境

- OS: macOS
- Theme version/commit [0.2.0]
- Hugo version [v0.73.0/extended]

Please try to use Hugo **

[2021-07-25 08:58] HEIGE-PCloud commented on #159
请更新 Hugo 至最新的 `v0.86.0` 版本。

https://github.com/gohugoio/hugo/releases/tag/v0.86.0

[2021-07-25 09:36] zming commented on #159
升级后解决，非常感谢

[2021-07-25 09:36] #159 closed, assigned to nobody

[2021-07-25 14:52] Ahmed-E-86 commented on #155
OMG! I did not expect to get support for both. I am so grateful. Thanks.

For whatever reason, the comments does not appear for both. I did not find any script for any comment system inside the HTML files in the public folder. I do not know what is wrong.

[2021-07-25 15:05] Ahmed-E-86 commented on #156
A little darker gray will be good for me, I do not know if it will be cool for you. If it is not, I will just keep the dark theme as the default theme.

[2021-07-25 15:10] HEIGE-PCloud commented on #155
Have you switched to the dev branch for testing? They have not been merged into the main branch yet.

[2021-07-25 15:13] Ahmed-E-86 commented on #155
Yes, I did, and `Vssue Comment System` is inside `comment.html`

[2021-07-25 15:17] HEIGE-PCloud commented on #155
Have you changed the settings in `config.toml`?

[code]

By default, it is disabled as I don't have an OAuth app for testing it.

[2021-07-25 15:24] Ahmed-E-86 commented on #155
Yes, I used gitlab, and I filled all the fields. There is no trace of the script of vssue, or Intensedebate in the final HTML files inside the public folder. I searched for the word `script` and I did not find any of them.

[2021-07-25 15:35] HEIGE-PCloud commented on #155
Weird, here is what I get:

[code]

[code]

What pages are you searching? On some pages (for example the homepage) there is no comment section.

[2021-07-25 15:39] HEIGE-PCloud commented on #155
By the way `hugo server` will load the site in development mode, for which the comment will not load. Use `hugo server -e production` for local preview server.

[2021-07-25 15:51] Ahmed-E-86 commented on #155
I am sorry, it does not make any difference. I searched the posts for the word `comments`, and that is the only result I found:

[code]

[2021-07-25 16:00] HEIGE-PCloud commented on #155
Have you enabled the page comment?

[code]

This is what I get from the exampleSite. The comment section can show up correctly, although the comments will not be loaded with my invalid keys.

![image](https://user-images.githubusercontent.com/52968553/126905486-6cb39b2e-79dc-4a64-9091-75fb4fcf3260.png)

[2021-07-25 16:06] Ahmed-E-86 commented on #155
Yes, it is enabled, I even enabled comments in the front matter of each page. I tried also to add the script manually to comment.html, and it does not work.

[2021-07-25 20:08] Ahmed-E-86 commented on #155
I had to delete the frontmatter variable `comment: true` from every markdown file inside the posts folder to get the comment section to appear as it should be. Please, add that in the documentation.

![Screenshot from 2021-07-25 22-09-36](https://user-images.githubusercontent.com/29783425/126912061-e70d6fae-892a-4d80-af96-6aaaf18d7d53.png)

![Screenshot from 2021-07-25 23-24-44](https://user-image

[2021-07-25 21:37] Ahmed-E-86 opened #161 "[Request] change the location of social share and lastmod"
If you do not mind, could you please change the location of social share icons, and `updated on` to be at the top of the content instead of underneath it, or tell me how can I do that.

That is my last request, and thanks for your patience.

[2021-07-26 03:23] #155 closed, assigned to HEIGE-PCloud

[2021-07-26 03:29] HEIGE-PCloud commented on #155
Well, this explains everything. `comment` is not a simply Boolean variable that can be set to `true` or `false`, it is a set that contains all configuration of comment settings. To enable or disable the comment for each post individually, you should change the value of `comment.enable`. So here is the correct front matter:

[code]

By setting `comment` to `true`, all the configurations are overrid

[2021-07-26 03:52] HEIGE-PCloud commented on #161
![image](https://user-images.githubusercontent.com/52968553/126929682-dcc7fe51-2453-477f-a7db-13be73bcb630.png)

Here is the top area of a typical post, where do you want to put the lastmod and the social share?

[2021-07-26 06:07] bugxch commented on #156
Actually i don't think it's a bug, at mostly it's a feature not completed

[2021-07-26 06:42] HEIGE-PCloud commented on #156
I plan not to change the background color of the back-to-top button, in order to keep it consistent with the heading's color. I have changed the font color of the pagination link to `$global-font-secondary-color`, it will be more noticeable in light mode.

[2021-07-26 06:42] #156 closed, assigned to nobody

[2021-07-26 09:19] Ahmed-E-86 commented on #161
Above the picture, so the visitors know when they look at the date that it is updated, otherwise they will leave if the date is old, and it has not been updated. Also, it is not guaranteed that the visitor will read the article to the end.

I am a little confused about the share buttons, it could fit up or down, I am not quite sure. What do you think?

[2021-07-26 09:33] Ahmed-E-86 commented on #155
OH! That was my fault, sorry about that, and thank you for your amazing support. I am so grateful.

[2021-07-26 10:28] Ahmed-E-86 commented on #156
I do not know what is the reason, but the font color of the pagination link is still the same, I even changed it manually to black, and it didn't change at all.

[2021-07-26 11:57] HEIGE-PCloud commented on #156
Here is what I get from this [page](https://hugodoit.pages.dev/posts/):

![image](https://user-images.githubusercontent.com/52968553/126984881-5700e52a-5724-4dcd-8fd2-86dc3f317a57.png)

[2021-07-26 12:03] Ahmed-E-86 commented on #156
It looks the same for me, but the colors of the main page looks different on the homepage of my local website.

[2021-07-26 12:06] HEIGE-PCloud commented on #156
![image](https://user-images.githubusercontent.com/52968553/126986008-5a864f33-3582-4f93-ba62-3fd88f3693ef.png)

Here is the color on the homepage, they are controlled by the same CSS selector.

[2021-07-26 12:14] Ahmed-E-86 commented on #156
I have no idea :smile: I will just finish the website, and upload it, and see how it looks.

[2021-07-27 11:19] HEIGE-PCloud commented on #161
The edit date of a post has been added next to its post date.

View how it looks here: https://hugodoit.pages.dev/theme-documentation-basics/

I am not changing the location of social icons as it makes more sense for people to share a post **after** reading it.

[2021-07-27 11:19] #161 closed, assigned to nobody

[2021-07-27 13:06] Ahmed-E-86 commented on #161
It looks fine. Thanks.

What do you use to show the number of views?

[2021-07-27 15:49] HEIGE-PCloud commented on #161
Some comment plugins provide view count function. To be specific, [Valine](https://valine.js.org/en/index.html), [Waline](https://waline.js.org/en/) and [Twikoo](https://twikoo.js.org) are the three comment plugins which both support by DoIt and support view count statistics.

[2021-07-27 20:32] Ahmed-E-86 commented on #161
That will be so cool to have. Thanks for your reply, you are so helpful.

[2021-08-03 09:41] gnohz opened #167 "[FEATURE] author: nil?"
### Describe the feature you want 描述你的功能需求

- Is it possible to disable the author?
- Another issue: I used ox-hugo to convert org file to markdown. Then I have
`author = ["author"]`
instead of
`author = "author"`
However, the first one gives me an error message:
`execute of template failed: template: partials/plugin/link.html:7:16: executing "partials/plugin/link.html" at <safeHTML>: error callin

[2021-08-03 09:53] HEIGE-PCloud commented on #167
You can replace all `author =` into `authors =` which should solve this problem.

[2021-08-03 09:59] gnohz commented on #167
If you mean `authors = ["xxx"]`, then it does not work...

I found a similar issue in another post:
https://github.com/kaushalmodi/ox-hugo/issues/387

[2021-08-05 05:33] HEIGE-PCloud commented on #167
`authors = ["xxx"]` is supported by DoIt theme and it should work out of the box (even without the further configuration mentioned in the docs).

https://hugodoit.pages.dev/theme-documentation-content/#author-setup

If it does not work, can you share the error log for debugging?

[2021-08-05 10:15] HEIGE-PCloud commented on #167
Disabling the author is not supported.

You can configure the author information in `config.toml` once and for all.

[code]

If nothing is configured, a default `Author` will be displayed and everything will work correctly as well.

[2021-08-06 05:42] gnohz commented on #167
This is the markdown file in /content/posts/:

and when I run `hugo server -D`, I got the following message:

`ERROR: 2021/08/05 22:37:50 render of "page" failed: execute of template failed: template: posts/single.html:17:8: executing "posts/single.html" at <partial "head/seo.html" .>: error calling partial: "~/org/diaries_hugo/themes/DoIt/layouts/partials/head/seo.html:129:41": execute of templat

[2021-08-06 05:50] HEIGE-PCloud commented on #167
Have you changed `author: ["xxx"]` into `authors: ["xxx"]`?

[2021-08-06 06:03] gnohz commented on #167
If I use `authors : ["xxx"]`, I got this:

[code]

[2021-08-06 06:06] gnohz commented on #167
btw, I found [this](https://github.com/kaushalmodi/hugo-onyx-theme/blob/master/layouts/partials/author.html) to have a list of authors.

Back to my original request to add the option for us to enable/disable authors. I am asking this because for example, most of us may just to blog for personal thoughts, but not a collaboration.

[2021-08-06 07:44] HEIGE-PCloud commented on #167
I have managed to reproduce this error. To fix it, create a file `your_site/data/authors/xxx.toml` (you might need to create the folder `data` and `authors` for it) to let the Hugo `.Data` work. The name or the content of `xxx.toml` does not matter, just leave it blank if you want.

[2021-08-06 07:52] HEIGE-PCloud commented on #167
There is no technical difficulity to "disable" the author, however it takes some effort to make it looks good when author is disabled.

![image](https://user-images.githubusercontent.com/52968553/128475634-d05e2d3b-bf25-4c69-bbfb-e8f23ada0e7d.png)

If we simply remove it, then the `published` need to be capitalized, involving changes in i18n translations. And remove the `&nbsp` before. It is possi

[2021-08-06 07:56] gnohz commented on #167
I did as you suggested, but still no luck.

[2021-08-06 07:58] HEIGE-PCloud commented on #167
Have you tried restart `hugo server`?

[2021-08-06 08:00] gnohz commented on #167
Now it works, since I forgot to change `author` to `authors`.

[2021-08-06 08:08] gnohz commented on #167
As for the option of disabling author, I tried to delete the following
`<span class="post-author">
                     {{- $options := dict "Class" "author" "Destination" $authorLink "Title" "Author" "Rel" "author" "Icon" (dict "Class" "fas fa-user-circle fa-fw") "Content" $author -}}
                     {{- partial "plugin/link.html" $options -}}
                     </span>`
in the `layouts/po

[2021-08-06 08:08] #167 closed, assigned to nobody

[2021-08-06 17:42] GinShio opened #172 "[FEATURE] 请问可以增加 Topbar 吗"
### Describe the feature you want 描述你的功能需求

就是在最上面有一个极细小的进度条，用来指示当前阅读进度。并可以在配置文件中手动开关与更换颜色

### Useful reference 有价值的参考

类似于 GitHub Repo 加载页面时，顶部出现的进度条 (不过这个是表示加载进度而非当前阅读进度)

[2021-08-06 17:49] HEIGE-PCloud commented on #172
为啥不直接看侧边的滚动条？

[2021-08-07 04:28] wu-yue-yu commented on #172
侧边进度条就可以解决阿，这个主题专注于阅读的，越简洁越好吧。个人感觉读技术文章的时候少有注意到进度条，除非是看小说之类的🤣

[2021-08-07 08:23] GinShio commented on #172
唔，确实侧边滚动条可以解决
在之前看到别的 blog 也有 topbar，所以一直想加入尝试玩一下下
可惜之前在 LoveIt 时尝试过但不太会
orz 所以就提了下 issue

[2021-08-07 09:44] HEIGE-PCloud commented on #172
我不打算加入阅读进度条显示

1. "别的主题有"并不是一个足够好的理由。
2. 用 topbar 显示阅读进度并不比原生 scrollbar 更清晰。

![image](https://user-images.githubusercontent.com/52968553/128595931-4b728cfc-b2aa-495f-848e-443c4239a978.png)

例如这个页面，当我阅读完 "Build the Website" 这一节后，如果我需要知道当前的阅读进度，我只需要继续向右阅读。右侧的目录提供了所有内容的概览，高亮了我目前所在的章节，我可以点击章节标题来快速跳转。继续向右看，原生的 scrollbar 告诉我我在页面上的位置，我也可以拖动它直接快速跳转。相比而言，顶部的 topbar 不仅更难寻找（特别是在宽屏上），而且需要将视线完全离开文本来到页面顶端，然后再返

[2021-08-07 09:44] #172 closed, assigned to nobody

[2021-08-08 18:53] gnohz opened #173 "[BUG] Cannot render the dollar sign"
### Describe the bug 描述你遇到的错误

dollar sign does not render correctly

### Expected behavior 期待的行为

In the markdown, if `\$100`, we should see $100, but I got

<img width="266" alt="Screen Shot 2021-08-08 at 11 52 49 AM" src="https://user-images.githubusercontent.com/21259404/128642679-df8fcfe0-06dd-4e35-94b8-732b56642881.png">

By the way, I didn't have the problem with other themes.

[2021-08-09 00:40] HEIGE-PCloud commented on #173
The content between two dollar signs will be rendered as a math formula if you have enabled it.

Related Documentation: https://hugodoit.pages.dev/theme-documentation-content/#mathematical-formula

The easiest way to solve it is to turn off the math formula rendering by adding

[code]

to the front matter.

[2021-08-09 01:08] gnohz commented on #173
So I cannot have math formula on and also to print a dollar sign together?
I mean `$100$` should be treated differently from `\$100`, right? The first means in the math environment, the latter means to read as a dollar sign using the escape character `\`.

[2021-08-09 07:00] HEIGE-PCloud commented on #173
It is not Hugo who renders the math formula, and `\$` is not really escaping anything.

No matter you put `$...$` or `\$...$`, it will remain unchanged in the final HTML generated by Hugo. The math formula rendering happens when the page is loading. KaTeX will render everything between two delimiters, for this case, two dollar signs. What "escape character" you put to the dollar sign does not matt

[2021-08-11 14:56] javierfs opened #175 "How can I add more LightGallery plugins (lgZoom, lgAutoplay, lgComment, lgFullscreen , lgHash, lgPager, lgRotate, lgShare, lgThumbnail, lgVideo, lgMediumZoom?"
I would like to show more options when I click on an image such as lgFullscreen or lgMediumZoom.

To do so, I tried to figure out which options of the theme are available in this Theme:

[code]

In order to add new plugins (for example, full screen) I added the following lines:

[code]
 in _layouts/partials/assets.html_:

[code]

I added lg-fullscreen.min.js in  lib/lightgallery/ from https://gith

[2021-08-11 15:21] #175 closed, assigned to nobody

[2021-08-12 12:02] dannyloxavier opened #180 "[FEATURE] Dark mode for Telegram comments"
### Describe the feature you want 描述你的功能需求

- Feature 1 功能需求 1
I want to be able to choose dark mode on comments for telegram

### Useful reference 有价值的参考

Including this in `layouts/partials/comment.html`, between lines 156 and 157 this:
[code]
And `dark = true` inside the `[params.page.comment.telegram]` section at `config.toml`, will do the thing! =D

[2021-08-12 12:19] HEIGE-PCloud commented on #180
I have added this option for telegram comment. Be aware that telegram comment's theme is fully determined by the settings in `config.toml`, so when user changes DoIt's color theme on their side, telegram comment's color will not follow.

[2021-08-12 12:34] dannyloxavier commented on #180
Thank you very much!

[2021-08-12 12:34] #180 closed, assigned to HEIGE-PCloud

[2021-08-13 07:40] islongshiyu opened #181 "ReferenceError: mermaid is not defined"
### Describe the bug 描述你遇到的错误

when i use mermaid in my posts, ReferenceError: mermaid is not defined

[2021-08-13 14:31] HEIGE-PCloud commented on #181
Mermaid should be supported out of the box without any further configuration. And it seems to work correctly on the [demo site](https://hugodoit.pages.dev/mermaid-tests/). Can you provide more information? Does refreshing the page help? Does the HTML include the script tag for Mermaid? Or if you can provide a demo site with its source files that reproduces this issue will be very helpful.

[2021-08-14 03:21] wey-gu opened #182 "Can you use GitHub built-in sponsoring?"
That'll be nice experience to sponsor you.

[2021-08-14 08:24] HEIGE-PCloud commented on #182
Big thank you for your sponsorship! I have submitted my application for GitHub's approval, hopefully my GitHub Sponsor profile will go live soon :)

[2021-08-15 16:30] jygzyc opened #184 "[BUG] The deployment is inconsistent with the preview"
### The deployment is inconsistent with the preview

The deployment is inconsistent with the preview

### Expected behavior 期待的行为

both should be same

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/33087260/129485382-ba3760ab-d8ed-4038-acaf-06e61d6427a9.png)
![image](https://user-images.githubusercontent.com/33087260/129485406-a003d740-e7bd-41cc-b6ec-d31484dd4a73.png)

#

[2021-08-15 16:35] HEIGE-PCloud commented on #184
Try turning off the fingerprint in `config.toml`

[code]

[2021-08-15 17:52] jygzyc commented on #184
Fine! Thank you!

[2021-08-15 17:52] #184 closed, assigned to nobody

[2021-08-16 00:36] #182 closed, assigned to nobody

[2021-08-17 01:34] islongshiyu commented on #181
thanks, i saw this error when i build my blog at localhost.
it works well after i published to server

[2021-08-17 01:34] islongshiyu commented on #181
thanks, i saw this error when i build my blog at localhost.
it works well after i published to server

[2021-08-17 01:34] #181 closed, assigned to nobody

[2021-08-19 16:05] #173 closed, assigned to nobody

[2021-08-22 05:55] Rhinocros opened #192 "[FEATURE] Valine visitors not work on index.html"
我复制了
[code]
到 summary.html 和 index.html ，但 `hugo server -e production` 后并没能把读数回填，正事生成后也不行， single.html 页面正常，请问怎么能在首页上显示已读次数

[2021-08-23 07:07] HEIGE-PCloud commented on #192
Valine 的访客计数是基于 Valine 评论区的。然而首页上并没有放置 Valine 评论区，相关的计数功能自然也不会显示。

在 `index.html` 的页脚添加 `{{- partial "comment.html" . -}}` 在首页上加入评论区以启用 Valine 的访客计数。

[2021-08-23 07:10] #192 closed, assigned to nobody

[2021-08-31 05:14] eyllanesc opened #198 "[BUG] StackOverflow icon"
Currently instead of showing the StackOverflow icon, the codepen icon is shown. I have created a PR #197  that fixes it.

[2021-08-31 05:16] eyllanesc opened #199 "[FEATURE] Add "Buy Me a Coffee" icon"
### Describe the feature you want 描述你的功能需求

- Add the "Buy Me a Coffee" icon.

I have created a PR(#197 ) that adds it

[2021-08-31 07:45] #199 closed, assigned to nobody

[2021-08-31 07:45] #198 closed, assigned to nobody

[2021-09-06 16:04] sugarlesss opened #205 "关于主题扩展 Shortcodes image 用法的疑问"
我根据主题官网关于 image 的使用文档（https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#image） 描述，按照以下写法使用：
[code]

但不知道为何，点击图片会直接跳转到图片的 url ，而不是像官网文档部分演示的那样，在当前链接下直接全屏展示图片。
需要继续看刚才的博客文章时，需要回退到上一个链接，这样非常难受。但我不知道是哪里出了问题。

关于这点，我参考了一下你博客的一篇文章，发现此处 （https://planet-cloud.fun/what-is-the-shape-of-a-hanging-chain/#preface） 与官网演示的示例相同，并且还是连着3张图片，看起来像是 lightgallery.js 的画廊。

但我不知道如何在 DoIt 主题中使用 ima

[2021-09-06 16:09] sugarlesss commented on #205
原因找到了，我将 lightgallery = true 的配置写在了 [params] 下，我将其移动到 [params.page] 下就可以了。

[2021-09-06 16:09] #205 closed, assigned to nobody

[2021-09-07 02:48] thinkhp opened #207 "[FEATURE] mermaid"
### Describe the feature you want 描述你的功能需求

为什么不支持以
[code]
的形式展示 mermaid 的 svg

[2021-09-07 06:53] HEIGE-PCloud commented on #207
欢迎交 pr

[2021-09-07 17:01] GinShio opened #208 "[BUG] 低版本 Firefox 无法正常加载 Awesome Font"
### Describe the bug 描述你遇到的错误

在低版本 Firefox ESR (68, 78) 无法正常加载 Awesome Font，但在 Firefox 91 ESR 中可以正常加载

### Expected behavior 期待的行为

在低版本 Firefox ESR 中可以正常加载

### Screenshots 屏幕截图

  - Firefox 68.9.0esr
    ![firefox_68 9 0esr](https://user-images.githubusercontent.com/38715657/132383171-b68341f0-8a22-42e3-9c1f-7a569dcaa50b.png)
  - Firefox 78.13.0esr
    ![firefox_78 13 0esr](https://user-images.

[2021-09-07 17:12] HEIGE-PCloud commented on #208
关于 Font Awesome 对于 Firefox 低版本的兼容性问题，我建议你直接联系 Font Awesome 反馈。

在 DoIt 主题中，你可以尽可能避免使用 Font Awesome 的图标来避免相关兼容性问题。对于截图中所展示的社交图标，你可以在文件 `assets\data\social.yml` 中将来自 Font Awesome 相关的图标来源替换为 SimpleIcons，或者也可以通过

[code]
的方式在 `assets\svg\icons` 文件夹下自行托管相关图标。

在其他使用 Font Awesome 图标的地方也可以自行替换为其他图标。

你也可以尝试降级 Font Awesome (`assets\lib\fontawesome-free\all.min.css`) 至老版本以获得对于旧浏览器更好的兼容性。

Reference: [Font A

[2021-09-08 02:06] #208 closed, assigned to nobody

[2021-09-09 08:05] thinkhp commented on #207
有解决办法，但是没办法兼容之前使用 shortcode 输出 mermaid 的方式

修改 /src/js/theme.js
[code]

[2021-09-09 08:19] thinkhp opened #209 "[BUG] lunr error"
### Describe the bug 描述你遇到的错误

lunr 功能无法使用，报错 TypeError: window.use is not a function

### Screenshots 屏幕截图
![image](https://user-images.githubusercontent.com/26300404/132649764-2d784ce8-5429-400a-a814-b279b14ff16d.png)

### Build Environment 构建环境

- OS: [macOS]
- Theme version/commit [3c1b2c8d4219e7699a4d7e289288dd2bb561f6bb]
- Hugo version [v0.87.0+extended]

### Preview Environment 预览环境

- OS:

[2021-09-09 10:36] HEIGE-PCloud commented on #209
应该修好了，更新到最新的 commit 看看能不能用。

[2021-09-09 10:38] HEIGE-PCloud commented on #207
我在想是否可以用 Hugo 的 render hook 来做模板

Reference https://gohugo.io/getting-started/configuration-markup/#markdown-render-hooks

[2021-09-09 10:47] HEIGE-PCloud commented on #207
https://github.com/gohugoio/hugo/issues/6702

LoL

[2021-09-09 11:28] #209 closed, assigned to HEIGE-PCloud

[2021-09-09 15:12] 9201314 opened #210 "修改页面宽度"
不知道在哪里可以联系到作者，只能在这里开个issue，请见谅！
我对前端一窍不通，知道通过修改css可以改变页面宽度，但是不知道该修改哪里？
就想首页、归档页、about那些所有页面都能宽一些，和post一样。现在除了post，其他页面两边留白有些多，经常一行放不下内容，换行影响阅读和观感。
哪位大神有空点拨一下我吗？😫

[2021-09-09 18:27] #210 closed, assigned to nobody

[2021-09-10 06:44] youngxhui opened #213 "[BUG] 标题重复加载"
### Describe the bug 描述你遇到的错误

每点击一次链接 【标题栏】重复渲染一次

### Expected behavior 期待的行为

### Screenshots 屏幕截图

[youngxhui.top](youngxhui.top)

### Build Environment 构建环境

hugo version
hugo v0.88.1-5BC54738+extended linux/amd64 BuildDate=2021-09-04T09:39:19Z VendorInfo=gohugoio

[2021-09-10 12:32] HEIGE-PCloud commented on #207
![image](https://user-images.githubusercontent.com/52968553/132853705-4302c53f-cb96-42a5-8f0c-729a3abe7dc4.png)

还需要解决和本来 code block 的冲突

[2021-09-10 14:46] thinkhp commented on #207
文档上说 render hook 目前只适用于 image link heading, issue 上看不到明确的迹象会在近期添加对```标准语法的 hook

[2021-09-10 19:08] #213 closed, assigned to HEIGE-PCloud

[2021-09-10 23:46] yeahwong opened #217 "[BUG] 在社交媒体中分享网址时，无法正确读取网站名称"
例如，在telegram上分享某页面后，预览只会显示网站的域名或者前缀，无法正确显示整个网站的标题。

[2021-09-11 00:58] yeahwong commented on #82
在手机上测试友情链接卡页面，如果网站标题过长，手机页面上会出现友情链接卡错落的现象，网站名称与头像会挤在一起。

[2021-09-11 09:56] HEIGE-PCloud opened #218 "[BUG] Friend link has styling issues on mobile"
在手机上测试友情链接卡页面，如果网站标题过长，手机页面上会出现友情链接卡错落的现象，网站名称与头像会挤在一起。

_Originally posted by @yeahwong in https://github.com/HEIGE-PCloud/DoIt/issues/82#issuecomment-917308560_

[2021-09-11 10:21] HEIGE-PCloud commented on #217
Related reference: https://ogp.me/

[2021-09-11 16:08] HEIGE-PCloud commented on #218
@yeahwong

https://do-it-git-fix-friend-pcloud.vercel.app/friend-link-tests/

对移动端的行为做了修改，现在在窄屏下每行只显示一个友链，并将完整显示 bio，正确处理 overflow。

[2021-09-11 16:10] yeahwong commented on #218
谢谢开发者的维护工作。

[2021-09-11 16:11] HEIGE-PCloud commented on #218
你觉得没问题我就 merge 了

[2021-09-11 16:11] #218 closed, assigned to HEIGE-PCloud

[2021-09-11 17:27] HEIGE-PCloud commented on #217
Telegram 使用 `og:site_name` 属性获取网站名称。

[code]

Hugo 自带了 [Open Graph 模板](https://gohugo.io/templates/internal/#open-graph)，DoIt 主题也使用了该模板用于[生成 meta 信息](https://github.com/HEIGE-PCloud/DoIt/blob/a4f340ee99de1c28c82d961e8c8736f6a6c507b3/layouts/partials/head/meta.html#L5)。

通过查阅 [Hugo 源码](https://github.com/gohugoio/hugo/blob/3efc2e2af8d677d968606460d044d54244cc6623/tpl/tplimpl/embedded/templates/open

[2021-09-11 17:28] #217 closed, assigned to nobody

[2021-09-12 00:08] kyb3rcipher opened #221 "[BUG] Page wide in vercel and others...."
### Describe the HELP (NOT IS A BUG)

My Website (for example): https://kyb3rvizsla.com

Update the theme and notice some changes. I have my website in "wide" page mode when I run the server on my local machine, it places everything bine (see image 1) but when I deploy it with vercel/netlify it changes me (see image 2) I have seen that this happens with the [HEIGE-PCloud](https://planet-cloud.fun)

[2021-09-12 10:16] HEIGE-PCloud commented on #221
![image](https://user-images.githubusercontent.com/52968553/132983722-f0edc11e-7df4-45f4-b0f2-9efffe3bcd88.png)

This is what I see on this [page](https://kyb3rvizsla.com/posts/kali-or-parrot/). Is it the `wide` mode you expect?

[2021-09-12 10:21] HEIGE-PCloud commented on #221
The site should build the same no matter what platform you use.

Here is the documentation site built on [Vercel](https://do-it-green.vercel.app/theme-documentation-basics/), for which the `wide` mode seems to work correctly to me.

[My blog](https://planet-cloud.fun/) use the `normal` mode instead of the `wide` mode, so it is behaving correctly.

[2021-09-12 11:11] kyb3rcipher commented on #221
Thanks for answering. in despair yesterday I ended up uploading the public folder generated from my local machine. But today I returned to the host vercel here the config:
![image](https://user-images.githubusercontent.com/63558088/132985168-bb4e9a18-5822-4f9d-93bd-e4c60f7a340a.png)
![image](https://user-images.githubusercontent.com/63558088/132985170-d589e19c-fe8a-4e70-8190-22932430f909.png)

He

[2021-09-12 12:01] HEIGE-PCloud commented on #221
I see, `params.page.toc.enable` is not set in your `config.toml`. So the table of content on the right does not know how to behave and fall back to the default style.

Add the following configurations to your `config.toml` should fix the issue.

[code]

Please check your `config.toml` against this [sample](https://hugodoit.pages.dev/theme-documentation-basics/#site-configuration), you still need t

[2021-09-12 12:30] kyb3rcipher commented on #221
Okay, I'll add all the parameters later, but for now, what is the parameter table for the navbar to be wide?

In vercel:
![image](https://user-images.githubusercontent.com/63558088/132987621-3405aeae-e47d-422b-b179-ee7cb0252c8c.png)

 In local:
![image](https://user-images.githubusercontent.com/63558088/132987598-ba3f7784-69b6-49fe-bd80-245abb75c136.png)

[2021-09-12 13:09] HEIGE-PCloud commented on #221
![image](https://user-images.githubusercontent.com/52968553/132988728-1af251d8-98a6-4bad-8fb0-ba40e839a845.png)

The padding of the heading is not adjustable, it always takes 10% of the screen size on desktop. Not sure what's gone wrong in your local environment, but the Vercel one is the correct one.

[2021-09-12 16:32] kyb3rcipher commented on #221
Okay, very thanks

[2021-09-12 16:32] #221 closed, assigned to nobody

[2021-09-13 12:13] xpufx opened #222 "typeit types the site name 3 times"
I just migrated from loveit. I hadn't changed anything in themes/loveit but I do have a few simple overrides.

I have typeit enabled for the site name at the top.  typeit types the name of the site 3 times.

May be related to #213

[2021-09-13 12:29] xpufx opened #223 "Block Fenced Code boxes broken on mobile"
Long lines of code escape the box.

[2021-09-13 12:34] HEIGE-PCloud commented on #223
![image](https://user-images.githubusercontent.com/52968553/133084386-78e55f2d-60cb-4a7f-b922-d1462ef00235.png)

The overflow seems to be handled correctly to me.

[2021-09-13 12:38] HEIGE-PCloud commented on #222
Can you provide more information, maybe a demo site for easier debugging? Since TypeIt is clearly working correctly on the [documentation site](https://hugodoit.pages.dev/), I cannot reproduce that on my side.

[2021-09-13 13:12] xpufx commented on #223
This is on Firefox/Android.

![overflow](https://user-images.githubusercontent.com/25581961/133089681-44ffd319-84a0-43fc-8560-12985edb7468.jpg)

[2021-09-13 13:20] HEIGE-PCloud commented on #223
The CSS property `overflow: auto hidden`  is used to handle the overflow, which should be supported by Firefox.

Please check against this [page](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow) with the `overflow: auto;` demo to see whether your browser is compatible with this CSS property.

[2021-09-13 13:26] xpufx commented on #223
I tested the browser. It's fine. I will see if I can figure out what's going on in the published HTML/CSS. Although, it's weird since your browser displays it fine.

[2021-09-13 13:31] HEIGE-PCloud commented on #223
No, there is no such configuration.

[2021-09-13 13:36] HEIGE-PCloud commented on #223
![image](https://user-images.githubusercontent.com/52968553/133093235-25e5202f-1487-4965-8ec4-a953aae61902.png)

It works correctly on iOS Safari as well. So I think it may be caused by some browser compatibility issues...

[2021-09-13 14:46] xpufx commented on #223
Works fine on Kiwi browser (chromium based) too.  I will see if I can identify the source of the issue on firefox.

[2021-09-13 19:02] xpufx commented on #223
I think Firefox was caching the old state of the site with loveit's broken box. Thanks for your help. All good now.

[2021-09-13 19:02] #223 closed, assigned to nobody

[2021-09-13 19:12] xpufx commented on #222
I deployed again with typeit enabled for the header name ([params.header.title] name) . I checked on windows firefox and android kiwi. It takes a few clicks around the site for it to appear.

It actually seems to be adding one more every time you click something. Honestly it's hilarious to watch :)

[2021-09-13 19:19] HEIGE-PCloud commented on #222
![image](https://user-images.githubusercontent.com/52968553/133143496-abe86319-0f78-4a06-93f9-36d7e43d9a10.png)

Have you updated the theme to the latest commit? The `theme.js`  file on your site does not seem to contain that fix I create for #213

[2021-09-13 19:23] HEIGE-PCloud commented on #222
Yes, because the DoIt theme loads new pages with PJAX loading (#78). The re-loading bug is caused by creating a new TypeIt instance while the old one is not destroyed. The latest commit should contain a fix preventing that from happening.

[2021-09-13 19:51] xpufx commented on #222
I was on the latest release. I cloned the code now and it's working properly. Thanks.!

[2021-09-13 19:51] #222 closed, assigned to nobody

[2021-09-15 13:06] HEIGE-PCloud opened #226 "[BUG] 评论区不正确显示"
### Discussed in https://github.com/HEIGE-PCloud/DoIt/discussions/225

<div type='discussions-op-text'>

<sup>Originally posted by **ibyond** September 15, 2021</sup>
#### 更新完最新版主题，评论看不见了，设置如下：
![image](https://user-images.githubusercontent.com/33481048/133437730-0ce7420c-9df6-44a8-a9be-ab7aac7d56e5.png)
![image](https://user-images.githubusercontent.com/33481048/133437873-055ecc87-666b-486d-851f-

[2021-09-15 13:12] HEIGE-PCloud commented on #226
是最新 commit 造成的，直接回滚到上一个 commit 就好了。那些 if else 的逻辑我还是不去动他们了。。。

[2021-09-15 13:12] #226 closed, assigned to HEIGE-PCloud

[2021-09-16 06:08] CXwudi opened #227 "[BUG] Can't put a post to series / 无法使用系列"
### Describe the bug 描述你遇到的错误

When I try to put `series: ["my-series"]` in the post markdown file, Hugo failed to build
把文章加进系列里导致hugo启动失败

### Expected behavior 期待的行为

Hugo should boot
Hugo应该可以build并启动带有系列的文章

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/17377423/133558522-aa76fd12-0012-4719-ac62-0869e1b8fb93.png)

### Build Environment 构建环境

- OS: WSL2 Ubuntu 20.04
-

[2021-09-16 10:23] #227 closed, assigned to nobody

[2021-09-21 02:56] kyb3rcipher opened #233 "[BUG] Font Awesome Icon not work"
### Describe the bug 描述你遇到的错误
Some font awesome icons won't load

A clear and concise description of what the bug is.
一段简短的对于你遇到的错误的描述.

### Expected behavior 期待的行为
I tried to load the font awesome icon "instagram-square" and it wouldn't load.

A clear and concise description of what you expected to happen.
一段简短的对于你期待的行为的描述.

### Screenshots 屏幕截图
![image](https://user-images.githubusercontent.com/

[2021-09-21 06:57] HEIGE-PCloud commented on #233
![image](https://user-images.githubusercontent.com/52968553/134125415-51a5a855-e8cd-404f-a6a6-6ecf8d70659e.jpeg)

Is this the instagram icon?

[2021-09-21 06:59] kyb3rcipher commented on #233
Yes that is the instagram icon that works the one that does not work is "instagram-square"

[2021-09-21 07:54] HEIGE-PCloud commented on #233
Should be fixed with the latest commit. The Fontawesome webfont library has not been updated for a long time...

[2021-09-21 13:07] kyb3rcipher commented on #233
Okay, thanks

[2021-09-21 13:07] #233 closed, assigned to nobody

[2021-09-24 03:44] xqbumu opened #236 "[FEATURE] 添加 remark42 评论系统"
### Describe the feature you want 描述你的功能需求

- 该系统以golang为后端
- 该系统提供了多端登录

### Useful reference 有价值的参考

项目地址：
https://github.com/umputun/remark42

演示：
https://remark42.com/demo/

[2021-09-24 19:07] yeahwong opened #238 "[FEATURE] 增加buymeacoffee.com按钮"
请求在文摘内文页面中增加buymeacoffee赞赏功能的支持，谢谢。

[2021-09-24 20:53] HEIGE-PCloud commented on #238
Buymeacoffee 提供了许多不同样式与风格的赞助图标，你可以在 [dashboard](https://www.buymeacoffee.com/dashboard) 中的 “Integrations to take it to the next level” 自行创建喜欢的 website buttons。复制生成的 image code 并将其放在文章末尾来显示你的赞赏图标。

[code]
![image](https://user-images.githubusercontent.com/52968553/134738012-3fa8de28-c23d-4dd1-9839-5ad3fd003843.png)

你可以通过修改 `style` 属性来调整它的位置与大小。

你也可以通过创建 [自定义 shortcode](https://gohugo.io/templates

[2021-09-24 21:01] yeahwong commented on #238
谢谢回复。是否可以增加一个在文章内页文末设置一个banner的功能呢？这样方便插入某些东西。

[2021-09-24 21:20] HEIGE-PCloud commented on #238
添加一个通用的赞助按钮应该是可行的。

[2021-09-24 22:13] HEIGE-PCloud commented on #238
![image](https://user-images.githubusercontent.com/52968553/134744787-f2b5fe09-6546-45f6-b2cf-262e0c31a969.png)

可以在每个页面的页脚上方加一个类似这样的作者列表，右侧可以放置一个（或者数个）赞赏按钮。

[2021-09-24 22:18] HEIGE-PCloud opened #240 "[BUG] TOC y-overflow is not handled"
When the auto toc gets too long, it should be able to scroll individually.

The toc in [MSDN](https://docs.microsoft.com/en-us/visualstudio/get-started/visual-studio-ide?view=vs-2019) is a correct practice.

[2021-09-24 22:23] yeahwong commented on #238
弱弱地问一下，图片里面Author旁边的小人半身是否可以去掉？

[2021-09-24 22:33] HEIGE-PCloud commented on #238
这 demo 是从 [friend shortcode](https://hugodoit.pages.dev/friend-link-tests/) 那里抄的样式，看看意思意思，后面会调的。

想做成这样的列表是考虑到多作者支持 (#98) 一个页面可以放多个作者的赞赏链接。右边的按钮支持直接配置 html，从而可以直接放置多个赞赏按钮。点击头像或者名称可以跳转到分类页面，或者个人网站。

[2021-09-24 23:29] yeahwong commented on #238
这个友情链接样式中也有那个半身小人，然后某某作者某某时间发布文章那里也有这个半身小人，我个人觉得加了这个半身小人挺难看的。

[2021-09-25 13:29] #236 closed, assigned to HEIGE-PCloud

[2021-09-26 01:31] wey-gu opened #241 "cannot sponsor？"
It seems I am not recognized as gh sponsorship?
And when I was selecting monthly tier I got this error:

![image](https://user-images.githubusercontent.com/1651790/134790095-38470185-1073-411c-b039-9614fd1e42df.png)

Could you plz help on this when you have some time?

Thanks!
BR

[2021-09-26 09:29] HEIGE-PCloud commented on #241
![image](https://user-images.githubusercontent.com/52968553/134801799-c0a21cec-abdc-4d70-ae44-10e25de63b8f.png)
![image](https://user-images.githubusercontent.com/52968553/134801809-96b832ad-8889-4068-a80b-e9e012e7d082.png)
![image](https://user-images.githubusercontent.com/52968553/134801812-dc334eed-da33-4a0d-a678-4f0f972fced8.png)

I too have no clue what is happening...

I will contact GitHub

[2021-09-27 02:57] wey-gu commented on #241
Thank you :)
I meant to sponsor 20 one-time and then have(plus) the monthly one, while it seems not supporting this kind of situation?

[2021-09-27 09:24] GaHoWong opened #243 "[FEATURE] 请求更新Waline评论系统设置"
如题，请求更新Waline评论系统的config.toml设置选项，目前在最新版本的Waline中requiredFields、avatarForce、avatarCDN、anonymous等api已过时，API 仍然有效，但它们会在 V2 版本中移除。

### Useful reference 有价值的参考

If available, provide useful links to fulfill the feature.
如果可以的话, 提供实现这个功能的相关参考链接.
https://waline.js.org/reference/client.html#copyright

[2021-09-27 11:34] HEIGE-PCloud commented on #241
Here is the response I got from GitHub Support.

Hi there,
Thanks for getting in touch.
It looks like there might be a glitch in that specific sponsorship record, though I'm pleased to find it's not impacting on their payments being transferred to you.
If you're in contact with wey-gu, could you copy them into this conversation, or ask them to reach out directly?
I'll then be able to share more de

[2021-09-27 12:30] wey-gu commented on #241
Haha, thanks!
I just sent a support request referring to this issue and mentioned Laurie in ticket #1326832 :)

[2021-09-27 22:52] aozaki-kuro opened #246 "[FEATURE] 请求增加Plausible及Umami作为站点访问统计"
## Describe the feature you want 描述你的功能需求

- 增加[Plausible](https://github.com/plausible/analytics)支持
- 增加[Umami](https://github.com/mikecao/umami)支持

Plausible和Umami都是目前github上高星的Google Analytics替代品。
且相比目前支持的Google Analytics和Fathom，它们都不需要使用cookies，轻量化，且可以免费在自己服务器上通过docker部署。

因此希望跟进增加这两个analytics的支持。

## Umami

示例
[code]
并可以增加`data-domains="mywebsite.com,mywebsite2.com"`限定数据来源。

## Plausible

示例
[

[2021-09-28 08:57] #240 closed, assigned to HEIGE-PCloud

[2021-09-28 10:14] #246 closed, assigned to nobody

[2021-09-28 11:03] dannyloxavier opened #250 "[FEATURE] Waline: option to show or not the user's browser and OS"
### Describe the feature you want 描述你的功能需求

- Feature 1 功能需求 1
  I want the possibility to enable or disable the user's info about browser and OS.

### Useful reference 有价值的参考

This discussion is about the same question https://github.com/walinejs/waline/discussions/576 , where can be solved using this CSS to hide them

[code]

Thank you for your work and have a nice day.

[2021-09-28 11:19] dannyloxavier commented on #250
### Useful reference (again)

It is possible to set 'DISABLE_USERAGENT' to 'true'
It's officially supported by them
You can check it on https://waline.js.org/en/reference/server.html#basic

[2021-09-28 11:23] HEIGE-PCloud commented on #250
Yes, and it is an option on the server side.

[2021-09-28 11:26] dannyloxavier commented on #250
Oh, my...
Thanks for the information! =)
Sorry for so many requests. =/

[2021-09-28 11:26] #250 closed, assigned to nobody

[2021-09-28 12:29] dannyloxavier opened #251 "[FEATURE] Waline: Comment line break"
### Describe the feature you want 描述你的功能需求

- Feature 1 功能需求 1
  I want this feature to solve a line break problem.
  When the phrase is too long, the word is cutted. This solution is to bring the entire word down.
  Basically, including something like this to the Waline scss will solve this problem:

[code]
### Useful reference 有价值的参考

I saw this here: https://github.com/walinejs/waline/discussio

[2021-09-28 12:38] HEIGE-PCloud commented on #251
Why not ask Waline to fix it on their side? I can use custom style sheet to implement a fix, but it is much better if their default style sheet works correctly out of the box.🤔

[2021-09-28 12:49] #243 closed, assigned to HEIGE-PCloud

[2021-09-28 17:24] dannyloxavier commented on #251
It's true. Thank you anyway. Gonna ask them. 😁

[2021-09-29 00:58] dannyloxavier commented on #251
This latest version already solve this problem. Thank you, anyway!

[2021-09-29 00:59] #251 closed, assigned to nobody

[2021-09-29 09:29] dannyloxavier opened #253 "[BUG] Waline doesn't translate to pt-BR"
### Describe the bug 描述你遇到的错误

When using `defaultContentLanguage = "pt-br"` and `languageCode = "pt-BR"`, the waline interface becomes chinese (chinese is the default language).
Using 'en', instead, makes the whole site in english and the waline too.
I can't test if the language code has any kind of typo because the `lang` parameter from waline was removed from the config.toml.
I would test if it

[2021-09-29 09:57] HEIGE-PCloud commented on #241
I have received a $30 One time sponsor successfully! Thank you 😁

[2021-09-29 11:10] HEIGE-PCloud commented on #253
This is quite a tricky issue. I use [Hugo Site Variables](https://gohugo.io/variables/site/) `.Lang` to [set the language](https://gohugo.io/variables/site/) for Waline (and for all other comment systems that support i18n). On a multilanguage site, this allows the comment plugin to be loaded with the corresponding language on different pages.
For example, on DoIt Documentation site, you will find

[2021-09-29 11:18] dannyloxavier commented on #253
Thanks for the reply!
The version 1.3.9 was included the language `pt-br`, for compatibility and still not working. =(

[2021-09-29 11:25] HEIGE-PCloud commented on #253
I will take a look.

[2021-09-29 11:39] dannyloxavier commented on #253
As I said. There is the waline with pt-BR and pt-br (both at the same time), now.
You are right! It's language code format.

[2021-09-29 13:08] HEIGE-PCloud commented on #253
![image](https://user-images.githubusercontent.com/52968553/135274266-d084a47b-5407-42fc-8b07-5a4ebf22e974.png)

I have got it to work. The reason is the #252 does not really update the `Waline.min.js` to 1.3.9. I have no idea what version it is.

[2021-09-29 15:35] dannyloxavier commented on #253
You are the best! Thank you!!!

[2021-09-29 15:35] #253 closed, assigned to nobody

[2021-09-29 15:44] Mister-Hope commented on #253
Hi there, I am the developer of current waline client, and I am negative towards the changes in the newest version (this version is not published by me). Client is a fronend script running on broswers, and should follow the HTML standard (Since TS39 does not clearlify it in ECMAScript).

In the spec, HTML ISO Country Codes should always be uppercase.

Res:

- https://www.w3.org/International/artic

[2021-09-29 16:00] HEIGE-PCloud commented on #253
[Hugo](https://gohugo.io/content-management/multilingual/) uses [RSS language code](https://www.rssboard.org/rss-language-codes) instead of the HTML ISO Country Codes, for which all codes are lowercases. So it is quite difficult to setup Waline for a multilanguage site properly if the lower cases country codes are not supported as I mentioned above.

As far as I know, there is no technical difficu

[2021-09-29 16:03] Mister-Hope commented on #253
I see it, rss do use lowercase, but it's probably not a common standard. (It greatly narrows xml and do have it's own tags, and not much pretty related to html) I will rethink about it later.

[2021-09-29 16:07] Mister-Hope commented on #253
I see your problems, you are receveing rss starded code from Hugo, and that is set by user, right?

I think it's possible for you to write a transform function here to support Waline, but yes, it's much more easier if waline can native support rss langcode.

[2021-09-29 16:10] Mister-Hope commented on #253
I am still negative towards it because I think rss itself is obeying https://www.rfc-editor.org/rfc/bcp/bcp47.txt first. This is made by  IETF, and should be unify accoss the internet. Do you know other language or standard that also make country code lowercase? 🧐

[2021-09-30 01:45] wey-gu commented on #241
Thank you! After confirmed "all dots connected" from Laurie, the monthly tier will come then :D

[2021-09-30 01:48] gclm opened #254 "[FEATURE] 新增文章加密功能"
### Describe the feature you want 描述你的功能需求

新增和hexo一样新增文章加密功能

效果如下：
![image](https://user-images.githubusercontent.com/27618687/135372184-8f0037d5-dc40-47b6-bef0-b090a85dfc7e.png)

### Useful reference 有价值的参考

- https://github.com/D0n9X1n/hexo-blog-encrypt/blob/master/ReadMe.zh.md

[2021-09-30 03:17] gclm opened #255 "[FEATURE] 新增最近10篇文章（已经实现不会搞多语言）"
### Describe the feature you want 描述你的功能需求
- 新增最近10篇文章

目前我已经自己实现了，但是不会做多语言，不知道如何pr或者是否官方可以实现这个需求呢？
![image](https://user-images.githubusercontent.com/27618687/135380291-21d72129-8663-41e7-a96c-c4630df4d119.png)

### Useful reference 有价值的参考

- https://gohugo.io/templates/lists/
- https://blog.gclmit.club/posts/

[2021-09-30 08:00] wey-gu commented on #241
The monthly tier had also been placed just now with the help of Laurie.

If you still have the ticket opening with Laurie, help me to thank her again, please.

Closing this issue.
Cheers!

[2021-09-30 08:00] #241 closed, assigned to nobody

[2021-09-30 08:37] HEIGE-PCloud commented on #255
无论是在首页还是所有文章页面，所有文章都是按照时间顺序排列的，最新的文章本来就会排在顶部。为什么需要单独的一个最近更新板块呢？

![image](https://user-images.githubusercontent.com/52968553/135417706-f4d6f6ec-4859-469e-a233-a22df2b83214.png)

在你提供的这个 demo 中，“最近更新”板块下的文章与下方的文章在文章内容与顺序上都是完全一样的，为什么需要单独添加这个模块呢？

[2021-09-30 08:40] gclm commented on #255
1.  文章是存在更新的操作的。
2. 目前首页和文章归档这里都是基于文件创建时间排序的，所以会存在老文章更新过但是查看的人不知道他更新过的问题。
3. **最近更新是基于文章更新时间排序展示的**

[2021-09-30 08:44] HEIGE-PCloud commented on #254
文章加密超过了主题能提供的功能的范畴，你可以使用 [hugo-encrypt](https://github.com/Izumiko/hugo-encrypt) 来实现相关功能。

[2021-09-30 08:45] gclm commented on #254
好的，谢谢

[2021-09-30 08:45] #254 closed, assigned to nobody

[2021-09-30 08:57] gclm opened #257 "[FEATURE] 主题新增文章评论数统计"
### 主题新增文章评论数统计
效果就像阅读数一样
![image](https://user-images.githubusercontent.com/27618687/135421084-b58eef6a-247b-4774-bbd5-c59c0112e66a.png)

### Useful reference 有价值的参考
- https://github.com/imaegoo/twikoo/issues/231#issuecomment-930621263

[2021-09-30 09:01] HEIGE-PCloud commented on #255
这个功能是实用的，在实现方式上需要更多的考量。我的想法是

- 在“最近更新”中不显示 `lastmod` 与 `date` 相同的文章，以过滤掉新发布的文章
- 仅显示一定时间段内更新的文章（如一个月内）
- 提供单独的 RSS 订阅

[2021-09-30 09:03] gclm commented on #255
可以可以，比我考虑的更全面

[2021-09-30 18:40] HEIGE-PCloud opened #259 "[FEATURE] Enhance searching"
Currently, the search result only guides the user to the correct page, but not the correct paragraph. By adding paragraph information to `index.json` `uri` field to enhance the searching experience.

[2021-10-02 03:57] yeahwong opened #261 "[FEATURE] 支持Safari标签页颜色"
在Safari15中浅色模式下的网站header与标签页的颜色不一致，希望修正这一问题，这样看起来更舒心。

[2021-10-02 11:08] #259 closed, assigned to HEIGE-PCloud

[2021-10-03 10:36] #257 closed, assigned to HEIGE-PCloud

[2021-10-03 10:43] HEIGE-PCloud commented on #261
在 `your_site/assets/css/_override.scss` 中，你可以覆盖 `themes/DoIt/assets/css/_variables.scss` 中的变量以自定义样式。

[code]

你可以通过修改 `$header-background-color` 变量来调整浅色模式下 header 的颜色。

Reference: https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#33-%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A0%B7%E5%BC%8F

[2021-10-04 12:53] yeahwong commented on #261
并不是自定义header的颜色，而是定义Safari标签页颜色与主题header颜色一致，新版本的Safari新增加了标签页颜色的功能。

[2021-10-04 12:58] HEIGE-PCloud commented on #261
抱歉，我不使用 MacOS 也不使用 Safari，对相关的功能与接口不太熟悉。能否麻烦你提供相关的文档以供参考呢？

[2021-10-04 13:09] yeahwong commented on #261
也许可以参考这个链接

https://useyourloaf.com/blog/safari-15-theme-color/

[2021-10-04 14:20] #261 closed, assigned to HEIGE-PCloud

[2021-10-05 21:26] CXwudi opened #263 "[BUG] Waline's view count is broken?"
### Describe the bug 描述你遇到的错误

After I setup waline and also put `visitor = true` in `[params.page.comment.waline]`, it shows this screenshot
设置好waline后并开启`visitor = true`, 并没有成功显示view count
![image](https://user-images.githubusercontent.com/17377423/136104261-c3bfe803-c40f-4f45-80f6-b5e81d8291bb.png)

### Expected behavior 期待的行为

I should see the view count like in the demo
应该像demo那样显示view count

[2021-10-05 22:28] HEIGE-PCloud commented on #263
在 #244 里不知道为啥把 `visitor` 配置项删掉了。。。我提交了一个 fix，麻烦更新到最新的 commit 测试一下。

[2021-10-05 23:34] CXwudi commented on #263
![image](https://user-images.githubusercontent.com/17377423/136116893-a28049d4-c6a7-4e44-8fb4-b72ec5229a80.png)
好快的效率, 感谢

[2021-10-05 23:34] #263 closed, assigned to HEIGE-PCloud

[2021-10-06 12:05] gclm opened #266 "[FEATURE] 新增打印博文为pdf并自动下载pdf"
### 新增打印博文为pdf并导出

- 打印html为pdf
- 自动下载pdf

### Useful reference 有价值的参考
- https://greasyfork.org/zh-CN/scripts/428697-%E7%BD%91%E9%A1%B5%E6%96%87%E7%AB%A0%E8%BD%ACpdf-%E7%BD%91%E9%A1%B5%E5%B1%80%E9%83%A8%E5%8C%BA%E5%9F%9F%E6%89%93%E5%8D%B0-%E9%80%82%E7%94%A8%E4%BA%8E%E7%9F%A5%E4%B9%8E-csdn-%E7%AE%80%E4%B9%A6-%E5%8D%9A%E5%AE%A2%E5%9B%AD-%E5%BC%80%E6%BA%90%E4%B8%AD%E5%9B%BD-%E6%8E%98%E9%87%91-%E6%80%

[2021-10-06 12:42] HEIGE-PCloud commented on #266
DoIt 的页面中使用了大量 JS 用于美化页面，图片也均使用 lazyload 加载，打印为 PDF 并非易事。为了方便编辑或分享，在文档底部可以开启阅读原始文档功能，可以直接查看[源 Markdown 文件](https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/index.md)。

所以我并不认为主题有必要提供这个功能，有“以 PDF 格式分享网页”需求（虽然我不理解为啥有这样的需求？）的同学应该使用相关脚本、浏览器插件，或者使用原始 Markdown 进行分享。

[2021-10-06 12:54] gclm commented on #266
好的。

[2021-10-06 12:54] #266 closed, assigned to nobody

[2021-10-07 09:31] eyllanesc opened #269 "Incorrect indentation of gists"
### Describe the bug

The output of the gists do not respect indentations

### Expected behavior

Using the gist provided from Hugo's docs I get the following:

### Screenshots

Current output:

![Screenshot_20211007_042716](https://user-images.githubusercontent.com/4896200/136358045-4683043f-e156-4a4f-b86a-c6a688138243.png)

Expected output:

![Screenshot_20211007_042852](https://user-images.gith

[2021-10-07 09:49] HEIGE-PCloud commented on #269
It is a stylesheet issue; I have fixed it in the latest commit. Check it out [here](https://hugodoit.pages.dev/theme-documentation-built-in-shortcodes/#2-gist)!

[2021-10-07 10:00] eyllanesc commented on #269
@HEIGE-PCloud many thanks

[2021-10-07 10:00] #269 closed, assigned to HEIGE-PCloud

[2021-10-09 14:43] HonorKnight8 commented on #255
能不能做个 “按发布时间排序” 、 “按更新时间排序”

[2021-10-09 20:36] HEIGE-PCloud commented on #255
在同一页面上同时显示 “按发布时间排序” 和 “按更新时间排序” 遇到了一些技术障碍。

https://gohugo.io/templates/pagination/

[2021-10-10 12:00] #255 closed, assigned to HEIGE-PCloud

[2021-10-11 14:43] tickwizard opened #273 "[FEATURE] 能不能当页面没有设置lastmod时，不显示最后修改时间"
改成只有当页面中加了lastmod属性才显示

[2021-10-13 10:30] HEIGE-PCloud commented on #238
![image](https://user-images.githubusercontent.com/52968553/137115254-32a49546-9fdf-4be8-aa17-c2f22e945d16.png)

我的最新想法是这样的。

1. 如果配置了 `authors` 多作者选项，并排显示多个作者的 avatar。
2. 如果配置了 `author` 选项，使用 `author.avatar` 作为头像。
3. ~~最后 fallback 到 `home.profile.avatarURL`~~ 如果均未配置，则不显示头像。
4. 可以通过 `params.page.sponsor.link` 或者 `params.page.sponsor.custom` 来配置下方的 Sponsor 按钮。
5. 在 `params.page.sponsor.link` 填入一个链接

[2021-10-13 10:41] yeahwong commented on #238
谢谢，辛苦啦。

[2021-10-13 17:53] wey-gu commented on #238
辛苦啦，明明不喜欢 html/css 还这么 nice 👍。（从 Cloud Valley 过来）

[2021-10-13 18:47] HEIGE-PCloud commented on #238
我错了 我不摸鱼了......（来交 pr 啦 #275

[2021-10-14 19:45] #238 closed, assigned to HEIGE-PCloud

[2021-10-15 08:49] eyllanesc opened #276 "[FEATURE] Add giscus comment system"
### Add giscus comment system

It would be great to add the giscus comment system.

https://giscus.app/

[2021-10-15 09:11] HEIGE-PCloud opened #278 "[BUG] TOC may break after scrolling to the comment section"
![IMG_3531](https://user-images.githubusercontent.com/52968553/137463086-b1ecf52d-fd7c-48b8-b1ea-e3dd658f2194.PNG)

[2021-10-15 09:46] HEIGE-PCloud commented on #278
https://github.com/HEIGE-PCloud/DoIt/commit/2f72f5c89cf340b383e1d76a4c02543ac718c16e

Introduced from the PJAX pr

[2021-10-15 09:47] HEIGE-PCloud commented on #278
https://3708120f.hugodoit.pages.dev/

The last working version.

Suspect related to the window variable.

[2021-10-15 11:33] #276 closed, assigned to HEIGE-PCloud

[2021-10-19 11:27] #273 closed, assigned to nobody

[2021-10-20 13:27] HEIGE-PCloud commented on #278
Related https://stackoverflow.com/questions/8898412/iphone-ipad-triggering-unexpected-resize-events

[2021-10-28 22:09] HEIGE-PCloud opened #307 "[v0.2.13 Release] Add a custom release.yml"
https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#example-configuration

Custom the auto-generated release note to make my life easier.

[2021-10-29 00:57] youngxhui opened #308 "[BUG] 友链样式错乱"
### Describe the bug 描述你遇到的错误

友链样式错乱

如果友链不填写 “描述”，样式会发生错乱。

### Expected behavior 期待的行为

可以正常对齐

### Screenshots 屏幕截图

错乱样式

![image](https://user-images.githubusercontent.com/16971804/139355289-ed120e88-b453-4b42-8083-75c3cc3c0ed4.png)

[https://youngxhui.top/links/](https://youngxhui.top/links/)

填写描述后

![image](https://user-images.githubusercontent.com/16971804/139355866-7783c773-ed9a-48f8-9c

[2021-10-29 06:07] HEIGE-PCloud opened #309 "[BUG] Cookieconsent is created multiple times"

[2021-10-29 06:48] eyllanesc commented on #307
@HEIGE-PCloud See https://github.com/release-drafter/release-drafter

[2021-10-29 15:16] HEIGE-PCloud opened #310 "[v0.2.13 Release] Update third-party libraries before releasing"
Or create a GitHub Action to automatically check for updates and create PRs.
Or refactor `theme.js` to use libraries in a different way.

[2021-10-29 21:10] #309 closed, assigned to nobody

[2021-10-30 14:03] HEIGE-PCloud commented on #310
I think I will eventually move to something like webpack and bundle everything into theme.js, but probably not in 0.2.13...

[2021-10-30 18:58] #307 closed, assigned to HEIGE-PCloud

[2021-10-31 05:58] digitaltwinz opened #321 "[FEATURE] Add multiple improvements"
**- Feature 1: Custom headers**
  I want this feature to enable custom headers. Please see the Cloudflare blog post [here](https://blog.cloudflare.com/custom-headers-for-pages/). Links for testing and example is given below.

**- Feature 2: Early hints and asset preloading**
  I want this feature to speed page loading by preloading assets. More information is [here](https://blog.cloudflare.com/ear

[2021-10-31 07:17] eyllanesc commented on #321
@digitaltwinz For **Feature 1**: https://gohugo.io/news/0.67.0-relnotes.

The theme has nothing to do with that feature so you can implement it by adding the config.toml. Instead, you could ask that these fields be added to the config.toml of exampleSite.

[2021-10-31 08:05] eyllanesc opened #322 "[FEATURE] Edit this page"
### Describe the feature you want

- Feature 1: It would be great to add a link or button where clicking on the source code file is linked so that it can be edited similar to what is shown in readthedocs.io:

![Screenshot_20211031_025741](https://user-images.githubusercontent.com/4896200/139573712-3978fe6c-a5d6-40b4-a08f-deedb0be7f04.png)

It should go in the bottom section where it says "Read Mar

[2021-10-31 08:29] HEIGE-PCloud opened #323 "[Enhancement] Defer third-party js loading if possible"
Currently some of them are correctly deferred

[code]

while the others are not

[code]

The infrastructure is ready, use `{{- partial "plugin/defer-style.html" $style -}}` to defer style and `"Defer" true` for scripts. Just go through all styles and scripts to see if any of them can be deferred.

[2021-10-31 08:36] HEIGE-PCloud commented on #321
For Feature 2, I have created an issue to track its progress #323

For Feature 3, DoIt has already optimized for SEO. See

https://github.com/HEIGE-PCloud/DoIt/blob/main/layouts/partials/head/seo.html

https://github.com/HEIGE-PCloud/DoIt/blob/main/layouts/partials/head/meta.html

[2021-10-31 08:36] #321 closed, assigned to nobody

[2021-10-31 08:52] HEIGE-PCloud commented on #310
https://webpack.js.org/configuration/externals/

[2021-10-31 08:57] #308 closed, assigned to nobody

[2021-10-31 11:37] digitaltwinz commented on #321
Thank you both for your replies and links!

[2021-10-31 12:45] HEIGE-PCloud commented on #322
I think I can use the same approach as `Template` in social.yml

https://github.com/HEIGE-PCloud/DoIt/blob/95f0401aa6e87d0f0fb972b0c3fbfc0d4e7ca98d/assets/data/social.yml#L89-L95

The user sets up one field

[code]

and `%v` will be replaced by `relative_path` using [`printf`](https://gohugo.io/functions/printf/).

[2021-10-31 16:23] eyllanesc commented on #322
@HEIGE-PCloud You are great, I love your idea

[2021-11-01 12:30] ghost opened #324 "[BUG] 404页中的 返回 “手指” 按钮无效"
定位到了 # 号

[2021-11-01 12:36] HEIGE-PCloud commented on #324
Safari is the new IE with weird behaviors all over the places.

[2021-11-01 12:36] HEIGE-PCloud commented on #324
https://stackoverflow.com/questions/10223809/in-mobile-devices-safari-a-href-onclick-return-false-doesnt-work-why

[2021-11-01 13:35] #324 closed, assigned to nobody

[2021-11-01 13:35] ghost commented on #324
OK

[2021-11-01 13:52] #323 closed, assigned to nobody

[2021-11-01 14:57] #322 closed, assigned to HEIGE-PCloud

[2021-11-04 05:24] ghost opened #331 "修改菜单 “Posts” 的名称为 “Archives” 之后，在页面中名称不统一"
当我在 config.toml 文件中修改菜单 “Posts” 的名称为 “Archives” 之后，在页面中名称还是 “All Posts” 。

如下图：

<img width="312" alt="Screenshot 2021-10-31 at 12 21 27" src="https://user-images.githubusercontent.com/29486126/139567594-1c15fff7-4c31-4eed-bc56-6756fb1a89ec.png">

<img width="305" alt="Screenshot 2021-10-31 at 12 21 54" src="https://user-images.githubusercontent.com/29486126/139567599-8cca4f38-244e-4ebe-9b8a-c5743

[2021-11-04 07:29] ghost opened #332 "[FEATURE] 建议：设置 pageStyle = "wide" ，并开启 目录 后，请保持页面样式统一"
### 设置 pageStyle = "wide" 后，如果文章开启了右侧的目录，页面样式不统一

在config配置文件中，设置 **pageStyle = "wide"** 后：
对于没有目录的页面：效果居中；
对于有目录的页面：会被 右侧目录 挤到左侧。
被挤到左则的 DIV：
[code]
当这 两种 页面互相切换时，视觉上会有明显的交叉感，影响用户体验。
建议：右侧的目录，不要影响页面的居中效果。

### 有价值的参考
可以参考主题 Even （https://github.com/olOwOlo/hugo-theme-even）
没有目录：https://olowolo.com/post/google-doodle-kids-coding-collect-carrots-solution/
有目录：https://olowolo.com/post/new-mybatis-dy

[2021-11-04 08:52] HEIGE-PCloud commented on #332
这是 wide 且开启目录的样式

![image](https://user-images.githubusercontent.com/52968553/140284547-1129c8cf-eb3f-405a-a8c7-a612478392eb.png)

你希望不开启目录时它长啥样？这样？

![image](https://user-images.githubusercontent.com/52968553/140284728-f287593b-cd1e-4de8-b8c2-31312711fd1b.png)

既保持目录又保持 wide 又保持居中是不可能的，因为那种样式叫做 normal。

![image](https://user-images.githubusercontent.com/52968553/140284931-ea17b719-f933-48d8-b423-

[2021-11-04 08:52] #332 closed, assigned to nobody

[2021-11-04 08:55] HEIGE-PCloud commented on #331
页面中名称统一使用分类的名称，与菜单中的设置无关。

[2021-11-04 08:55] #331 closed, assigned to nobody

[2021-11-04 11:32] ghost commented on #332
是我没有表达清楚。

下面用 test-1 和 test-2 两篇文章的页面对比说明：
1、config 配置开启 pageStyle = "wide"
2、test-1 是一篇有目录的文章，目录标题字号为 H2
3、test-2 是一篇**没有**目录的文章，正文字号为 15px。（test-2 的 toc: false ，不让它显示右侧的目录框，因为它本身没有目录）

我的意思是：当用户在 test-1 和 test-2 两个页面互相切换时，页面上内容的宽度看起来不统一（看起来就像 test-1 不居中，test-1 的文章标题的位置已经左移到 “DoIt” 的 logo 的正下方了）。

两个页面 来回切换 的录屏效果：

https://user-images.githubusercontent.com/29486126/140305865-b46608d7-67fc-4b40-b

[2021-11-05 03:58] wey-gu opened #333 "Showcase the showcase shortcode"
it's a killing feature to me, which i guess is worthy to be seen by others :)

[2021-11-05 04:22] eyllanesc opened #335 "[FEATURE] Banner"
### Describe the feature you want

- Banner: In some circumstances it is required to notify users of something because it would be nice to provide a banner. That banner should show up at the top of the topbar as shown in [mkdocs-material](https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/#version-warning):

![](https://squidfunk.github.io/mkdocs-material/assets/screenshots/ve

[2021-11-05 09:22] #333 closed, assigned to nobody

[2021-11-05 11:20] #310 closed, assigned to HEIGE-PCloud

[2021-11-05 23:07] Ahmed-E-86 opened #337 "[BUG] Multiple issues with GSC"
### Describe the bug
I have 2 issues with Google Search Console:

#### The first issue:
Google Search Console marked some pages as **not mobile friendly**, and I went to more info, and I found these warnings:

![2021-11-06 00 28 44 search google com b97cd6ebe462](https://user-images.githubusercontent.com/29783425/140587277-f238ea29-b12a-4e0d-835c-9b778ce2fa9b.png)

![2021-11-06 00 55 59 search goo

[2021-11-06 08:07] ghost opened #338 "[FEATURE] 功能建议：在文章下方 添加 版权信息 栏"
### 建议：在文章下方添加版权信息栏
可由用户自己在 config 文件中配置 是否开启 版权信息栏。

### 有价值的样式参考：

<img width="841" alt="https::www heson10 com:posts:3217 html" src="https://user-images.githubusercontent.com/29486126/140602774-fc8f8c02-81b1-4db7-934c-36b83efe7826.png">

[2021-11-06 13:16] #337 closed, assigned to nobody

[2021-11-06 13:43] HEIGE-PCloud commented on #338
http://hugodoit.pages.dev/zh-cn/theme-documentation-content/#front-matter

目前已经通过 license front matter 支持了这一功能，但是没有提供默认模板

欢迎提交 pr

[2021-11-06 15:18] #278 closed, assigned to HEIGE-PCloud

[2021-11-07 00:58] ghost commented on #338
默认模板？
你指的是 HTML ，CSS 样式？
还是其他什么呢？

[2021-11-07 21:50] eyllanesc commented on #338
@HEIGE-PCloud I think it could be placed in the upper section of the post like the FeelIt theme does(see [example](https://khusika.com/hello-world/)):

![Screenshot_20211107_164822](https://user-images.githubusercontent.com/4896200/140663055-0960bd53-3d4c-4fbb-b2eb-1f760c2f9f82.png)

In that them the license is established using(see [here](https://raw.githubusercontent.com/khusika/khusika.github.i

[2021-11-07 22:10] eyllanesc commented on #335
The logic should be the same as the cookie consent.

[2021-11-08 05:41] ghost commented on #338
对于文章的版权信息栏，是否可以考虑几点：

1、直接通过 config 配置 Copyright = true / false 来全局控制是否显示出版权信息栏。
展示内容包括：
作者名称
本文链接
版权授权协议（如CC BY-NC-SA 4.0）

2、博主的原创（没有引用其他人的文章）：
这情况，直接由 Copyright = true / false 来展示。

3、博主引用了其他人的文章内容，或纯粹的转载他人内容：
这种情况，可以在 Front Matter 中单独为该文章配置额外的版权引用说明。
主要是添加被引用人的文章链接（如果引用多个人的文章，可以是一个数组，如 referlinked: ["", ""]）

内容包括：
作者名称
本文链接
版权授权协议（如CC BY-NC-SA 4.0）
被引用人的文章链接

[2021-11-08 09:36] HEIGE-PCloud commented on #338
@real-nicholas 为啥要把引用放在版权信息栏里？引用应该使用 [Markdown 脚注语法](https://hugodoit.pages.dev/zh-cn/basic-markdown-syntax/#12-%E8%84%9A%E6%B3%A8)来正确标注。

作者名称和本文链接都是页面上已经有的信息，为什么需要在“版权信息”里重复一遍？

我认为这个解决方案是比较好的，但是需要把链接和名字设为单独的配置项，避免在设置项中出现 HTML。

[2021-11-08 10:47] ghost commented on #338
@HEIGE-PCloud

1、最开始，我是提议把 版权信息 放到文章下方的位置。（我一开始也不知道 Front Matter 中有 license 参数可以把版权显示在文章头部）

2、考虑把 作者名称、文章链接、被引用人链接 放在版权信息里重复出现，是因为有可能爬虫抓取页面数据时，只抓取文章正文内容，屏蔽掉了作者和被引用人的信息，导致版权无法受到保护。（不过 这些其实都可以自己在文章下方显式列出来）

按照上方给出的方案 [example](https://khusika.com/hello-world/)，我没意见。

[2021-11-08 11:29] ghost opened #344 "[FEATURE] 样式建议：页面立体层次感"
### 希望可以考虑让 DoIt 主题的页面更有立体层次感

### 有价值的参考

可以参考这两个主题： [FeelIt](https://github.com/khusika/FeelIt)  和  [Mainroad](https://github.com/Vimux/Mainroad)

这样，文章、评论、页脚 三个部分在整个网页中更加 凸显 层次感，如图：

<img width="1264" alt="Screenshot 2021-11-08 at 19 17 23" src="https://user-images.githubusercontent.com/29486126/140733174-d34b86a5-d165-4095-9d97-112aaf134016.png">

<img width="1264" alt="Screenshot 2021-11-08 a

[2021-11-08 12:52] HEIGE-PCloud commented on #344
DoIt 将坚持自身扁平化的设计风格。

[2021-11-08 12:52] #344 closed, assigned to nobody

[2021-11-08 13:30] HEIGE-PCloud opened #346 "[Enhancement] Refactor `theme.js`"
- [ ] Replace GPL-3.0 libraries #317
- [ ] Use Hugo JavaScript Building to bundle all dependencies in `theme.min.js` #310

[2021-11-09 21:51] HEIGE-PCloud opened #349 "[Enhancement] Optimize CI"
- [ ] Add running condition
- [ ] Select Hugo version

[2021-11-09 22:03] HEIGE-PCloud commented on #349
https://github.com/HEIGE-PCloud/DoIt/actions/runs/1441546962

The total duration is less than 1 minute, and maybe I can add more checks such as https://github.com/gjtorikian/html-proofer

[2021-11-09 23:24] HEIGE-PCloud commented on #346
Or maybe https://gohugo.io/hugo-pipes/js/

[2021-11-09 23:33] HEIGE-PCloud commented on #346
https://github.com/gohugoio/hugoTestProjectJSModImports

[2021-11-10 11:45] HEIGE-PCloud commented on #346
The [`params` option](https://gohugo.io/hugo-pipes/js/#options) allows all configs to be passed to the `theme.js` directly without setting up the ugly config script in DOM.

https://github.com/HEIGE-PCloud/DoIt/blob/390acf4ff9612e22c34694e2caf9d1c1ec8d01e9/layouts/partials/assets.html#L197-L198

[2021-11-14 07:05] ghost commented on #338
Front Matter 中的 license 参数可以在 config 文件中统一配置吗？

[2021-11-14 19:42] #338 closed, assigned to nobody

[2021-11-18 00:04] Ahmed-E-86 opened #355 "[FEATURE] Add a signature to the end of the posts"
### Describe the feature you want

- New Feature
  I would like if you could add a custom paragraph to be placed at the end of the body of each post by using **config.toml**

[2021-11-18 00:53] eyllanesc commented on #355
@Ahmed-E-86  You could use the sponsor section:

https://github.com/HEIGE-PCloud/DoIt/blob/895634b343cfdbaa04478ec1e43f79cae9f44f40/exampleSite/config.toml#L269-L273

If my suggestion is not valid then you could indicate what the objective of that section would be, indicate some practical example.

[2021-11-18 01:49] Ahmed-E-86 commented on #355
Thanks for your response. That will work, but I want to include HTML tags, because I want to format the text and add other links.

[2021-11-18 01:55] eyllanesc commented on #355
@Ahmed-E-86 Then use the section "custom", in the piece of code that I show you see an example where HTML tags and links are placed.

[2021-11-18 14:13] Ahmed-E-86 commented on #355
Custom is used for the link, not the whole text, am I wrong?

[2021-11-18 14:59] eyllanesc commented on #355
@Ahmed-E-86 Okay, it seems that my suggestion does not meet your requirements. So I suggest that you justify the use of that new section but imagine that every so often someone is going to ask for a similar section but in another part (below the title, above the title, etc). Each part of the post has an objective, could you indicate a practical case of what that section would be used for?

[2021-11-18 18:05] Ahmed-E-86 commented on #355
Something like a signature, at the end of the body, before or after the sponsor section. Whatever the owner of the project approves.

[2021-11-18 21:19] HEIGE-PCloud commented on #355
I mean... If you want to add a paragraph to the end of each post, why don't you just add it directly? Using some commands like `echo "my text" | tee -a *.md` can do this very easily.

If you want to manage the signature centrally, then you can create a custom [shortcode](https://gohugo.io/templates/shortcode-templates/) `{{% myshortcode /%}}` and add this shortcode to the end of the posts. Then yo

[2021-11-19 19:17] Ahmed-E-86 commented on #355
Using a custom shortcode seems the best option for my use case. Thanks for your reply @HEIGE-PCloud

[2021-11-19 19:17] #355 closed, assigned to nobody

[2021-11-20 07:57] qingwave opened #357 "[BUG] 页面跳转滚动条位置不变"
### Describe the bug 描述你遇到的错误
每次页面跳转（首页->文章页，文章页->上一篇），跳转后滚动条不变，再滚动到最上面

### Expected behavior 期待的行为
跳转后直接从页面顶端显示
不清楚是不是有意为之，在LoveIt上没发现这个问题，有点影响体验

### Screenshots 屏幕截图
测试使用的是提供的demo https://hugodoit.pages.dev/zh-cn/
跳转前
![image](https://user-images.githubusercontent.com/15335634/142719001-237fcf09-2eae-4690-a327-3e4e700d5fa3.png)

跳转后，滚动条再滚动到顶端

### Preview Environment 预览环境

- DoIt: latest maste

[2021-11-20 10:15] HEIGE-PCloud commented on #357
与 LoveIt 不同， DoIt 添加了 Pjax 刷新支持 #78，每次点击新的链接时，页面中只有变化的部分会被重新加载。因此页面的滚动位置需要重新定位至顶部。又由于 DoIt 设置了 smooth-scroll 的 CSS 属性，所以会显示滚动动画。

[2021-11-20 10:57] qingwave commented on #357
多谢解答

[2021-11-20 10:57] #357 closed, assigned to nobody

[2021-11-22 14:23] HEIGE-PCloud opened #358 "[Enhancement] Use APlayer directly for the music shortcode and support custom playlist"
https://aplayer.js.org/#/home

[2021-11-23 03:25] foxdie987 opened #359 "Lightgalery.js problem when hitting back button"
### Describe the bug

I encountered a problem with lightgalery plugin in DoIt theme, it's working fine as it is, but when you click back button of browser, expect weird thing happens.

### Expected behavior

When you click the back button of browser,
The picture that you view on lightgalery doesn't go way and overflows the website. F5 button will refresh the page, however, I think this issue will

[2021-11-24 09:23] #359 closed, assigned to HEIGE-PCloud

[2021-11-25 03:02] iChunyu opened #363 "[FEATURE] image shortcode 可否提供水平对齐功能（居中）"
### Describe the feature you want 描述你的功能需求

- I hope `image` shortcode could work with parameter like `align` to adjust horizontal location of the image (e.g. align to center).
  希望 `image` shortcode 能够提供形如 `align` 的参数以调整图片水平位置（比如居中）

### Useful reference 有价值的参考

HTML 居中示例：

[code]

[2021-11-25 10:05] HEIGE-PCloud commented on #363
<img width="826" alt="image" src="https://user-images.githubusercontent.com/52968553/143421215-20696191-045a-4830-9cb4-00ac5ccea849.png">

image shortcode 应该是默认就是水平居中的...

[2021-11-25 10:34] iChunyu commented on #363
咦？我加了宽度设置之后就变成左对齐了：

[code]

需要配置文件进行其他设置吗？ 容我再试试。。。。

[2021-11-25 14:14] #349 closed, assigned to HEIGE-PCloud

[2021-11-27 01:38] sugarlesss commented on #363
加上 caption 属性即可居中，value 可以为空字符串。
[code]

[2021-11-27 01:55] iChunyu commented on #363
唔...我这里空字符串不太起作用，但是加了其他字符就可以了。也挺不错，感谢大佬！

[2021-11-27 01:57] sugarlesss commented on #363
我给记错了。。。我平时不需要居中的时候才用空字符串，需要居中是要加描述文字的。

[2021-11-27 22:02] HEIGE-PCloud opened #365 "[FEATURE] Display avatar in author taxonomy page"
#364

[2021-12-02 14:44] HEIGE-PCloud commented on #207
Reopen if any upstream progress

[2021-12-02 14:44] #207 closed, assigned to HEIGE-PCloud

[2021-12-03 07:52] railzy opened #370 "[FEATURE] 希望页面切换统一成先跳转到顶部再进行加载"
### Describe the feature you want 描述你的功能需求
已在demo页上测试
从主页点击进入文章页，会花费一些时间加载页面内容（且内容越多需要的时间越久），再跳转到顶部，让人感觉网页很缓慢，体验不好。
而在文章页相互切换时，会先跳转到顶部再加载内容，访问者可以立刻开始阅读内容，感觉上就快了很多。

因此希望各个页面跳转时能够统一成先跳转到顶部再进行加载。

### Useful reference 有价值的参考
暂无

[2021-12-03 18:34] HEIGE-PCloud commented on #370
https://github.com/HEIGE-PCloud/DoIt/issues/357

已经有两个人提这个问题了，也许我应该做些什么，比如把那个滚动动画给删了，

或者加一个

[code]
之类的东西。

[2021-12-04 17:07] eyllanesc opened #372 "[FEATURE] Button that shares the link in various formats (not social share links)"
The theme accepts many [social share links](https://github.com/HEIGE-PCloud/DoIt/blob/5af8502f6338f9a3df7ae72ee28f8e464415b2ec/exampleSite/config.toml#L756-L784) but in some cases the reader does not want to share it through social networks but for example only the link or a markdown (perhaps also a .rst). For example in [this blog](https://hive.blog/archlinux/@rgomezgerardi/como-instale-arch-linu

[2021-12-04 17:16] HEIGE-PCloud commented on #372
To be honest, if I want to share a URL, instead of looking for some buttons to copy, I will directly copy it from the address bar...

[2021-12-04 17:21] HEIGE-PCloud commented on #372
The markdown code may be a little bit more helpful, but comparing "copy title and url separately into `[<title>](<url>)`" with "scrolling to the end of the post to find a button that copies it", I doubt how many people will really use it...

[2021-12-04 17:22] eyllanesc commented on #372
@HEIGE-PCloud  I also thought the same but I think that a popup where you can place new formats to make the links be shared in a simple way is more pleasant and elegant.

I have reviewed several blogs (I had thought about this feature several weeks ago) and I saw that it is better to place an extra share button, if it were the same, copy the link then the "share links buttons" since they could cop

[2021-12-04 17:25] eyllanesc commented on #372
@HEIGE-PCloud The objective of any share button is to make the work easy for readers, so social networks implement an api for developers to use to share information. In this case it would be something simpler but just as effective.

[2021-12-04 17:27] eyllanesc commented on #372
The "scrolling to the end of the post to find a button that copies it" would also apply to the other share buttons, I don't think they go to the bottom of the post to look for the share button, but rather later to read post and since they are at the end of the post, see the share buttons and analyze if they want to share it.

[2021-12-04 17:35] HEIGE-PCloud commented on #372
When you want to copy a markdown code to a blog, it is less likely that you want to share the code with someone, but more likely that you are writing some new posts and want to reference this blog. So, you are more likely in the middle of the post, and I think it is easier to just copy the url from the address bar (which also takes advantage of your anchor tracking pr #366).

[2021-12-04 17:36] HEIGE-PCloud commented on #372
So what exactly do you want in that popup? The url to the post, the url to the raw markdown file (maybe rst file as well)? Am I understanding this correctly?

[2021-12-04 21:51] eyllanesc commented on #372
Exactly, that's what I want, so in the second image I only show a part of the original popup emphasizing what I want.

[2021-12-05 12:02] railzy commented on #370
尝试了在theme.min.js中 `document.addEventListener("pjax:send",function(){window.removeEventListener("scroll",a)})` 这句前面加入了上面的代码，感觉体验好了很多，建议考虑加入

不过现在滚动动画开启后有几率使得页面切换时未滚动到顶部就停住，所以我个人在 `_custom.scss` 里覆盖去掉了

[2021-12-06 19:24] HEIGE-PCloud opened #378 "[Feature] 请求添加Cloudflare 的 Web Analytics 的功能"
### Discussed in https://github.com/HEIGE-PCloud/DoIt/discussions/377

<div type='discussions-op-text'>

<sup>Originally posted by **pengshp** December  6, 2021</sup>
我使用Cloudflare 的 Web Analytics 的功能，但是主题里没有，请求添加😁
详情：[Cloudflare Web Analytics](https://developers.cloudflare.com/analytics/web-analytics)</div>

[2021-12-06 19:25] HEIGE-PCloud commented on #378
[code]

[2021-12-07 10:13] #378 closed, assigned to HEIGE-PCloud

[2021-12-08 14:41] HEIGE-PCloud opened #381 "[BUG] Anchor tracking is conflict with direct links to title"
Related: #366

When visiting a URL containing hashtag links to a specific title, the hashtag will be overridden. For example, when visiting https://hugodoit.pages.dev/theme-documentation-basics/#site-configuration the `#site-configuration` is removed before the page can jump to that section.

This hugely impacts the searching experience and other direct links.

[2021-12-08 22:36] HEIGE-PCloud opened #382 "[Performance] Improve scrolling performance"
<img width="287" alt="image" src="https://user-images.githubusercontent.com/52968553/145302208-e5a11406-f9c3-4d0a-8a41-3d917f704859.png">

The scrolling is super slow...

https://github.com/HEIGE-PCloud/DoIt/blob/f7386ced624855c397b9d2c85b554335c0e79cb9/src/js/theme.js#L912-L942

#368

[2021-12-09 11:17] HEIGE-PCloud opened #383 "[Enhancement] Provide more custom options to gitalk"
https://github.com/gitalk/gitalk#options

[2021-12-10 21:23] stevolucidity opened #385 "[BUG] Avatar missing on page 2"
### Describe the bug 描述你遇到的错误

On page 2 of the blog, the avatar is not found.
Failed to load resource: the server responded with a status of 404 () https://blog.simons.earth/page/2/avatar.png

### Expected behavior 期待的行为

I expect to see the avatar at the top of the page.

### Screenshots 屏幕截图

Please see attached.

### Build Environment 构建环境

- macOS Monterey Version 12.0.1
- Theme version lates

[2021-12-10 21:43] #385 closed, assigned to nobody

[2021-12-12 17:13] York-Shawn opened #389 "[BUG] Waline can't send photo and seriesNavigation doesn't show up"
### Describe the bug 描述你遇到的错误

1. Waline can't send photo while `uploadImage` is set to true
2. I create my own series which contain 2 posts, activate `seriesNavigation` in **config.toml**, and nav is still missing.

### Expected behavior 期待的行为

1. Can you change the Waline src, cause after I modified the comment.html in `layouts/partial`, the image-uploading just worked.
2. Is something in `examp

[2021-12-12 19:06] digitaltwinz opened #390 "[FEATURE] Add Cloudinary support"
### Add Cloudinary support to improve the website's performance through automated image optimization and loading.

 **New Feature**
I recommend adding this feature to enable following improvements:
- Automated image format selection
- Automated image and video optimization
- Smart image cropping

The free tier plan can be sufficient for blogs and small projects.

### Useful reference
https://www.b

[2021-12-12 22:00] HEIGE-PCloud commented on #346
After experimenting with js.build for some times #368 and some discussions at #371, here is my plan of refactoring the `theme.js`

For Milestone 0.2.14
- No external bundlers will be introduced (no webpack). The build process will completely depend on [hugo js.build](https://gohugo.io/hugo-pipes/js/) (which is powered by ESBuild).
- Babel will be removed from the building pipeline since ES6 syntax

[2021-12-13 12:54] HEIGE-PCloud commented on #389
1. I have updated Waline to its latest version, it should work now.
2. Do not add space in the series id. For example, use `series = [ series-name ]` instead of `series = [ series name ]`. Then create a `series/<id>/_index.md` under the content folder to set the series name as demonstrated in the [exampleSite](https://github.com/HEIGE-PCloud/DoIt/blob/main/exampleSite/content/series/getting-start/

[2021-12-13 14:10] York-Shawn commented on #389
Thanks for your reply. After changing different values, I finally made it, it seems like upper case is not allowed if you wanna enable seriesNavigation. I don't know if it's the `series` value or the directory name under series directory that caused this. But anyway, it just works.

[2021-12-13 14:39] eyllanesc commented on #389
or maybe: `series = [ "series name" ].`?

[2021-12-13 15:38] York-Shawn commented on #389
mine is `series: ["series-name"]`

[2021-12-13 17:06] HEIGE-PCloud commented on #389
I guess the way it works is that if a series name contains uppercase characters or spaces `Series Name`, it will be converted into `series-name` as an internal id, and the `Series Name` will be set to its name as a separate variable. (Just guess how it works based on its behaviour, have not checked Hugo's source code.)

<img width="554" alt="image" src="https://user-images.githubusercontent.com/52

[2021-12-14 14:36] eyllanesc opened #392 "[FEATURE] Add diaspora* social network"

[2021-12-14 15:16] #392 closed, assigned to nobody

[2021-12-14 15:23] #389 closed, assigned to HEIGE-PCloud

[2021-12-14 15:25] HEIGE-PCloud commented on #389
It should work correctly now with any series name.

https://hugodoit.com/series-taxonomy-tests/

[2021-12-14 15:25] #363 closed, assigned to nobody

[2021-12-14 15:57] #381 closed, assigned to nobody

[2021-12-15 12:37] ghost opened #394 "[FEATURE] 希望可以在文章 正文上方 添加一条分割线！"
### 希望可以在文章 正文上方 加一条分割线！

- New Feature
  希望在 正文上方 ，也就是 发表日期 那一栏的下方添加一条分割线，就像文章底部那样。
  这样看起来层次分明。
  如图：
<img width="860" alt="Doit-" src="https://user-images.githubusercontent.com/29486126/146187694-a13e2e62-e67f-46e0-b4c2-22109090feec.png">

### 有价值的参考

https://khusika.com/hello-world/

[2021-12-18 23:16] #394 closed, assigned to HEIGE-PCloud

[2021-12-18 23:27] HEIGE-PCloud commented on #382
The main cost comes from `getBoundingClientRect`. The usage of this function needs to be audited and use constants to cache its result if possible.

[2021-12-19 15:28] digitaltwinz opened #397 "[FEATURE] Add Telegram social share button for pages"
### The Telegram sharing button is missing on the bottom of pages.

### Useful reference
https://telegram.org/faq#q-what-is-telegram-what-do-i-do-here

If available, provide useful links to fulfill the feature.
https://core.telegram.org/widgets/share
https://upload.wikimedia.org/wikipedia/commons/8/83/Telegram_2019_Logo.svg

### Button image
[![image](https://img.favpng.com/24/24/8/telegram-logo-c

[2021-12-19 20:30] #397 closed, assigned to nobody

[2021-12-19 21:18] digitaltwinz commented on #397
@eyllanesc @HEIGE-PCloud the share button is not showing up for some reason. Can you please verify its functionality? Thanks in advance!

[2021-12-19 21:29] eyllanesc commented on #397
@digitaltwinz Have you added `Telegram = true ` in `[params.page.share]` section  to your config.toml?

https://github.com/HEIGE-PCloud/DoIt/blob/8793250794f5331005079f082e205eb9f11503ce/exampleSite/config.toml#L794

If you check [the demo](https://hugodoit.pages.dev/) you will see that it has been added.

<sub>**Note:** If you want to see that any feature works then use the [exampleSite](https://

[2021-12-19 21:54] #382 closed, assigned to HEIGE-PCloud

[2021-12-19 22:12] HEIGE-PCloud commented on #358
https://github.com/MoePlayer/hexo-tag-aplayer

I should probably implement it in a similar way.

[2021-12-19 22:15] HEIGE-PCloud commented on #358
Currently, the shortcode is depend on [MetingJS](https://github.com/metowolf/MetingJS) which is no longer maintained. But it does provide a unique function that can fetch music from NetEase Music and QQ Music. Not sure it is still [working](https://github.com/metowolf/MetingJS/issues/62) but directly removing MetingJS might affect some current users. I think I will have to keep both for a while...

[2021-12-21 01:48] yeahwong commented on #217
我又发现一个问题，链接在telegram或twitter中，有的链接会显示图片，而doit的博客并不会显示，这个需要怎么设置？谢谢。

[2021-12-21 17:27] HEIGE-PCloud opened #409 "[Enhancement] Add host on in footer"
- [ ] Add `Host on (GitHub Pages/Vercel/...)` to the footer with i18n.
- [ ] Use `params.footer.hoston` to set the value (support HTML).
- [ ] Update the example config.toml

[2021-12-21 19:49] #358 closed, assigned to HEIGE-PCloud

[2021-12-21 20:35] HEIGE-PCloud opened #411 "[DoIt] Seperate comment systems from `theme.js`"
https://github.com/HEIGE-PCloud/DoIt/issues/346
https://github.com/HEIGE-PCloud/DoIt/issues/383

[2021-12-21 21:43] #409 closed, assigned to nobody

[2021-12-21 21:59] HEIGE-PCloud commented on #217
<img width="392" alt="image" src="https://user-images.githubusercontent.com/52968553/147002531-4899bcfc-f43e-48ab-a6a3-5202ce9a5d89.png">

@yeahwong 推特上的显示似乎在我这里没有问题。Telegram 不显示也许是因为我使用了 webp 格式的图片，Telegram 不支持。换回 png 之后应该就可以了。代码上应该是没什么问题的，在文章前置参数中配置 `featuredImage` 就可以启用了。

可以参考 exampleSite：

https://github.com/HEIGE-PCloud/DoIt/blob/188fdde2163ae851591a9d2d7b26ab3ab041c244/exampleSite/content/p

[2021-12-22 10:02] ZhaoUncle opened #413 "[FEATURE] 页面统计"
### Describe the feature you want 描述你的功能需求

我之前在LoveIt加了CMZZ和卜算子统计的页面UV/PV的功能，如有考虑，我可以提个pr？

### Useful reference 有价值的参考
![image](https://user-images.githubusercontent.com/31182637/147074473-ededff96-a144-48d0-b9fb-d7c357b92550.png)

[2021-12-22 10:03] sugarlesss commented on #413
非常棒的功能，赞

[2021-12-22 14:08] yeahwong commented on #217
啊，原来和图片格式有关，谢谢指教。

[2021-12-22 21:18] #383 closed, assigned to nobody

[2021-12-22 21:28] #411 closed, assigned to HEIGE-PCloud

[2021-12-22 21:48] #370 closed, assigned to nobody

[2021-12-22 21:56] HEIGE-PCloud commented on #335
I doubt how many people will use it, but here is an example that might help.

https://codepen.io/matswainson/pen/PGrqGG

[2021-12-22 22:26] HEIGE-PCloud commented on #372
I still don't get it. Why do you need a flyout window to copy the url to the post......

https://gohugo.io/content-management/formats/

Also, it seems that it is not possible to generate rst format files from Markdown through Hugo. If you want to share in a "different" format, you have to write the source file in that "different" format, and use some `outputFormats` settings to generate such file.

[2021-12-22 22:26] #372 closed, assigned to nobody

[2021-12-22 23:56] #335 closed, assigned to nobody

[2021-12-23 10:45] ghost opened #419 "[BUG] “系列”页面添加PJAX函数后导致页面出现 “空引用” 问题"
### “系列”页面添加PJAX函数后导致页面出现 “空引用” 问题

我在文章中添加 PJAX 函数控制 Twikoo 评论的统一性。
但是在 “系列” 类型的文章中添加了PJAX函数后，页面上会出现一个空的引用： ```<blockquote></blockquote>```
而其他非 “系列” 类型的文章都不会这样。Hugo版本：0.88.1

如图：
<img width="818" alt="Screenshot 2021-12-23 at 18 38 36" src="https://user-images.githubusercontent.com/29486126/147228919-b54edab0-c35e-454d-abe4-96f5fa7bece9.png">

[2021-12-23 11:42] HEIGE-PCloud commented on #419
能提供一个 demo 吗？

[2021-12-23 13:05] ghost commented on #419
没有部署到线上。

你可以在你的demo系列文章md文件里添加那段pjax函数，看看能复现吗？

[2021-12-23 16:46] eyllanesc opened #421 "[BUG] Unexpected change of position of the search menu in transitions."
### Describe the bug

When the page is changed (for example when clicking on the menu tabs) the search icon goes down and then it is placed in the appropriate position.

### Expected behavior

It shouldn't change position like the other menus.

### Screenshots

![Screenshot_20211223_113319](https://user-images.githubusercontent.com/4896200/147268590-54e18233-dea6-4bf1-92e7-035058ff1898.png)

### B

[2021-12-24 08:24] ghost opened #422 "[FEATURE] 希望 “系列” 可以实现目录层级结构"
### 希望 “系列” 可以实现目录层级结构
对于系列文章中的列表：`<div class="details series-nav open"></div>`，这里面希望可以实现目录层级结构。

比如：
<img width="209" alt="Screenshot 2021-12-24 at 16 22 43" src="https://user-images.githubusercontent.com/29486126/147334195-bc4c8486-f5b1-4765-a46a-be8533b588ee.png">

[2021-12-24 18:17] 0xK4mu opened #423 "[BUG] Anchors not working"
### Describe the bug

The anchors in the table of contents do not scroll to the sections of the page. When you click on them nothing happens.
Same behavior for the #back-to-top and #comment button in the bottom-right corner.

### Expected behavior

Clicking on a title in the table of contents or clicking on #back-to-top and #comment button should automaticly scroll to the corresponding section of

[2021-12-24 18:26] #423 closed, assigned to nobody

[2021-12-24 22:52] HEIGE-PCloud commented on #422
这个框是用于在不同文章中快速跳转的，放入完整的 table of content 会让它过于冗长，没有必要。

[2021-12-24 22:52] #422 closed, assigned to nobody

[2021-12-24 23:12] HEIGE-PCloud commented on #421
This is very funny, I managed to reproduce it constantly by disabling all the js. And it comes right back to the correct position when I open the devtools.

https://user-images.githubusercontent.com/52968553/147373974-ce11b0e2-b966-4eec-b94c-842c2dc05d93.mp4

[2021-12-24 23:22] eyllanesc commented on #421
@HEIGE-PCloud  It seems that devtools resets the position of the search icon. If you notice when you directly open any link on the page (`https://hugodoit.pages.dev/categories/`, `https://hugodoit.pages.dev/tags/`, etc) in the browser this behavior is not observed but If after being in `https://hugodoit.pages.dev/categories/` you click on the menu `https://hugodoit.pages.dev/tags/` if this behavio

[2021-12-24 23:27] HEIGE-PCloud commented on #421
<img width="729" alt="image" src="https://user-images.githubusercontent.com/52968553/147374157-8cebe330-d566-46b3-a517-cc71fc84fce9.png">

It seems to be caused by an incorrect computed position-bottom value. And gets "updated" to the correct value later somehow.

<img width="729" alt="image" src="https://user-images.githubusercontent.com/52968553/147374172-c4495be5-31a2-4e32-9f2e-1cb05af2d765.png

[2021-12-24 23:32] HEIGE-PCloud commented on #421
Yes, and I noticed that simply refresh the page will trigger this issue as well. I originally suspect it might relate to the PJAX loading, but after testing it with JavaScript disabled, the problem still exists.

Didn't manage to reproduce that with either Chrome or Safari, maybe something Firefox specific? :D

[2021-12-24 23:35] HEIGE-PCloud commented on #421
https://hugoloveit.com/

I observe the same issue with the Hugo LoveIt theme as well. (Refreshing the page to reproduce.)

[2021-12-24 23:50] HEIGE-PCloud commented on #421
Might related to Font Awesome

https://stackoverflow.com/questions/41444873/font-awesome-icon-aligns-wrong-in-firefox

[2021-12-25 00:08] HEIGE-PCloud commented on #419
那段函数和 blockquote 没有任何关系

你大概是在 Markdown 源文件里输了一个空的 `>`

[2021-12-25 00:08] #419 closed, assigned to nobody

[2021-12-25 05:45] eyllanesc commented on #421
I do not reproduce the error in Google Chrome

[2021-12-25 14:11] eyllanesc opened #427 "[BUG] You cannot stop the APlayer player if you change the page and return."
### Describe the bug

Follow the steps below to reproduce the problem:

- Open the post APlayer Tests: https://hugodoit.pages.dev/aplayer-tests/.
- Play the music.
- Go to another post, for example by clicking on the post menu in the header.
- Press the browser's return button.

Doing the previous steps the player continues working but I can't stop it (except reload the page).

### Expected behavi

[2021-12-26 09:29] digitaltwinz commented on #397
@eyllanesc It turned out that I forgot to update the second file (layouts/partials/plugin/share.html) in my repo. Now it is OK. Thanks!

[2021-12-26 21:37] #427 closed, assigned to nobody

[2021-12-27 19:18] #413 closed, assigned to nobody

[2021-12-28 11:52] ghost commented on #419
我没有 在 Markdown 源文件里输了一个空的 `>`
把那段函数加上就有问题，去掉就没有问题

问题没有解决呀，怎么关闭了

[2021-12-29 08:55] ghost commented on #419
[demo](https://real-nicholas.github.io)
已经部署demo，帮忙排查一下

[2021-12-29 09:04] ghost opened #433 "[BUG] 文章md文件中添加PJAX函数后导致页面出现 “空引用” 问题，查看demo"
### 文章 `md` 文件中添加PJAX函数后导致页面出现 “空引用” 问题

我在文章中添加 PJAX 函数控制 Twikoo 评论的统一性。
在文章 `md` 源文件中添加了PJAX函数后，页面上会出现一个空的引用： `<blockquote></blockquote>`
并没有输入一个空的 `>`。

Hugo版本：0.88.1，DoIt版本：0.2.13

demo：[demo](https://real-nicholas.github.io)，请帮忙排查一下！

如图：
<img width="979" alt="Screenshot 2021-12-29 at 17 13 31" src="https://user-images.githubusercontent.com/29486126/147646194-0a2bcba9-d9ed-4cfc-bb76-95c4a11e3

[2021-12-29 10:07] eyllanesc commented on #433
@real-nicholas Could you share the source code (with the pjax function) of the files that generate both articles of your blog?  You should also share the config.toml. Analyzing the cause of the problem with only the error is almost impossible, for this much more information is necessary(minimal and workable example), such as the inputs (the source code).

[2021-12-29 11:07] ghost commented on #433
these are my raw files:
https://raw.githubusercontent.com/real-nicholas/real-nicholas.github.io/main/issues/testing-1.md
https://raw.githubusercontent.com/real-nicholas/real-nicholas.github.io/main/issues/testing-2.md
https://github.com/real-nicholas/real-nicholas.github.io/blob/main/issues/config.toml

[2021-12-29 14:52] eyllanesc commented on #433
@real-nicholas Have you verified that this problem does not occur in other themes?

[2021-12-29 15:32] ghost commented on #433
@eyllanesc
No, I haven't.

Actually, it worked normally last month, but it was like this after I updated the theme last week.

[2021-12-29 15:51] eyllanesc commented on #433
@real-nicholas In general, when you have a project that has N technologies, it implies that each technology can introduce its own bugs, so the task of the developer is to determine which technology has (or does not have) the bug. Given this my question to rule out that this project is the cause of this bug, for example if the problem is repeated in another theme then the problem is not caused by t

[2021-12-29 16:25] eyllanesc commented on #433
Another option is to use the [shortcode script](https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#12-script).

[code]

[2021-12-31 02:02] eyllanesc commented on #433
@real-nicholas If my comments helped solve your problem then don't forget to close the issue.

[2021-12-31 10:16] ghost commented on #433
@eyllanesc thanks.
I have tried to use shortcode script, but I found another interesting problem: this script can sometimes be parsed into the source file of the webpage by Hugo, sometimes it won't, and the reason and rule can't be determined. Therefore, there is no guarantee that shortcode script can write PJAX script into the source file of the webpage.

I'm not going to consider dealing with pj

[2021-12-31 10:36] #433 closed, assigned to nobody

[2022-01-03 14:11] railzy opened #438 "[BUG] 生成的 index.json 中的 uri 链接末尾多出 class=headerLink 字段"
### Describe the bug 描述你遇到的错误

参照demo站
https://hugodoit.pages.dev/zh-cn/index.json
用于 algolia 搜索的 index.json 中， uri 部分末尾多出了` class=headerLink`，导致点击搜索结果只能跳转到对应页面，而不会滚动到内容对应位置

以搜索 bilibili 为例
index.json 中对应
`"uri":"/zh-cn/theme-documentation-extended-shortcodes/#10-bilibili class=headerLink"`
导致最终链接
https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#10-bilibili%20class=header

[2022-01-03 14:31] #438 closed, assigned to HEIGE-PCloud

[2022-01-03 19:34] gnohz opened #441 "Dates are not properly placed"
I use your theme to write journals, and use the date as the title for each post.
However, once we enter the new year (2022), it put my most recent posts to the end of all posts.
![Screen Shot 2022-01-03 at 11 28 10 AM](https://user-images.githubusercontent.com/21259404/147972238-1de7cb43-bdb3-4eef-ab61-0f3ba0065049.png)
![Screen Shot 2022-01-03 at 11 32 24 AM](https://user-images.githubusercontent

[2022-01-03 19:50] HEIGE-PCloud commented on #441
<img width="1080" alt="image" src="https://user-images.githubusercontent.com/52968553/147973449-851c07fd-f89f-46f2-b16c-7d698bbad172.png">

I am not able to reproduce that on the exampleSite... Can you provide a minimal reproduceable demo?

[2022-01-06 15:43] HEIGE-PCloud commented on #441
Reopen if more information is provided.

[2022-01-06 15:43] #441 closed, assigned to nobody

[2022-01-06 16:21] #421 closed, assigned to nobody

[2022-01-07 11:15] kkbt0 opened #442 "[BUG] Telegram comments 评论页面位置问题 Telegram comments position problem"
### Describe the bug 描述你遇到的错误

Telegram comments 元素处于整个页面下方。
The Telegram comments is at the bottom of the entire page.

一段简短的对于你遇到的错误的描述.

### Expected behavior 期待的行为

正常评论应处于页脚之上。
comments should be above the footer.

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/55222315/148534973-a8554ba5-7e2e-46db-b370-4be294dcbfdb.png)

### Build Environment 构建环境

- OS: Ubuntu
- Th

[2022-01-07 12:24] #442 closed, assigned to HEIGE-PCloud

[2022-01-08 11:35] shuaiqinchu opened #444 "[BUG] Some problem..."
![image](https://user-images.githubusercontent.com/96340518/148642586-f44ccb4c-a8cc-4dec-aaa3-f4c9c48e0977.png)

how can i deal with this problem?

github actions

[2022-01-08 12:58] HEIGE-PCloud commented on #444
Turn off the experimental option in the config.toml

[code]

[2022-01-08 12:58] #444 closed, assigned to nobody

[2022-01-09 02:26] railzy opened #445 "[BUG] 移动版页面无法打开目录"
### Describe the bug 描述你遇到的错误

在demo站中同样测试过，移动版页面下点击目录无法打开

### Expected behavior 期待的行为

打开目录

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/57893649/148666730-16b0f8cb-0bb7-4f11-ba49-6b87622c8948.png)

[2022-01-09 11:56] #445 closed, assigned to HEIGE-PCloud

[2022-01-09 17:08] Huoke opened #447 "found no layout file for "HTML" for kind "section": You should create a template file which matches Hugo Layouts Lookup Rules for this combination."
Windows 10 platform， hugo + DoIt,  run hugo
WARN 2022/01/10 00:39:36 found no layout file for "HTML" for kind "section": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.

[2022-01-09 17:28] Huoke commented on #447
![image](https://user-images.githubusercontent.com/24191613/148693386-a334ddf5-404c-4b75-97bb-2a9eed569b5b.png)

[2022-01-09 17:49] #447 closed, assigned to nobody

[2022-01-12 08:53] TheDoubleH opened #450 "[FEATURE] Enable Google Tag Manager"
### Describe the feature you want 描述你的功能需求

Implementing Google Tag Manager could alleviate issues with enabling third-party scripts, as this can be handled by Google Tag Manager

### Useful reference 有价值的参考
https://developers.google.com/tag-platform/tag-manager
https://martijnvanvreeden.nl/how-to-add-google-tag-manager-to-hugo-static-website/
Github Repro for suggested solution: https://github.co

[2022-01-13 10:33] gerdanfs opened #451 "[FEATURE] Dropdown menu functionality"
### Describe the feature you want 描述你的功能需求
Dropdown menu functionality for multilevel navigation.

link:
https://codingnconcepts.com/hugo/nested-menu-hugo/

[2022-01-19 23:45] eyllanesc commented on #450
@TheDoubleH  Is GTM no longer implemented?

https://github.com/HEIGE-PCloud/DoIt/blob/0470f84613208f46fcf4e1fb456c23cac4a1bbee/exampleSite/config.toml#L1022-L1026

https://github.com/HEIGE-PCloud/DoIt/blob/0470f84613208f46fcf4e1fb456c23cac4a1bbee/layouts/partials/plugin/analytics.html#L4-L11

CC: @HEIGE-PCloud

[2022-01-19 23:50] TheDoubleH commented on #450
@eyllanesc Based on how I read it, Google Analytics and Google Tag Manager is two different things. When I go to Google Tag Manager, I have to create a new ID, which is different from the ID created / used by analytics.

The Analytics part works just fine for my site. But the Google Tag manager would make it easier to add different scripts on the fly, and manage those in Google Tag Manager.

[2022-01-19 23:59] eyllanesc commented on #450
@TheDoubleH It seems that you did not understand my comment, I know that GA is different from GTM but the code shows that GTM has been implemented (maybe the name is not correct in the configuration). If you check the code of [this site](https://martijnvanvreeden.nl/how-to-add-google-tag-manager-to-hugo-static-website/) you will see that the code that GTM injects is:

[code]

which is implemented

[2022-01-20 00:14] TheDoubleH commented on #450
@eyllanesc - I believe that

[code]

is Hugo "standard" feature. (See https://gohugo.io/templates/internal/#google-analytics)

and when I tried that, it didn't work for the DoIt theme - Granted I might have done something else wrong. First time playing with Hugo, let alone this theme.

[2022-01-20 00:16] eyllanesc commented on #450
@TheDoubleH

 And what is the other one?

[2022-01-20 00:22] TheDoubleH commented on #450
@eyllanesc This specific Theme?

Again - I don't know Hugo well enough to know the intricacies. My _assumption_ is, that the one documented on gohugo.io would be the "standard" / generic way of adding google analytics.  --  but again - params.analytics."provider" may be a generally accepted theme setting that are used.

In an ideal world, You should be able to change theme without having to update

[2022-01-20 00:32] eyllanesc commented on #450
@TheDoubleH I know something about hugo but I still don't understand why there are those 2 configurations, I have the suspicion that the other configuration is from GTM but with a bad name and with a default server that must be modified so that other servers can also be established. Therefore the second part of [this comment](https://github.com/HEIGE-PCloud/DoIt/issues/450#issuecomment-1016979632)

[2022-01-20 09:54] HEIGE-PCloud commented on #450
@TheDoubleH @eyllanesc

**Does DoIt support [Google Tag Manager](https://tagmanager.google.com/) now?**

No.

**Then what is ` {{- printf "https://www.googletagmanager.com/gtag/js?id=%v" . | dict "Async" true "Source" | partial "plugin/script.html" -}} ` for?**

There are two versions of Google Analytics, the old [Universal Analytics](https://support.google.com/analytics/answer/2790010?hl=en) and

[2022-01-20 19:45] eyllanesc commented on #450
@HEIGE-PCloud

This discussion allows me to give insight to a larger problem: How to handle requests for new features?

My idea is to analyze each case, but following the guidelines:

**DoIt want that feature to be part of the theme?**

- If the maintainer of the theme considers that it is, then integrate it without using `[params.page.library.js]`.

- If the maintainer does not consider then it w

[2022-01-21 23:08] HEIGE-PCloud commented on #346
Another theme which uses a similar approach

https://github.com/h-enk/doks

[2022-01-26 11:51] iuxt opened #457 "[FEATURE] tab shortcodes"
### Describe the feature you want 描述你的功能需求

- New Feature
  请问可以添加一个选项卡功能吗？写教程博客的时候经常会用到多种选择，比如：
  ![图片](https://user-images.githubusercontent.com/23610854/151158411-ae74fd6b-a159-44ff-be63-be868ae649da.png)
  这样就很优雅

### Useful reference 有价值的参考
效果可以参考：
https://hugo-dynamic-tabs.netlify.app/

现有的github仓库：
https://github.com/rvanhorn/hugo-dynamic-tabs

[2022-01-26 12:10] #450 closed, assigned to nobody

[2022-02-14 15:10] ghost opened #469 "[BUG] Failed to transform twikoo."
### Describe the bug 描述你遇到的错误

启用twikoo导致hugo构建失败。

[code]

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/48022216/153886150-741b740c-832d-4ab5-bb4d-bf37b57d99fd.png)

### Build Environment 构建环境

- OS: Windows 11 21H2 22000.434 amd64
- Theme version/commit: v0.2.13, 212597d
- Hugo version: hugo_extended_0.92.2_Windows-64bit

### Preview Environment 预览环境

- OS: Windows 11

[2022-02-14 15:25] HEIGE-PCloud commented on #469
#444

关闭 config.toml 中的实验性选项

[code]

或者在 themes/DoIt 目录下运行 npm install

[2022-02-14 15:34] ghost commented on #469
感谢♥，已解决🎉

[2022-02-16 08:52] wxzForest opened #472 "[BUG] Hugo v0.92.0以上版本，执行hugo server之后报错"
![image](https://user-images.githubusercontent.com/18545797/154228942-a66c81eb-c536-4968-b9db-a378ed60fec0.png)

Current environment is "development". The "comment system", "PWA", "CDN" and "fingerprint" will be disabled.
当前运行环境是 "development". "评论系统", "PWA", "CDN" 和 "fingerprint" 不会启用.
Error: Error building site: TOCSS: failed to transform "css/style.scss" (text/x-scss). Check your Hugo installat

[2022-02-16 08:57] WingsZeng commented on #472
需要使用 Hugo extended. [相关文档](https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#1-%E5%87%86%E5%A4%87)

[2022-02-16 10:43] eyllanesc commented on #472
@wxzForest I believe that you are not using the extended version, if I run:

[code]

it is observed that it does mention it.

[2022-02-17 02:55] #472 closed, assigned to nobody

[2022-02-17 06:49] ghost commented on #469
`Bundle js`启用时，运行`npm install`后，twikoo前端版本是1.4.18，很好，但是通过Github Actions或者Cloudflare Pages构建时，难免会被`npm install`拖延一点时间；
另一方面，当`Bundle js`禁用时，twikoo前端版本是1.4.10，需要手动更新本地文件 [DoIt/assets/lib/twikoo/twikoo.all.min.js](https://github.com/HEIGE-PCloud/DoIt/blob/main/assets/lib/twikoo/) 至 [v1.4.18](https://cdn.jsdelivr.net/npm/twikoo@1.4.18/dist/twikoo.all.min.js) 。

所以建议更新 [DoIt/assets/lib/twikoo/twikoo.al

[2022-02-17 09:39] HEIGE-PCloud commented on #469
@BahuangShanren bundle js 的意义就是通过 package.json 和 npm 解决原先需要手动管理和更新 js 包的问题。相关的讨论：#371 #346。

在重构完成之后会进行一次 breaking change 发版，要求统一使用 npm install 管理依赖。 所有 commit 进来的第三方包都会被删掉。从 exampleSite 的 [CI build](https://github.com/HEIGE-PCloud/DoIt/runs/5158842146?check_suite_focus=true) 来看，npm install 的开销也就十几秒，在我看来不是什么问题。

留在 1.4.10 没有什么讲究，只是手动管理依赖就会出现这种更新不及时的情况，如果能用 bundle js 就用 bundle js 选项吧。

[2022-02-17 09:39] #469 closed, assigned to nobody

[2022-02-20 07:40] todosrc opened #475 "[BUG] Error build failed: Could not resolve "lazysizes""
S E:\staticsite> hugo server -D
Start building sites …
hugo v0.92.1-85E2E862+extended windows/amd64 BuildDate=2022-01-27T11:44:41Z VendorInfo=gohugoio
WARN 2022/02/20 14:35:22

Current environment is "development". The "comment system", "PWA", "CDN" and "fingerprint" will be disabled.
当前运行环境是 "development". "评论系统", "PWA", "CDN" 和 "fingerprint" 不会启用.
ERROR 2022/02/20 14:35:22 js.Build failed: Could

[2022-02-20 14:16] eyllanesc commented on #475
add `bundle = false` in:

https://github.com/HEIGE-PCloud/DoIt/blob/e539c9ba5f97e5befbfc605118bdd7456e97a4f4/exampleSite/config.toml#L553

[2022-02-20 14:34] HEIGE-PCloud commented on #475
There have been many reports of this problem, and I am curious how people use and configure the theme for the first time. If you follow the documentation on the website https://hugodoit.pages.dev/theme-documentation-basics/ (which I "assume" most people do, and I consider it as the correct practice), you should not encounter this issue (since bundle as an experimental option is not described there

[2022-02-20 14:41] eyllanesc commented on #475
@HEIGE-PCloud People never follow the "right path" so the developer should take the time to explain the new feature.

In my personal case when I try a new technology I always copy the examples and see if something breaks, after playing for a while I just read the tutorials, I think that's the funniest way to learn: first break it and then understand why it breaks .

I propose:

- Place a warning i

[2022-02-20 14:46] eyllanesc commented on #475
@HEIGE-PCloud Note: if this is a "bug" already reported in another issue then close it as a duplicate.

[2022-02-23 09:36] wxzForest opened #477 "[BUG] seems seriesNavigation not work if series fill in Chinese"
### Describe the bug 描述你遇到的错误

seriesNavigation not work if series fill in Chinese.

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/18545797/155292045-6c4570a4-bf93-495a-b138-f91f52e7cbc9.png)
![image](https://user-images.githubusercontent.com/18545797/155292120-a0d584ea-24c2-443c-a152-4b94144268ff.png)

if I change series to English it can be work
![image](https://user-i

[2022-02-23 17:00] #477 closed, assigned to nobody

[2022-02-23 17:04] #475 closed, assigned to nobody

[2022-02-24 19:14] HEIGE-PCloud opened #480 "[FEATURE] Add support for mermaid code block(finally)"
https://github.com/gohugoio/hugo/commit/08fdca9d9365eaf1e496a12e2af5e18617bd0e66

[2022-02-27 09:47] ghost opened #486 "Twikoo doesn't work until the page is refreshed."
### Describe the bug 描述你遇到的错误

打开我的任意一篇[文章](https://www.bahuangshanren.tech/2022-3/)，发现twikoo并不显示，刷新网页面之后，twikoo才出现。本地预览时正常，只有部署后的网页才有这个问题。

### Expected behavior 期待的行为

_No response_

### Screenshots 屏幕截图

_No response_

### Build Environment 构建环境

- OS: Windows 10
- Theme version/commit: https://github.com/HEIGE-PCloud/DoIt/commit/5f0ec9683d76647303f8944181a0f5befc73a9b7
- Hugo version: 0.92.2,

[2022-02-27 14:51] WingsZeng opened #487 "[BUG] Cloud not load the Waline comments. Waline 无法加载评论内容"
### Describe the bug 描述你遇到的错误

Cloud not load the Waline comments, showing loading. Waline 无法加载评论内容, 一直显示加载中
Error in console 控制台报错:
[code]

Related issue 相关 issue:
- walinejs/waline/issues/820

Refreshing did not work. 尝试刷新页面无效.
Destroying and re-instantiating Waline worked. 尝试在控制台中销毁并重新实例化 Waline, 评论内容成功加载.
Wrap the code with `setTimeout` worked. And `setTimeout(new Waline(), 0)` did work! 在 `se

[2022-02-27 23:05] #486 closed, assigned to nobody

[2022-02-27 23:45] HEIGE-PCloud commented on #487
我发现在一些页面中一定会触发这个问题 如 https://hugodoit.pages.dev/theme-documentation-content/ 而在另一些页面中总不会触发这个错误 https://hugodoit.pages.dev/theme-documentation-basics/ 。

[2022-02-27 23:48] HEIGE-PCloud commented on #487
进一步测试发现，只要页面中开启了 KaTeX

[code]

似乎就会触发这个错误。

[2022-02-28 10:35] yqchilde opened #489 "[BUG] giscus评论的样式不能随着网站主题切换"
### Describe the bug 描述你遇到的错误

不管我当页面主题切换为深色，浅色，黑色，giscus评论区都以浅色显示

### Expected behavior 期待的行为

giscus评论区可以随着网站主题色适应

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/36953759/155968231-40114fe2-1010-4123-b622-34e1eb770d9c.png)

### Build Environment 构建环境

- OS: macOS
- Theme version: 0.2.0
- Hugo version: hugo v0.92.2+extended

### Preview Environment 预览环境

- OS: macOS
-

[2022-02-28 14:23] #487 closed, assigned to nobody

[2022-02-28 17:07] eyllanesc commented on #489
The problem is also pointed out in #461.

[2022-02-28 18:31] #480 closed, assigned to HEIGE-PCloud

[2022-02-28 23:11] HEIGE-PCloud opened #491 "[Enhancement] Update SCSS themes for Mermaid"
### Describe the feature you want 描述你的功能需求

Mermaid does not seem to have a way to support dynamically changing theme. https://github.com/mermaid-js/mermaid/issues/1544

Currently, DoIt implements it by composing two themes (neutral and dark) together, and switching between them using CSS selector. Some of the [themes](https://github.com/mermaid-js/mermaid/tree/develop/src/themes) have been update

[2022-03-01 03:30] wey-gu opened #492 "[Enhancement/discussion] More distinguishable font size between different levels of header"
### Describe the feature you want 描述你的功能需求

In posts with multiple levels, it's hard to know if a given header is at the same level or not.

There is some pixel difference already, while, I wonder, if it's possible to make the headline much larger or in different styles?

This was triggered by one of my readers from https://www.siwei.io/resolve-wordle/, where she was confused about the header leve

[2022-03-01 10:49] #489 closed, assigned to HEIGE-PCloud

[2022-03-03 08:29] anyanf opened #496 "[BUG] vercel 部署报错"
### Describe the bug 描述你遇到的错误

Error: add site dependencies: load resources: loading templates: "/vercel/path0/themes/DoIt/layouts/partials/meta/author.html:8:1": parse failed: template: partials/meta/author.html:8: unclosed action

Error: ENOENT: no such file or directory, open '/vercel/path0/public/algolia.json'
--
16:14:04.116 | at Object.openSync (fs.js:462:3)
16:14:04.116 | at Object.readFile

[2022-03-03 08:57] HEIGE-PCloud commented on #496
https://vercel.com/docs/concepts/deployments/build-step#framework-versioning

用 HUGO_VERSION 环境变量设置一个最近版本的 Hugo （如 0.93.1)

[2022-03-03 08:57] #496 closed, assigned to nobody

[2022-03-03 09:02] HEIGE-PCloud opened #497 "[Enhancement] Check the Hugo version before building and throw a more meaningful error message when the version is too low"
### Describe the feature you want 描述你的功能需求

Check `Hugo.IsExtended` and `Hugo.Version`

### Useful reference 有价值的参考

https://gohugo.io/functions/hugo/
https://github.com/HEIGE-PCloud/DoIt/blob/main/layouts/partials/init.html

[2022-03-03 11:14] HEIGE-PCloud commented on #492
<img width="256" alt="image" src="https://user-images.githubusercontent.com/52968553/156551023-859c8fc6-bd05-4836-934e-e26581da86db.png">

This is the current font sizes for different heading in DoIt. The difference between different heading is only 2px, so it is a bit insignificant.

If we increase the size difference to 4px, and set the base size for h6 to be 20px (4px larger than the paragraph)

[2022-03-03 11:20] HEIGE-PCloud commented on #492
As a reference, the browser default stylesheet set h4 as the base point (1em) and scale up in a non-linear way.

| tag | font-size |    px   |
|:---:|-----------|:-------:|
|  h1 |    2em    |   32px  |
|  h2 |   1.5em   |   24px  |
|  h3 |   1.17em  | 18.72px |
|  h4 |    1em    |   16px  |
|  h5 |   .83em   | 13.28px |
|  h6 |   .67em   | 10.72px |

[2022-03-03 14:40] wey-gu commented on #492
Thanks so much, @HEIGE-PCloud for your kind help in putting times on this thread(my issue is not even reasonable though)!

- I just noticed that the feeling of differences in my mind is actually exponential rather than linear as you have shown as references from the default browser behavior.
- I agree that 32px is too thick already.
- I guess the reason why the original design in *it so(that there

[2022-03-03 15:02] wey-gu opened #500 "[question] on Syntax Highlighting of Cypher"
### Describe the bug 描述你遇到的错误

If I understand it correctly, from [here](https://gohugo.io/content-management/syntax-highlighting), hugo is leveraging chroma to enable syntax highlighting.

From here:

https://github.com/alecthomas/chroma/blob/9de08fc6c8a378c8d2e58930c09d2ab9b8ec26f0/pygments-lexers.txt#L117

We could see cypher is supported, while, in doit, it was not properly highlighted.

From

[2022-03-03 15:24] HEIGE-PCloud commented on #500
Hugo does not seem to recognize the language and uses `language-fallback` for the code block. I am afraid there is not much the theme can do for it.

I suspect it is caused by a mismatch in the language name. In the [chroma playground](https://swapoff.org/chroma/playground/), I didn't see a language called "cypher", maybe use `GraphQL` for the language code can get the highlighting to work.

<img

[2022-03-03 15:56] HEIGE-PCloud commented on #492
a. You definitely should not use non-continuous headers. The table of content completely depends on the headers to determine its nesting, and non-continuous headers will generate a very ugly result.

<img width="205" alt="image" src="https://user-images.githubusercontent.com/52968553/156597146-0ba73b58-d433-412b-a23c-f60c8ca4462e.png">

b. In fact, it is recommended to always start with a h2 heade

[2022-03-03 16:36] wey-gu commented on #492
Thanks!
Typing from mobile GitHub now.
- I will look into the start level when I could!
- I should go with the 1.1.foo style heading ;)

Thanks again, have a good night!

Regards, Wey

[2022-03-04 02:04] wey-gu commented on #500
Thanks @HEIGE-PCloud !

I am mitigating with `GraphQL` now, it's actually quite interesting that GraphQL isn't about Graph in most cases.(one exception is that dgraph had been trying to make their graph query language similar to GraphQL.)

[2022-03-04 02:05] #500 closed, assigned to nobody

[2022-03-04 02:32] Huoke commented on #475
I think the main reason for this problem is that the error logs prompt is not accurate enough

[2022-03-04 15:13] Yangly0 opened #501 "[BUG] 无论怎么修改config.toml，页面不变"
### Describe the bug 描述你遇到的错误

当我修改config.toml后，页面并不发生变化。

### Expected behavior 期待的行为

解决该问题

### Screenshots 屏幕截图

页面一直出现的样子：
![image](https://user-images.githubusercontent.com/43691492/156787831-a52250b7-37c4-45f3-afbb-2183e2329e9a.png)

config.toml的配置：
![image](https://user-images.githubusercontent.com/43691492/156788136-692d6819-9229-4381-a859-e0100118bf1a.png)

### Build Environment 构建环境

-

[2022-03-04 15:31] WingsZeng commented on #501
看起来您并没有使用 DoIt 主题. 您的配置文件中并没有指定主题. 如果您在构建的时候加了 `-t` 选项指定 DoIt 主题的话, 这样的配置应该是会报错的.

请参考 [该文档](https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#2-%E5%AE%89%E8%A3%85) 进行配置.

[2022-03-04 16:06] HEIGE-PCloud opened #502 "[文档] 审核中文文档的标点符号使用"
由于历史遗留问题，中文文档的标点符号一直使用了英文标点。应参考 [中文排版指北](https://github.com/sparanoid/chinese-copywriting-guidelines)，并借助 [MarkdownLint](https://github.com/DavidAnson/markdownlint) 工具全面审核中文文档。

- [ ] #505
- [ ] [Emoji 支持](https://hugodoit.pages.dev/zh-cn/emoji-support/)
- [ ] [Markdown 基本语法](https://hugodoit.pages.dev/zh-cn/basic-markdown-syntax/)
- [ ] [主题文档 - 基本概念](https://hugodoit.pages.dev/zh-cn/theme-documen

[2022-03-05 00:04] #501 closed, assigned to nobody

[2022-03-05 01:08] HEIGE-PCloud commented on #492
@wey-gu It turns out it is quite easy to enable heading numbering by pure CSS.

https://do-it-46gvlglca-pcloud.vercel.app/markdown-tests/

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/52968553/156861171-3bf7c79d-c1ca-4641-9d6b-1608bdc95252.png">

Is this something useful?

[2022-03-05 05:52] wey-gu commented on #492
This.... is beyond useful, instead, it's terribly awesome to me 😭.

Cheers// Wey

[2022-03-05 05:54] wey-gu commented on #492
I'm really eager to see this could become a feature!🤩

[2022-03-05 13:19] dbrg77 opened #506 "[FEATURE] Display full content of posts on homepage"
### Describe the feature you want 描述你的功能需求

Hi,

Thanks for creating the awesome theme. I really like it. Currently, the default behaviour of `DoIt` is to display the summary of the post on homepage.

Is there a way of showing the full content for the post on homepage? I tried to modify a few things in `layouts` without success. I'm quite new to `Hugo`.

Thank you.

Regards,
Xi

### Useful referen

[2022-03-05 13:59] WingsZeng commented on #506
Maybe you can set `summaryLength` in the site configuration file to a large enough number?

Related documentation:
- https://gohugo.io/content-management/summaries/#automatic-summary-splitting

[2022-03-05 14:12] dbrg77 commented on #506
Thanks for the suggestion. I could do that, but the full content will be shown as plain text, not rendered in markdown.

The motivation here is to be able to immediately read the post in its full, rendered format, without having to click on the `Read more`. In other themes, I can locate the HTML file that control this behaviour and simply change the `.Summary` to `.Content`.

`DoIt` is just a bit

[2022-03-05 16:49] #506 closed, assigned to nobody

[2022-03-08 01:05] HEIGE-PCloud opened #515 "扩展shortcodes里面的typeit针对代码样式有误"
### Discussed in https://github.com/HEIGE-PCloud/DoIt/discussions/514

<div type='discussions-op-text'>

<sup>Originally posted by **yqchilde** March  8, 2022</sup>
例子是doit官方的演示网站 [https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#simple-content](https://hugodoit.pages.dev/zh-cn/theme-documentation-extended-shortcodes/#simple-content)

样式如下：
<img width="763" alt="image" src

[2022-03-08 22:46] HEIGE-PCloud commented on #515
https://github.com/HEIGE-PCloud/DoIt/blob/5a23fa10c1cfd227e7c3d664f1a3f26313130fc4/layouts/shortcodes/typeit.html#L8-L15

DoIt 用了一些 dirty hack 来处理 TypeIt 的 code block，在 0.93.0 中 code block 生成的 HTML 出现了一些变化，导致了这个错误。需要进一步调查。

[2022-03-10 21:24] HEIGE-PCloud opened #517 "[Documentation] How to enable and customize heading numbers in DoIt"
### Describe the feature you want 描述你的功能需求

_No response_

### Useful reference 有价值的参考

_No response_

[2022-03-11 11:33] wu-yue-yu commented on #502
你好，我在GitHub上刷到了一个也是基于LoveIt开发的主题，上面有个还不错的中文排版方式，不知道对你有没有帮助。
[主题仓库地址](https://github.com/Lruihao/FixIt)
这个主题使用的方案是
- 支持基于 [pangu.js](https://github.com/vinta/pangu.js) 的中文排版
感谢您开发的这个主题

[2022-03-11 16:00] wey-gu commented on #492
Closing it as #508 addressed it in an elegant way.
Thanks again @HEIGE-PCloud 😭.

[2022-03-11 16:00] #492 closed, assigned to nobody

[2022-03-18 03:23] anyanf opened #524 "[BUG] Katex折行渲染"
### Describe the bug 描述你遇到的错误

$$
\begin{aligned}
u \cdot n
& =u n^T \\
& = u(A A^{-1})n^T \\
& =(uA)(A^{-1}n^T) \\
& =(uA)((A^{-1}n^T)^T)^T \\
& =(uA)(n(A^{-1})^T)^T \\
& =uA \cdot n(A^{-1})^T \\
& =uA\cdot nB \\
& =0
\end{aligned}
$$

渲染成了一行

### Expected behavior 期待的行为

期望可以折行

### Screenshots 屏幕截图

_No response_

### Build Environment 构建环境

_No response_

### Preview Environment 预览环境

_No resp

[2022-03-18 08:47] HEIGE-PCloud commented on #524
应该用 `\\`

[code]

[2022-03-18 08:47] #524 closed, assigned to nobody

[2022-03-18 08:53] anyanf commented on #524
一样没有折行。。

[2022-03-18 08:54] HEIGE-PCloud commented on #524
https://github.com/HEIGE-PCloud/DoIt/discussions/518

[2022-03-18 09:00] anyanf commented on #524
可以了，非常感谢。。

[2022-03-19 14:15] #497 closed, assigned to HEIGE-PCloud

[2022-03-19 15:48] HEIGE-PCloud opened #526 "[FEATURE] Improve printing experience"
### Describe the feature you want 描述你的功能需求

- [ ] Hide menu bar
- [ ] Make TOC static
- [ ] Load all lasyload pictures
- [ ] Set proper page margin
- [ ] Hide comment section
- [ ] Expand all code blocks
- [ ] Wrap all overflow

### Useful reference 有价值的参考

https://developer.mozilla.org/en-US/docs/Web/Guide/Printing

[2022-03-23 13:32] lazydeveloper opened #528 "Tags and Categories are not being rendered"
### Describe the bug 描述你遇到的错误

Tags and Categories are not being rendered, where as only posts are getting rendered in my case.

### Expected behavior 期待的行为

_No response_

### Screenshots 屏幕截图

_No response_

### Build Environment 构建环境

_No response_

### Preview Environment 预览环境

_No response_

### Additional Information 补充信息

_No response_

[2022-03-23 13:44] HEIGE-PCloud commented on #528
Reopen after more info is provided.

[2022-03-23 13:44] #528 closed, assigned to nobody

[2022-03-23 17:17] LITUATUI opened #529 "[FEATURE] Add support for modern image formats (AVIF, JXL and WebP)"
Support for modern image formats is a great way to improve the speed of a website.

The [Hugo Clarity](https://github.com/chipzoller/hugo-clarity) theme has a great way of dealing with new image formats like AVIF, JXL or WebP.

Implemented this way would have no disadvantages even for old browsers that don't support modern image formats.

Then we can use [ImageMagick](https://github.com/ImageMagic

[2022-03-24 00:01] HEIGE-PCloud opened #534 "[FEATURE/shortcode] Load code from local code files and add syntax highlighting"
### Describe the feature you want 描述你的功能需求

_No response_

### Useful reference 有价值的参考

https://gohugo.io/templates/files/

[2022-03-24 00:06] HEIGE-PCloud opened #535 "[FEATURE/render hook] Migrate image shortcode functions to the default image render hook"
### Describe the feature you want 描述你的功能需求

_No response_

### Useful reference 有价值的参考

https://gohugo.io/templates/render-hooks/

[2022-03-24 10:42] HEIGE-PCloud opened #537 "[Bug] 脚注被导航栏覆盖住"
### Discussed in https://github.com/HEIGE-PCloud/DoIt/discussions/536

<div type='discussions-op-text'>

<sup>Originally posted by **AmenLemon** March 24, 2022</sup>
https://hugodoit.pages.dev/zh-cn/basic-markdown-syntax/#%E5%9B%BE%E7%89%87
比如demo网站里
从文章跳到文末脚注没有问题，如果从文末脚注往文章上跳转，就会被导航盖住。
不知道大家有没有什么好的办法可以解决
</div>

[2022-03-24 11:02] #537 closed, assigned to HEIGE-PCloud

[2022-03-25 14:05] SpZanG opened #539 "[BUG] 搜索結果展示BUG"
### Describe the bug 描述你遇到的错误

在搜索條顯示搜索結果的時候，如果被展示/搜索的文章内包含有HTML代碼，那麽，文章内的HTML代碼就會解析，然後在搜索條展示出來。

同樣，如果搜索HTML 或者 JS 代碼，那些搜索的代碼也會被執行。

### Expected behavior 期待的行为

對搜索條輸出的結果進行轉義，讓搜索結果以文字的形式展示。
如果這是一個feature的話，希望能增加一個選項，讓搜索結果以文字的形式展示，不解析/執行搜索結果中的HTML, JS代碼。

### Screenshots 屏幕截图

例如，我在一篇文章裏插入了一段HTML 的代碼，并且把代碼放到了`CODE` 的標簽裏。在文章中，HTML代碼以文字的形式展示出來。但是在搜索結果中，卻被解析成了HTML代碼
![1](https://user-images.githubus

[2022-03-26 09:39] rolandjitsu opened #540 "[FEATURE] Remove custom scrollbar styling"
### Describe the feature you want 描述你的功能需求

I recommend removing the custom scrollbar styling for a couple of reasons:
1. It's not possible for a user to restore the native behaviour (the scrollbar goes away if you don't scroll) - or I'm not aware of how;
2. It takes unnecessary attention; at least in dark mode it's very obvious.

Or maybe make it so it's easy to disable the theme behaviour and us

[2022-03-26 11:56] HEIGE-PCloud commented on #540
To disable the custom scrollbar, simply remove these few lines. You probably want to set the [color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme) as well so the native scroll bar fits the dark mode.

https://github.com/HEIGE-PCloud/DoIt/blob/8e778b4e8437c679fdd640817f7e4c04463dc9aa/assets/css/_core/_base.scss#L18-L30

1. What browser are you using? On desktop, neither Chro

[2022-03-26 12:11] rolandjitsu commented on #540
@HEIGE-PCloud thanks for the quick response!

Sorry, I should have stated my env:
1. macOS 11.6.2
2. Chrome 99.0

And yes, you're right, the `-webit-*` prefix does not affect Firefox. So I'm seeing the customisation applied in:
1. Chrome 99.0
2. Safari 15.2
3. Edge 99.0

And I guess the auto hide behaviour is only present on macOS. Same with the thickness, it's thinner on my OS, when using native

[2022-03-26 14:08] #540 closed, assigned to nobody

[2022-03-26 14:09] HEIGE-PCloud commented on #540
Set

[code]

in your_site/assets/css/_override.scss can disable the custom scrollbar.

[2022-03-26 14:43] rolandjitsu commented on #540
@HEIGE-PCloud that was fast! Thanks a lot!

[2022-03-28 11:17] nopdan opened #543 "[BUG] 代码块过长显示不全"
### Describe the bug 描述你遇到的错误

在看 [官网教程](https://hugodoit.pages.dev/zh-cn/theme-documentation-basics/#site-configuration) 的时候发现，网站配置处的代码块长达 690 行，实际只能显示 612 行。

### Expected behavior 期待的行为

显示完全部的代码行，或者达到一定长度后加一个滚动条

### Screenshots 屏幕截图

![问题](https://s2.loli.net/2022/03/28/OyCmr5BLUskWD6w.png)

### Build Environment 构建环境

_No response_

### Preview Environment 预览环境

- OS: windows 10
- Browser: E

[2022-03-28 11:42] HEIGE-PCloud commented on #543
@cxcn 代码块完全展开/部分展开+滚动条，你觉得哪一种更好一些？

https://do-it-git-fix-max-height-pcloud.vercel.app/zh-cn/theme-documentation-basics/#site-configuration

[2022-03-28 11:44] nopdan commented on #543
@HEIGE-PCloud  个人倾向于 部分展开+滚动条

[2022-03-28 11:48] #543 closed, assigned to HEIGE-PCloud

[2022-03-28 13:55] ryan4yin opened #545 "[BUG] Uncaught Error in Homepage"
### Describe the bug 描述你遇到的错误

When accessing the blog's home page, the console will report an error:

[code]

demo site:

- https://cxcn.xyz/
- https://thiscute.world/

Both `Firefox 98.0.2(64bits)` and `Chrome 99.0.4844.83 (Official Build) (x86_64)` report this error.

### Expected behavior 期待的行为

no errors.

### Screenshots 屏幕截图

<img width="1419" alt="image" src="https://user-images.githubuser

[2022-03-28 14:17] #545 closed, assigned to nobody

[2022-03-28 14:40] ryan4yin commented on #545
thanks~

[2022-03-29 07:43] coderiy opened #546 "添加阅读模式按钮"
### Describe the feature you want 描述你的功能需求

如下图所示，点击阅读模式按钮可以隐藏评论等无关内容，专注于阅读
![image](https://user-images.githubusercontent.com/44196120/160559585-48da7b79-6849-4783-9f03-5fb9981674b9.png)
![image](https://user-images.githubusercontent.com/44196120/160559713-51ae8b1c-ee52-47ba-b314-4b7df7a0ce3d.png)

### Useful reference 有价值的参考

参考这个博客:[https://bbing.com.cn/202201/glibc-exit/#comments](https://bbin

[2022-03-29 12:59] WingsZeng opened #547 "[BUG] 首页摘要公式未被渲染"
### Describe the bug 描述你遇到的错误

首页文章摘要中的 katex 公式不会被渲染.

### Expected behavior 期待的行为

摘要中的 katex 数学公式能够渲染

### Screenshots 屏幕截图

![Screenshot from 2022-03-29 20-56-45](https://user-images.githubusercontent.com/50052878/160616206-d0bc09d5-c89e-42d5-a8b5-b4374954377f.png)

### Build Environment 构建环境

Theme version: https://github.com/HEIGE-PCloud/DoIt/commit/1c13f5a4e6fc2e8de4f900719a95ffbafe2897d4
H

[2022-03-29 23:08] HEIGE-PCloud commented on #547
具体哪些区域中的内容需要被 KaTeX 渲染呢？

自从上次发现 KaTeX 与 Waline 评论区有冲突之后，我把 KaTeX 的渲染范围局限在了 #content 中。

https://github.com/HEIGE-PCloud/DoIt/commit/c57591bea16ce80279231ffb4df826132b944ccb

除去首页文章摘要之外，还有哪些区域需要 KaTeX 支持呢？标题？table of content？还是说我应该仅排除 #comment 元素，依旧渲染剩余的所有页面？

Reference:
https://katex.org/docs/autorender.html
ignoredClasses: This is a list of DOM node class names to ignore when recursing through.

[2022-03-30 12:44] #547 closed, assigned to nobody

[2022-03-30 13:05] HEIGE-PCloud commented on #529
WebP is supported on almost all modern browsers, AVIF is not supported on Safari and JXL is not supported on almost any browsers. It does not make much sense to use a "fallback" strategy in this situation. I suggest only using the WebP format for better image performance.

Instead of creating a custom pipeline, I think it might be possible to use some API service (either self-host or online-provid

[2022-03-30 13:06] WingsZeng commented on #547
抱歉没能及时回复.

我认为仅排除 comment 元素是一个很好的方法, Waline 本身支持渲染数学公式.

BTW, 7e4a164 存在一点点问题: 首页没有 id 为 `content` 的元素, 不会进入 if 分支.

[2022-03-30 13:12] HEIGE-PCloud commented on #529
https://gohugo.io/content-management/image-processing/#target-format

Well it turns out Hugo can do the conversion directly!

[2022-03-30 13:20] LITUATUI commented on #529
Hi, thanks for the reply.

I used WebP for many years in my WordPress blog because of the hype made by Google. However, it's not a good image format. It's based on the old VP8 codec, while AVIF is based on VP10/AV1.

In most cases WebP is even worse than JPG when MozJPEG encoder is used. You can see the tests on the link below.

https://siipo.la/blog/is-webp-really-better-than-jpeg

JXL has poor s

[2022-03-30 13:24] HEIGE-PCloud commented on #535
https://discourse.gohugo.io/t/pass-attributes-to-image-render-hook/36899/2

[2022-04-01 11:07] SenLief opened #551 "[FEATURE] shortcode的image提供referrerPolicy类似的属性"
### Describe the feature you want 描述你的功能需求

目前在用yuque写一些东西，语雀是不支持外链也不支持url方式的引入，不过可以通过设置referrerPolicy属性来规避一下防盗链。

### Useful reference 有价值的参考

主要是想用语雀作为hugo的后端编辑器和管理，需要处理一下防盗链的问题，同时也想用shortcode的image来实现点击放大的功能，不知道能否提供类似于<img src="" referrerPolicy="no-referrer" />这类的效果。

[2022-04-03 13:32] rolandjitsu opened #554 "[BUG] Comments are not visible"
### Describe the bug 描述你遇到的错误

It seems like the comments area is not displayed after enabling it.

You can view my config at [rolandjitsu/rolandsdev.blog/config.yaml#L162](https://github.com/rolandjitsu/rolandsdev.blog/blob/628048b1856c5a91ab74383e9aaf88e0c685b75d/config.yaml#L162) and the blog at [rolandsdev.blog](https://rolandsdev.blog/).

### Expected behavior 期待的行为

I should be able to view

[2022-04-03 13:42] rolandjitsu commented on #554
My bad :laughing: I forgot to enable the parent comment section. It looks great! (though, for giscus, the theming doesn't match).

[2022-04-03 13:42] #554 closed, assigned to nobody

[2022-04-03 13:43] Meyerclex commented on #554
😥Meet the same bug too. The system I used is Waline. But I could see your comment below the article, did you solve that?

[2022-04-03 13:48] rolandjitsu commented on #554
@Meyerclex it turns out I just missed a config.

Before:
[code]

After:
[code]

But it's a little confusing to allow many comment systems at the same time 😕 I'd imagine most users would use a single one? 🤷

In any case, I'm loving how easy it is to configure all that!

[2022-04-03 14:05] Meyerclex commented on #554
It still doesn't work with Waline but it does with Utterances. I can‘t find the problem, guess I can only change a comment system😥Thanks for your help!

[2022-04-03 19:35] kaushalmodi commented on #167
For any ox-hugo user coming across this issue thread, you can make ox-hugo export your author list in `authors` front-matter instead of the default `author` by adding this at the top of the Org file(s):

[code]

This key replacement feature is documented [here](https://ox-hugo.scripter.co/doc/replace-front-matter-keys/#replace-author-with-authors).

Ref: https://github.com/kaushalmodi/ox-hugo/issu

[2022-04-05 06:56] wyxogo opened #558 "[BUG] Page style error with "wide""
### Describe the bug 描述你遇到的错误
当页面样式设置为wide时，右侧出现异常如下
![image](https://user-images.githubusercontent.com/61509470/161696706-9588328e-5819-4f12-ac4d-3ff18bd5c947.png)

[2022-04-05 10:04] #558 closed, assigned to nobody

[2022-04-05 10:21] #539 closed, assigned to nobody

[2022-04-05 10:22] HEIGE-PCloud commented on #535
Probably not a good idea.

[2022-04-05 10:22] #535 closed, assigned to nobody

[2022-04-05 10:28] HEIGE-PCloud commented on #551
可以自行修改 meta.html

https://github.com/HEIGE-PCloud/DoIt/blob/main/layouts/partials/head/meta.html

或者 image.html

https://github.com/HEIGE-PCloud/DoIt/blob/main/layouts/partials/plugin/image.html

或者使用正经 CMS 如 [Netlify CMS](https://www.netlifycms.org/docs/hugo/) 和 [Forestry](https://forestry.io/)

Reference:
https://github.com/x-cold/yuque-hexo/issues/41

[2022-04-05 10:28] #551 closed, assigned to nobody

[2022-04-05 10:31] HEIGE-PCloud commented on #546
1. 一个很宽的页面并不适合阅读：

中文排版时，每行文字最优的个数是多少？ - 钱争予的回答 - 知乎
https://www.zhihu.com/question/19621078/answer/21969751

2. 隐藏侧边目录反而会让浏览与跳转更困难。
3. 顶部跳转栏的高度只有 3.5rem，与其隐藏他不如点一下 F11 全屏看效果更显著。

[2022-04-05 10:31] #546 closed, assigned to nobody

[2022-04-07 13:11] WingsZeng opened #562 "[BUG] 网站分析如 google analytics 无法追踪页面"
### Describe the bug 描述你遇到的错误

由于使用 pjax, 网站分析如 google analytics, 无法追踪浏览的页面. google analytics 具体表现为统计到的页面为第一次加载时的链接, 站内链接跳转无法追踪.

相关资料:
- https://github.com/MoOx/pjax/issues/56
- https://github.com/jerryc127/hexo-theme-butterfly/issues/516
- https://developers.google.com/tag-platform/gtagjs/reference#event
- https://developers.google.com/tag-platform/gtagjs/reference/events#page_view

### Expected

[2022-04-11 03:26] kkbt0 opened #568 "[FEATURE] Code-Block-Fullscreen"
### Describe the feature you want 描述你的功能需求

I noticed that a scroll bar was added to the code block in the update. This does provide convenience for quick browsing, but reading the code is a little cumbersome. I have seen such a solution, that is, full screen code blocks. It should be able to solve the problem of reading code.

WordPress Theme Sakura does this, and the theme has a hexo version.

[

[2022-04-11 14:37] #491 closed, assigned to nobody

[2022-04-11 15:17] HEIGE-PCloud commented on #562
有趣的是，其他的 analytics 大多都对 pjax 有直接的支持。。。

https://developers.cloudflare.com/analytics/web-analytics/getting-started/web-analytics-spa/
https://umami.is/docs/faq
https://plausible.io/docs/spa-support

[2022-04-11 15:18] #562 closed, assigned to nobody

[2022-04-12 02:48] ericsun95 opened #572 "[BUG] Timestamp can't show up correctly"
### Describe the bug 描述你遇到的错误

 All the date become 0001-01-01 ...

### Expected behavior 期待的行为

Show the normal timestamp configured from date and lastmod

### Screenshots 屏幕截图

![Screen Shot 2022-04-11 at 9 45 19 PM 1](https://user-images.githubusercontent.com/31479694/162869250-b06bce41-dd12-4e55-acb2-97fe85d223e2.png)

### Build Environment 构建环境

hugo latest version

### Preview Environment 预览

[2022-04-12 03:04] ericsun95 commented on #572
Found I should use 2014-02-26T04:32:28+08:00 instead of 2014-2-26T04:32:28+08:00 to show the timestamp correctly.

[2022-04-12 03:04] #572 closed, assigned to nobody

[2022-04-17 13:50] Woodencross opened #574 "[BUG] 搜索结果高亮显示错误"
### Describe the bug 描述你遇到的错误

搜索结果中的高亮被显示为 html 标签文本。

### Expected behavior 期待的行为

正确高亮显示搜索结果。

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/41176535/163717089-d14fb558-83d1-4454-b737-08bfe3298394.png)

### Build Environment 构建环境

- OS: Windows 11
- Theme version: 0.2.13latest, commit 8e39bfeb13a2cd2bfb487c5688b5e70f29a38061
- Hugo version: 0.96.0 extended
在演示站点上也存在同样

[2022-04-17 15:41] #574 closed, assigned to nobody

[2022-04-18 09:33] Woodencross opened #575 "[BUG] <style> shortcode seems not working correctly until refreshing."
### Describe the bug 描述你遇到的错误

My \<style\> shortcode be like this:
[code]
but it rendered as:
![image](https://user-images.githubusercontent.com/41176535/163783947-47c144f9-8108-4cdb-85ae-5dfde2b9a20a.png)
and it became what it should be after I refresh the website:
![image](https://user-images.githubusercontent.com/41176535/163786471-c8b3c587-c86a-4433-8421-8c1a7acab80b.png)

Also, this occurs t

[2022-04-18 13:28] #575 closed, assigned to nobody

[2022-04-21 03:42] HuangPingyang1 opened #577 "[BUG] partials/meta/author.html:8: unclosed action."
使用Github Action编译时出错了。

Error: add site dependencies: load resources: loading templates: ./themes/DoIt/layouts/partials/meta/author.html:8:1": parse failed: template: partials/meta/author.html:8: unclosed action.

[2022-04-21 08:24] HEIGE-PCloud commented on #577
https://github.com/HuangPingyang1/HuangPingyang1.github.io/blob/8a81bd79e2b57b5adecdfb4ee2797dbf93c4b5b0/.github/workflows/gh-pages.yml#L22

你的 Hugo 版本太老了。请使用至少 0.83 以上的版本，且建议开启 extend。

[2022-04-21 08:24] #577 closed, assigned to nobody

[2022-04-24 11:11] CXwudi opened #580 "[BUG] TOC overlaps with featured image for certain width when `pageStyle = "wide"`"
### Describe the bug 描述你遇到的错误

By setting `pageStyle` to `wide`, I got this overlapping issue as shown in the screenshots.
Same can be reproducible on demo site when setting `pageStyle = "wide"`.

### Expected behavior 期待的行为

Overlaps should not happen no matter if `pageStyle` is `wide` or `normal`

### Screenshots 屏幕截图

![](https://user-images.githubusercontent.com/17377423/164971300-c00d43e3-f68

[2022-04-24 11:29] CXwudi commented on #580
If you have already dropped supports for wide page style as mentioned [here](https://github.com/HEIGE-PCloud/DoIt/pull/426#issuecomment-1001008780), then simply ignore and close this issue

[2022-04-25 17:01] HEIGE-PCloud opened #583 "chore(deps): migrate to Waline 2.0"
#581
https://waline.js.org/en/migration/client.html

[2022-04-26 08:09] stimw opened #584 "[BUG] DevTools failed to load source map"
----Update ↓----
It even appears on the DoIt official demo site...
----Update ↑----

### Describe the bug 描述你遇到的错误

Hello, I met this error whether on LoveIt or DoIt:

The Chrome says:
DevTools failed to load source map: Could not load content for http://localhost:1313/sm/5d8a97cdb40a6c49031b52d63494a6eca084416b5b035e5698fdc5fa0969b2c3.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_

[2022-04-26 10:47] HEIGE-PCloud commented on #584
It is the source map for normalise.css

https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css

It does not cause any problem.

[2022-04-26 10:47] #584 closed, assigned to nobody

[2022-04-28 09:09] stimw opened #586 "[BUG] Waline: can't disable uploadImage"
### Describe the bug 描述你遇到的错误

can't disable uploadImage in waline...

even though I set it to false both `uploadImage` and `imageUploader`(2.0)

[code]

my config file:

https://github.com/stimw/blog.stimw.com/blob/56685a919fcca363a459fc25e1a8eb40a36163f6/config/_default/params.toml#L215

test blog page:

https://blog.stimw.com/posts/use-picgo-cloudflare-b2-with-typora/#typora

### Expected behav

[2022-04-29 17:03] wowow005 opened #590 "文章日期错误"
### Describe the bug 描述你遇到的错误

在主页显示的日期和文章页面的日期显示错误,  不知道是怎么回事.

### Expected behavior 期待的行为

_No response_

### Screenshots 屏幕截图

![image](https://user-images.githubusercontent.com/61683315/165989392-c7a445bf-e2e3-40cd-a13b-9978a2f8c078.png)

![image](https://user-images.githubusercontent.com/61683315/165989432-04bc8818-c878-40c6-b2c8-b464ace9b287.png)

### Build Environment 构建环境

hugo v0.95.0-DE

[2022-04-30 11:55] wowow005 commented on #590
应该是 config.toml 中某一项设置冲突了, 我调着调着就好了.

[2022-04-30 11:55] #590 closed, assigned to nobody

[2022-05-06 07:14] kkbt0 commented on #568
我尝试了下,在 themes\DoIt\assets\js\theme.js 的 `$title.addEventListener('click', () => { })` 下增加使用 requestFullscreen() 这样的 API 实现全屏，虽然和预期不同，但是手机上显示效果还不错。

[2022-05-09 10:15] #583 closed, assigned to nobody

[2022-05-09 10:16] #586 closed, assigned to nobody

[2022-05-10 15:02] ryan4yin commented on #568
我也觉得当前代码块的处理方式有点不合适，max_height 比较小，而且无法自定义。

我观察到 CodeIT 的做法是在 `assets/css/_partial/_single/_code.scss` 里设置了一个非常大的 max_height

[code]

感觉 CodeIT 这种做法挺合理的，代码块太长的话默认会被收起，我如果点击展开，当然是希望直接查看代码的所有内容。

[2022-05-10 15:12] ryan4yin commented on #568
比如我有些文章中会用代码块来展示 ascii 字符画，当前 DoIt 设置的 max_height 就有点不够用，画的下面几行会被折叠，需要往下滑动才能看到。效果就有些差：

但是同样的 ascii 字符画在 github 里是能正常展示的，并且也可以左右拖动：
[code]

[2022-05-10 15:15] ryan4yin commented on #568
顺便我觉得这个 idea 的效果也很棒~

[2022-05-12 03:26] Thanatermesis opened #601 "Asciidoc documents doesn't generate TOC"
This theme is almost perfect, featured, and good looking, unfortunately, there's only the TOC that doesn't with asciidoc posts, the TOC looks simply empty, seems like to be the same issue as in the deprecated loveit bug report: https://github.com/dillonzq/LoveIt/issues/566 (you can see examples and more details about the TOC issue here)

Note: to enable hugo to render asciidoc posts too you must i

[2022-05-12 08:54] HEIGE-PCloud commented on #601
The reason TOC does not work is because it relies on the `.headerLink` class to select all header elements.

https://github.com/HEIGE-PCloud/DoIt/blob/f065e2076c5a85980efe825d1ff35d037c7cfc2a/layouts/_default/_markup/render-heading.html#L17

Ultimately, you want to generate some HTML like this.
[code]

I am not sure how you can do this with asciidoc...

[2022-05-12 09:00] HEIGE-PCloud commented on #601
For the code block, it is the same story, asciidoctor does not generate syntax highlightning by default.

[code]

It has to tokenize and generate syntax highlighting somehow for the CSS style to apply.

Ultimately, you want to generate some HTML like this.

[code]

[2022-05-12 14:43] HEIGE-PCloud opened #607 "[license] Replace lightGallery with PhotoSwipe"
https://github.com/dimsemenov/photoswipe

[2022-05-12 14:43] HEIGE-PCloud opened #608 "[license] Replace typeit with typed.js"
https://github.com/mattboldt/typed.js

[2022-05-12 17:07] Thanatermesis commented on #601
After doing some tests and reading some things on google I found how the TOC Asciidoc can be generated, it basically needs these entries:

[code]

About the syntax highlighting, I'm reading [this howto](https://blog.arkey.fr/2020/04/23/tackling-hugo-integration-of-asciidoctor/) which seems like to make it working is needed that the theme supports highlight.js , which syntax theme DoIt uses?

[2022-05-12 17:23] HEIGE-PCloud commented on #601
For the toc, yes you do need to first enable it in this way. But this does not solve all the problems, the generated toc will not be responsive to scrolling as reported here #566. The reason is because the CSS and JavaScript code uses a class selector `.headerLink` to grab the headings and render them correctly, but the headings generated by asciidoc does not contain this class. I wonder whether t

[2022-05-13 21:06] HEIGE-PCloud commented on #568
我不打算实现这个全屏的功能。我用了另一种方式修复了过长代码会被隐藏的问题。如果需要全屏阅读，那么按 F11 使用浏览器的原生全屏功能就完全足够了。

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/52968553/168389609-7fcbdddb-3e27-4388-b64e-ae61e155e097.png">

[2022-05-13 21:07] #568 closed, assigned to nobody

[2022-05-13 21:07] #580 closed, assigned to nobody

[2022-05-16 02:38] Thanatermesis opened #612 "(new) google-analytics doesn't work?"
I just created a google analytics account for my new blog and the code is not UA-XXXXXXXX-X but instead G-XXXXXXXXXX (new system? I don't see how to get the UA version), it doesn't seems to count my first visits, is this change the cause of it?

[2022-05-16 03:24] Thanatermesis opened #613 "Code content doesn't render newlines"
I was reading the documentation and seems like there's a small issue in the **11.2 code content** of https://hugodoit.pages.dev/theme-documentation-extended-shortcodes/#simple-content , where seems like the newlines are not rendered

[2022-05-16 04:05] Thanatermesis opened #614 "Adding a 'custom' entry in the footer shifts the size down"
If you add a value in the 'custom' of the footer configurations, this adds a new line, but then the website looks to be shifted down an extra space that even adds the scrollbar when not needed

let me try to explain better with a screenshot:

normal mode:
![image](https://user-images.githubusercontent.com/1181626/168517954-389bac3c-44ab-4ca4-8341-f84828523a05.png)

after to add a custom value:
![i

[2022-05-16 08:32] HEIGE-PCloud commented on #613
https://github.com/HEIGE-PCloud/DoIt/blob/5a23fa10c1cfd227e7c3d664f1a3f26313130fc4/layouts/shortcodes/typeit.html#L8-L15

DoIt uses some dirty hack to process the code block for TypeIt, the code block HTML generated by Hugo is changed from 0.93.0 which causes this problem.

The issue is also tracked here #515

[2022-05-16 08:32] #613 closed, assigned to nobody

[2022-05-16 08:51] HEIGE-PCloud commented on #612
<img width="1080" alt="image" src="https://user-images.githubusercontent.com/52968553/168554668-5109c966-af00-4117-b8ab-a756083a56fd.png">

It is working on my side.

https://github.com/HEIGE-PCloud/DoIt/blob/326f5aae7f8bb49206ce3009c0353cd6074b6130/layouts/partials/plugin/analytics.html#L3-L11

The config for ga is the one to config the new G-XXXXXXXXXX id.

Check:
1. Whether you have enabled it

[2022-05-16 08:51] #612 closed, assigned to nobody

[2022-05-16 11:19] HEIGE-PCloud opened #616 "[Performance]: Replace fontawesome `all.min.css` with individual svgs"
- [ ] Upgrade fontawesome to v6
- [ ] Create partial and shortcode for fontawesome https://www.client9.com/using-font-awesome-icons-in-hugo/
- [ ] Use [`resource.GetRemote`](https://gohugo.io/hugo-pipes/introduction/#get-resource-with-resourcesget-and-resourcesgetremote) to get svgs from [CDN](https://www.jsdelivr.com/package/npm/@fortawesome/fontawesome-free?path=svgs%2Fsolid) during build time.

[2022-05-18 13:15] #614 closed, assigned to nobody

[2022-05-21 08:05] wyxogo opened #623 "the ’profile avatar alt‘ should be user-defined"
### Describe the feature you want

The image of the home page is expected to be able to customize the mouse hover "Alt", the default is the image link "SRC".
![image](https://user-images.githubusercontent.com/61509470/169642229-ce3b8904-9c49-481a-844b-477b794b15f0.png)

[2022-05-25 01:27] natsuboy opened #627 "[BUG] Shortcode加载不出来"
### Describe the bug 描述你遇到的错误

1. gist shortcode 刷新一次才能加载出来，与 https://github.com/HEIGE-PCloud/DoIt/issues/575 类似；
2. tweet、vimeo、youtube shortcode加载不出来。

页面链接：https://www.alphabeta.top/theme-documentation-built-in-shortcodes/

### Expected behavior 期待的行为

正常加载

### Screenshots 屏幕截图

<img width="806" alt="image" src="https://user-images.githubusercontent.com/64178062/170158591-bb11b2c6-f736-4bed-a5

[2022-05-27 22:45] HEIGE-PCloud commented on #627
GitHub gist 使用 `document.write` 向 DOM 写入内容，这种方式在 pjax 加载的情况下会[产生问题](https://stackoverflow.com/questions/24297829/execute-write-on-doc-it-isnt-possible-to-write-into-a-document-from-an-asynchr)。

可以通过[重载 `document.write`](https://gist.github.com/danshearmur/1993718) 的方法来绕过这一限制，但是相比于选择这种 dirty hack，我更倾向与通过 [`resources.GetRemote`](https://gohugo.io/hugo-pipes/introduction/) 重写一个在 `hugo build` 阶段渲染 gi

[2022-05-27 22:45] #627 closed, assigned to nobody

[2022-05-27 22:48] HEIGE-PCloud opened #629 "[shortcode] A brand new GitHub gist shortcode that supports SSR"
### Describe the feature you want 描述你的功能需求

_No response_

### Useful reference 有价值的参考

https://gohugo.io/hugo-pipes/introduction/

[2022-05-28 06:36] natsuboy opened #630 "[BUG] 首页底部文章跳转详情后定位不对"
### Describe the bug 描述你遇到的错误

首页滑到底，点击最下面的文章进入详情后会直接定位在文章的末尾，但是如果在首页滑到底后再往上滑一点，再点进去就不会直接到底。

### Expected behavior 期待的行为

进入文章详情后不会直接到底。

### Screenshots 屏幕截图

https://user-images.githubusercontent.com/64178062/170813596-9be9106b-ce8f-48d7-8517-7cc104eb0809.mov

### Build Environment 构建环境

_No response_

### Preview Environment 预览环境

_No response_

### Additional Information 补充信息

_No response_

[2022-05-28 12:18] wyxogo opened #631 "Article home page image hover image URL instead of Title"
### Describe the bug 描述你遇到的错误

Article home page image hover image URL instead of   Title
![image](https://user-images.githubusercontent.com/61509470/170825111-86be38e9-c55b-4085-b345-2eced8d3c563.png)

### Expected behavior 期待的行为

display  article “title”

### Screenshots 屏幕截图

_No response_

### Build Environment 构建环境

_No response_

### Preview Environment 预览环境

_No response_

### Additional In

[2022-05-28 13:54] HEIGE-PCloud commented on #631
你需要正确配置文章摘要。文章的摘要会被显示为 img title。
![image](https://user-images.githubusercontent.com/52968553/170828441-1633490e-2373-4c41-9a17-a30da3aac245.png)

https://github.com/HEIGE-PCloud/DoIt/blob/fce285751f7ae1b2b4b9dc848fe32a1d10bac786/exampleSite/content/posts/theme-documentation-basics/index.zh-cn.md?plain=1#L20-L23

[2022-05-28 13:54] #631 closed, assigned to nobody

[2022-05-29 07:38] ryan4yin opened #632 "[BUG] 连续使用多个 Music Shortcodes 时歌曲无法被正常渲染"
### Describe the bug 描述你遇到的错误

一篇文章中如果使用了多个 music shortcodes，并且它们之间无任何填充，会导致 aplayer/meting-js 未被页面载入，歌曲无法显示，示例如下：

[code]

这样渲染出的页面无法显示歌曲，有 meting-js 标签但是无任何内容：

[code]

本地测试发现在文章里随便加点东西，偶尔又能正常渲染出歌曲，偶尔又不行，没找到规律。

推测是 music 这个 shortcodes 的 `{{- .Page.Scratch.SetInMap "this" "music" true -}}` 这一行有些问题，但是水平有限无法解决。

### Expected behavior 期待的行为

只要正确使用了 music shortcodes，就应该能渲染出歌曲来。

### Screenshots 屏幕截

[2022-05-29 08:07] ryan4yin commented on #632
目前只发现一篇文章有这个问题，我换成了 playlist 仍然无法解决，文章地址：

<https://thiscute.world/posts/weeds-on-this-side-flowers-on-the-other/>

markdown 内容：

<https://raw.githubusercontent.com/ryan4yin/thiscute.world/main/content/posts/weeds-on-this-side-flowers-on-the-other/index.md>

[2022-05-29 22:00] HEIGE-PCloud commented on #632
https://github.com/ryan4yin/thiscute.world/blob/b88a94d03f5b00460b116ee018e7bbf90d90364c/layouts/shortcodes/statistics_summary.html#L3

`.WordCount` 似乎会带来 side effect 然后把所有 .Scratch 里的 map data 清空。将 `.WordCount` 替换成任意其他数值均可正常渲染。（如 `{{ $scratch.Add "wordcount" 0 }}`）

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/52968553/170892856-2fc2ad78-fc11-4e6b-94a3-13f9c1a7897e

[2022-05-29 22:01] HEIGE-PCloud commented on #632
DoIt 自身的实现并没有问题，无论多少个 music shortcode 都可以正常渲染 https://hugodoit.com/music-tests/

[2022-05-29 23:11] HEIGE-PCloud commented on #632
将 Categories 改为 `categories: ["随笔"]` 也可以修复这个问题。给我整不会了。。。

[2022-05-30 02:53] ryan4yin commented on #632
我测试发现这样的修改实际上是没用的，是在本地预览的时候，对文章随便做点小改动，动态更新后问题就修复了，但是 ctrl+c 退出后重新运行预览命令，问题就又出现了。

[2022-05-30 02:55] ryan4yin commented on #632
@HEIGE-PCloud `{{ $scratch.Add "wordcount" 0 }}` 这个我试了下好像也没用，不知道是啥问题 emmm，我也只在这一篇文章上遇到了这个毛病...

[2022-05-30 05:37] HEIGE-PCloud commented on #632
@ryan4yin 你预览的时候记得开 —disableFastRender

[2022-06-07 03:44] Thanatermesis opened #637 "Slug rewrite doesn't change the URL name"
I'm adding a page different than the english version and in the fronmatter I set a desired slug like:

but seems like ignored and the English slug is used instead

[2022-06-07 08:43] HEIGE-PCloud commented on #637
Use `url: "/my-nice-url"`

[2022-06-07 08:43] #637 closed, assigned to nobody

[2022-06-08 18:40] ryan4yin commented on #632
@HEIGE-PCloud 今天 `brew upgrade` 更新了一波本地环境，莫名其妙地 music 跟 mermaid 两个 shortcodes 又恢复正常了（之前这两个都有问题）。
但是仅仅是本地构建恢复了...同样的构建命令，同样的 hugo 版本号，构建出的结果不一样...

本地环境：

 - OS Version: MacOS 12.3.1
 - Hugo Version: hugo v0.100.1+extended darwin/amd64 BuildDate=unknown
 - Theme Version: d98f7076a171d8e94f1afba2fedb62b90998233a

构建日志：

[code]

产生的静态文件变更（mermaid 正常了）：<https://github.com/ryan4yin/thiscute.world/commi

[2022-06-08 22:09] HEIGE-PCloud commented on #630
我在 Firefox 上复现成功了，在 Chrome 上没有。在 Firefox 上有些时候 `window.scrollTo()` 没有生效，也不知道为什么。。。

[2022-06-16 17:10] seniordevops7 opened #644 "[FEATURE] Support for Google Ads"
### Describe the feature you want 描述你的功能需求

I recommend adding Google ads feature similar like: https://github.com/uPagge/uBlogger

### Useful reference 有价值的参考

https://github.com/uPagge/uBlogger

[2022-06-21 08:18] #623 closed, assigned to nobody

[2022-06-30 09:32] bwcxyk opened #649 "[FEATURE] 二级菜单"
### Describe the feature you want 描述你的功能需求

我不清楚现在有没有二级菜单的功能，如果没有希望可以增加。有这个功能的话告知一下如何配置。

### Useful reference 有价值的参考

_No response_

[2022-06-30 09:40] HEIGE-PCloud commented on #649
Duplicate #451

[2022-06-30 09:40] #649 closed, assigned to nobody

[2022-06-30 09:40] bwcxyk commented on #649
应该和这个是一样的[https://github.com/HEIGE-PCloud/DoIt/issues/451](https://github.com/HEIGE-PCloud/DoIt/issues/451)

[2022-06-30 09:54] bwcxyk opened #650 "[FEATURE] 可以隐藏语言切换按钮吗"
### Describe the feature you want 描述你的功能需求

我想隐藏语言切换按钮

### Useful reference 有价值的参考

_No response_

[2022-07-08 17:59] Thanatermesis opened #653 "RSS points to a wrong image"
### Describe the bug 描述你遇到的错误

In my blog: https://blog.thanatermesis.org the images are rendering correctly (correct link path's), but seems like the RSS feed points to a wrong image link, as we can see here:  https://blog.thanatermesis.org/en/index.xml  (search for keyword personality-empty.jpg ), so it points to / instead of the sub-url article directory

Thank you

[2022-07-13 05:34] #650 closed, assigned to nobody

[2022-07-16 19:06] yeahwong opened #654 "[FEATURE] 只保留纯黑主题与白色主题"
### Describe the feature you want 描述你的功能需求

defaultTheme = "auto"

当主题颜色设为自动时，只保留纯黑与白色，去掉dark深色模式，请问如何才能达到这种效果？

谢谢。

[2022-07-20 00:06] yeahwong opened #656 "1"
t

[2022-07-20 00:30] #656 closed, assigned to nobody

[2022-07-20 01:21] yeahwong opened #657 "仓库里面的twikoo.all.min.js过期了"
仓库里中twikoo.all.min.js不是最新版，导致评论版面有点错误，并提示评论版本不对，将js更换为最新之后就正常了。

[2022-07-22 20:46] mlazzarotto opened #660 "[BUG] Fresh new site - 'You have an incompatible update'"
### Describe the bug 描述你遇到的错误

Hi, I'm following the documentation here https://hugodoit.pages.dev/theme-documentation-basics/#basic-configuration= and I'm having a problem, as hugo doesn't start following error
[code]

Steps taken

1. `hugo new site mlazzarotto.it`
2. `cd mlazzarotto.it`
3. `git init`
4. `git submodule add https://github.com/HEIGE-PCloud/DoIt.git themes/DoIt`
5. pasted **Basic Co

[2022-07-23 23:52] HEIGE-PCloud commented on #660
Follow the documentation here to set up the config.toml
https://hugodoit.pages.dev/theme-documentation-basics/

[2022-07-23 23:52] #660 closed, assigned to nobody

[2022-07-26 15:10] #657 closed, assigned to nobody

[2022-07-28 20:21] CXwudi commented on #653
I can confirm this issue too:

This is what my sample test blog post looks like:
![image](https://user-images.githubusercontent.com/17377423/181629495-896e9b23-971e-40ea-95ca-a73355517ba6.png)

And when I subscribe to the RSS feed of my test blog, this is what it looks like in the RSS feed reader:
![image](https://user-images.githubusercontent.com/17377423/181629863-abebc634-2ec8-4436-8387-b72e7e7

[2022-08-08 16:56] kevinrobayna opened #672 "[BUG] Some features are not available on safari i.e RSS and Share links"
### Describe the bug 描述你遇到的错误

I can't share a blog on twitter or linkedin when browsing on safari. Nor I can subscribe to RSS (or see the logo or anything)

see config here https://github.com/kevinrobayna/kevinrobayna.github.io/blob/master/config.toml#L176

### Expected behavior 期待的行为

I should be able to share a post or subscribe to RSS

### Screenshots 屏幕截图

Safari
![image](https://user-images.

[2022-08-09 09:39] HEIGE-PCloud commented on #672
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/52968553/183617153-9c0cbe09-154d-47ce-baf8-062f71da811f.png">

Not sure what is going on, but the RSS icon shows up in my Safari environment...

[2022-08-11 15:19] HEIGE-PCloud commented on #653
fixed in https://github.com/HEIGE-PCloud/DoIt/commit/9beae116d0fbd62de241568e956b274f5e164d0c

[2022-08-11 15:19] #653 closed, assigned to nobody

[2022-08-11 15:19] #644 closed, assigned to nobody

[2022-08-11 23:40] #672 closed, assigned to nobody

[2022-08-12 05:51] kevinrobayna commented on #672
Oh that’s odd! Sorry about that!

[2022-08-12 07:34] kevinrobayna commented on #672
I found the reason! If you have an adblocker it might remove the links! It's weird it usually just removed cookies but i guess it doesn't like the way the share  and rss links are

[2022-08-14 07:54] pu-007 opened #681 "[FEATURE] [shortcode] QQ 空间图片"
### Describe the feature you want 描述你的功能需求

想用 QQ 空间作图床，但是有防盗链

### Useful reference 有价值的参考

可以设置  referrerPolicy 解决，修改  `layouts/partials/plugin/image.html`

[code]

[2022-08-15 03:35] pu-007 commented on #681
或许可以给 image shortcode 增加一个 noRef 的选项

[2022-08-15 07:32] HEIGE-PCloud commented on #681
请考虑使用正规图床以避免潜在的违反服务条款与丢失数据的风险。

[2022-08-15 07:32] #681 closed, assigned to nobody